<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Sponsor</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>Logo</label>
                        <label class="picture-mask text-center" style="width: 150px;">
                            <div class="image-input image-placeholder"
                                 style="height: 150px; width:150px; background-image: url({{ model.Sponsor.LogoSource() }})"></div>
                            <input style="display: none;" class="upload-picture-field" type="file" name="logo"/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="Name" name="name" class="slug-field form-control"
                               value="{{ model.Sponsor.Name }}"/>
                    </div>
                    <div class="form-group">
                        <label>Link
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" placeholder="Link" name="link" class="form-control" required
                               value="{{ model.Sponsor.Link }}"/>
                    </div>
                    <div class="form-group">
                        <label>Sponsor Group
                            <span class="text-danger">*</span>
                        </label>
                        {{ HtmlHelper.Select(SelectableHelper.SponsorGroups(), "sponsorGroupId", model.Sponsor.SponsorGroupId)|raw }}
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            {{ HtmlHelper.Checkbox("active", model.Sponsor.Active, "Active")|raw }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-sm-4">
                    </div>

                    <div class="col-sm-4" style="text-align: center">
                        <button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
                        <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
                    </div>

                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>