{% extends "Admin/Master/Master.twig" %}

{% block title %}Create User{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("user-list") }}">Users</a>
        </li>
        <li class="active">New User</li>
    </ol>

    {% include "Admin/Users/Partial/UserForm.twig" %}

{% endblock %}