@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/* ----------------------------------------------------------------
	CSS Specific to the Travel Demo

	Some of the CSS Codes have been modified from the Original
	style.css File to match the Styling of this Demo

	Version: 4.1
-----------------------------------------------------------------*/

@font-face {
	font-family: 'Contrail One', sans-serif;
	font-weight: normal;
	font-style: normal;
}

h1,
h2,
h3,
h4 {
	font-family: 'Contrail One', sans-serif;
}
#primary-menu{
	font-family: 'Contrail One', sans-serif;
}

@media (min-width: 992px) {

	#top-bar {
		z-index: 299;
		border-bottom-color: rgba(0, 0, 0, 0.05);
	}

	.top-links ul li,
	#top-social li {
		border-left-color: rgba(0, 0, 0, 0.05);
	}

	#top-bar.transparent-topbar {
		background: transparent !important;
	}

	#top-bar.transparent-topbar + #header.transparent-header + #slider,
	#top-bar.transparent-topbar + #header.transparent-header + .page-title-parallax {
		margin-bottom: -145px;
		top: -145px;
	}

}

.dark .top-links li > a {
	color: #EEE;
}

.dark .top-links li:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.dark #top-social li {
	border-left: 0;
}

.dark #top-social li a {
	color: #EEE;
}

.dark #header-wrap:not(.not-dark) #primary-menu.style-4 > ul > li:hover > a,
.dark #header-wrap:not(.not-dark) #primary-menu.style-4 > ul > li.current > a {
	border-color: rgba(255, 255, 255, 0.5);
}

.tabs.travel-organiser-tabs {
	width: 60% !important;
}

.tabs.travel-organiser-tabs {
	margin: 0;
}

.travel-organiser-tabs ul.tab-nav {
	border-bottom: 4px solid #AC4147;
}

.travel-organiser-tabs ul.tab-nav li {
	margin-left: 1px;
	border: 0;
	height: 48px;
	border-left: 0 !important;
}

.travel-organiser-tabs ul.tab-nav li:first-child {
	margin-left: 0;
}

.travel-organiser-tabs ul.tab-nav li a {
	padding: 0 20px;
	color: #FFF;
	height: 48px;
	line-height: 48px;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
	font-weight: 400;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.travel-organiser-tabs ul.tab-nav li.ui-tabs-active a {
	top: 0;
	background-color: #AC4147;
}

.travel-organiser-tabs ul.tab-nav li .label {
	margin-left: 5px;
}

.travel-organiser-tabs ul.tab-nav li a i {
	margin-right: 7px;
}

.travel-organiser-tabs .tab-container {
	padding: 40px;
	background-color: rgba(255, 255, 255, 0.9);
}

#travel-slider-overlay {
	position: relative;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body:not(.device-touch):not(.device-xs):not(.device-xxs) .portfolio-overlay-open .portfolio-item .portfolio-image img {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
}

body:not(.device-touch):not(.device-xs):not(.device-xxs) .portfolio-overlay-open .portfolio-item:hover .portfolio-image img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.portfolio-overlay-open .portfolio-overlay {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

body:not(.device-touch):not(.device-xs):not(.device-xxs) .portfolio-overlay {
	-webkit-transition: background-color .4s ease-in-out;
	-o-transition: background-color .4s ease-in-out;
	transition: background-color .4s ease-in-out;
}

.portfolio-overlay-open .portfolio-item:hover .portfolio-overlay {
	background-color: rgba(0, 0, 0, 0.4);
}

.portfolio-overlay .portfolio-desc h3 {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 18px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.footer-big-contacts {
	color: #333;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1px;
}

.footer-big-contacts span {
	display: block;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	color: #888;
	letter-spacing: 2px;
}

.dark .footer-big-contacts {
	color: rgba(255, 255, 255, 0.8);
}

.device-sm .tabs.travel-organiser-tabs {
	width: 100% !important;
}

@media (max-width: 767px) {

	#slider {
		height: auto !important;
	}

	.tabs.travel-organiser-tabs {
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
		margin-top: 0 !important;
		width: 100% !important;
	}

}

@media (max-width: 767px) {

	.tabs.travel-organiser-tabs .heading-block h4 {
		margin-bottom: 20px;
	}

	.tabs.travel-organiser-tabs .heading-block .fleft,
	.tabs.travel-organiser-tabs .heading-block .fright {
		float: none !important;
	}

}

.device-xxs .tabs.travel-organiser-tabs .more-link.fright {
	float: none !important;
}

.device-xs .tabs.travel-organiser-tabs .tab-nav i,
.device-xxs .tabs.travel-organiser-tabs .tab-nav i {
	margin-right: 0 !important;
}

#posts .entry-meta li i {
	display: inline-block;
}

.entry-c {
	overflow: visible;
}

.toggle .togglet i {
	top: 7px;
	left: 6px;
}

.more-link i {
	position: relative;
	top: 2px;
}

.checkbox-style:checked + .checkbox-style-2-label:before {
	background: #AC4147
}

.hotel-price {
	display: block;
	font-size: 30px;
	color: #AC4147;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: 1px;
}

.travel-slider .text-overlay {
	padding: 40px 25px 25px;
}

.travel-slider .text-overlay-title h3 {
	font-size: 22px;
	margin-bottom: 5px;
	letter-spacing: 1px;
}

.travel-slider .text-overlay-meta {
	color: #EEE;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.travel-slider .text-overlay-meta span:first-child {
	margin-right: 3px;
}

/* ----------------------------------------------------------------
	Canvas: Travel Demo - RTL Support
-----------------------------------------------------------------*/

@media (min-width: 992px) {

	.rtl .top-links ul li,
	.rtl #top-social li {
		border-right-color: rgba(0, 0, 0, 0.05);
	}
}

.rtl .dark #top-social li {
	border-right: 0;
}

.rtl .travel-organiser-tabs ul.tab-nav li {
	margin-left: 1px;
	margin-right: 1px;
	border-right: 0 !important;
}

.rtl .travel-organiser-tabs ul.tab-nav li:first-child {
	margin-right: 0;
}

@media (max-width: 767px) {

	.rtl .toggle .togglet i {
		right: 6px;
		left: auto;
	}
}

#page-title {
	background-color: #403f3f;
}

#page-title h1 {
	color: #fff;
}

.breadcrumb a {
	color: #ffffff;
}

.breadcrumb a:hover {
	color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 568px) {
	#logo a.standard-logo {
		display: block;
		margin-left: 60px;
		margin-top: 25px;
	}

	#posts .entry.clearfix {
		height: auto !important;
	}
}