{% set randomId = random() %}

<div class="accordion accordion-bg clearfix" id="accordion{{ randomId }}">
    {% for item in options.items %}
        {% set randomId2 = random() %}
        <h4 class="acctitle">
            <a class="accordion-toggle {% if item.state == "collapsed" or not item.state %}collapsed{% endif %}"
               data-toggle="collapse" data-parent="#accordion{{ randomId }}"
               href="#collapse_{{ randomId2 }}"
               aria-expanded="{{ item.state == "collapsed" or not item.state ? "false" : "true" }}">
                {% if item.title %}
                    <span class="acctitle">{{ item.title|raw }}</span>
                {% endif %}
                {% if item.subtitle %}
                    <span class="acctitle">{{ item.subtitle|raw }}</span>
                {% endif %}
            </a>
        </h4>
        <div id="collapse_{{ randomId2 }}"
             class="panel-collapse collapse {% if item.state == "open" %}in{% endif %}">
            <div class="acc_content clearfix">
                {{ item.text|raw }}
            </div>
        </div>
    {% endfor %}
</div>