<div class="portfolio portfolio-nomargin grid-container portfolio-notitle portfolio-full grid-container clearfix">

    {% for category in categories %}
        <article class="portfolio-item pf-media pf-icons">
            <div class="portfolio-image">
                <a href="portfolio-single.html">
                    <img src="{{ category.PictureSource("Medium") }}" alt="{{ category.GetDetails(Helper.GetLanguage()).Name }}">
                </a>
                <div class="portfolio-overlay">
                    <a href="portfolio-single.html" class="center-icon"><i class="icon-line-ellipsis"></i></a>
                </div>
            </div>
            <div class="portfolio-desc">
                <h3><a href="portfolio-single.html">{{ category.GetDetails(Helper.GetLanguage()).Name }}</a></h3>
                <span><a href="#">{{ category.GetDetails(Helper.GetLanguage()).Subtitle }}</a></span>
            </div>
        </article>
    {% endfor %}

</div>