<div id="posts" class="post-grid grid-container grid-3 clearfix" data-layout="fitRows">

    {% for chunk in model.Posts|batch(2) %}
        <div class="row">
            {% for post in chunk %}
                <div class="col-md-6">
                    <div class="entry clearfix">
                        <a href="{{ Router.Create("post", {slug: post.Slug}) }}">
                            <div class="entry-image post-image" style="background-image:url({{ post.PictureSource }})">
                            </div>
                        </a>
                        <div class="entry-title">
                            <h2><a href="{{ Router.Create("post", {slug: post.Slug}) }}">{{ post.Title }}</a></h2>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i> {{ post.Date.format("F j, Y") }}</li>
                            <li><a href="{{ Router.Create("post", {slug: post.Slug}) }}"><i
                                            class="icon-folder-open"> {{ post.Theme | raw }}</i></a></li>
                        </ul>
                        <div class="entry-content">
                            <p>{{ post.ShortDescription|slice(0,150)~ '...' }}</p>
                            <a href="{{ Router.Create("post", {slug: post.Slug}) }}"
                               class="button nomargin rightmargin-sm readmore-button">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="col-md-12">
                <div class="category-ad">
                    {{ model.Ads[loop.index0].Code|raw }}
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<div class="container" style="text-align: center;">
    <ul class="pagination">
        <li><a href="{{ model.CurrentUrl }}?page=1">1</a></li>
        {% if model.Pagination.StartEllipsis %}
            <li><a>...</a></li>
        {% endif %}
        {% for i in model.Pagination.Start..model.Pagination.End %}
            <li><a href="{{ model.CurrentUrl }}?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
        {% if model.Pagination.EndEllipsis %}
            <li><a>...</a></li>
        {% endif %}
        <li><a href="{{ model.CurrentUrl }}?page={{ model.MaxPages }}">{{ model.MaxPages }}</a></li>
    </ul>
</div>