<div class="row clearfix common-height">

    <div class="col-md-6 {% if model.Options.reverse == "on" %}col-md-push-6{% endif %} center col-padding" style="background: url('{{ model.Media.PictureSource }}') center center  no-repeat; background-size: cover;">
        <div>&nbsp;</div>
    </div>

    <div class="col-md-6 {% if model.Options.reverse == "on" %}col-md-pull-6{% endif %} col-padding" style="background-color: #F5F5F5;">
        <div>
            <div class="heading-block fancy-title nobottomborder title-bottom-border">
                <h3>{{ model.Options.title }}</h3>
            </div>
            <p>{{ model.Options.description }}</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    SEMICOLON.initialize.commonHeight($('.common-height'))
</script>