<h3>{{ options.title }}</h3>

{% for coach in coaches %}
    <div class="video" style="background-image: url({{ coach.PictureSource() }})">
        <video muted width="100%" height="100%">
            <source src="{{ coach.VideoSource() }}" type="video/mp4">
        </video>
    </div>
{% endfor %}

<script type="text/javascript">
    var figure = $(".video").hover(hoverVideo, hideVideo);

    function hoverVideo(e) {
        $('video', this).get(0).play();
    }

    function hideVideo(e) {
        $('video', this).get(0).pause();
        $('video', this).get(0).currentTime = 0;
    }
</script>