<div class="button-holder-left">
    <a class="btn btn-download btn-widget document-button with-arrow"
       href="{{ document.FileUrl() }}" target="_blank">
        {{ options.title }}
        <i class="btn-icon icon-download"></i>
    </a>
</div>