{% if model|length %}
    <section class="widget events-widget">
        <ul>
            {% for event in model %}
                {# @var event \Data\Models\Event #}
                <li>
                    <figure class="event-item">
                        <div class="media">
                            <div class="media-left">
                                <figure class="event-calendar-icon">
                                    <i class="fa fa-calendar"></i>
                                </figure>
                            </div>
                            <div class="media-body event-calendar-content">
                                <header class="clearfix">
                                    <time><i class="fa fa-clock-o"></i> {{ event.StartTime.format("d.m.Y") }} |
                                        <span>{{ event.StartTime.format("H:i") }}</span>
                                    </time>
                                    <address>
                                        <i class="fa fa-map-marker"></i>
                                        <a href="https://www.google.rs/maps/place/Franz%C3%B6sische+Stra%C3%9Fe+33D,+10117+Berlin,+Germany/@52.5152209,13.3964733,17z/data=!4m13!1m7!3m6!1s0x47a851dbda1a6467:0x61d735d27382d6a8!2sFranz%C3%B6sische+Stra%C3%9Fe+33D,+10117+Berlin,+Germany!3b1!8m2!3d52.5153265!4d13.396439!3m4!1s0x47a851dbda1a6467:0x61d735d27382d6a8!8m2!3d52.5153265!4d13.396439?hl=en" target="_blank">{{ event.GetDetails(Helper.GetLanguage()).Address }}</a>
                                    </address>
                                </header>
                                <h4 class="media-heading">{{ event.GetDetails(Helper.GetLanguage()).Title }}</h4>
                                <h5>{{ event.GetDetails(Helper.GetLanguage()).Subtitle }}</h5>
                            </div>


                            {% if event.AllowRSVP %}
                                <div class="register-rsvp">
                                    <p class="rsvp">To attend this event, please register <a>here</a></p>
                                    <form style="display: none" class="form">
                                        <div class="form-group rsvp-person-info">
                                            <div>
                                                <input type="text" class="form-control" name="firstName"
                                                       placeholder="First Name">
                                                <span class="error-message" data-error="firstName"></span>
                                            </div>
                                            <div>
                                                <input type="text" class="form-control" name="lastName"
                                                       placeholder="Last Name">
                                                <span class="error-message" data-error="lastName"></span>
                                            </div>
                                            <div>
                                                <input type="email" class="form-control" name="email"
                                                       placeholder="Email Address">
                                                <span class="error-message" data-error="email"></span>
                                            </div>
                                            <div>
                                                <input type="text" class="form-control" name="phone"
                                                       placeholder="Mobile Phone">
                                                <span class="error-message" data-error="phone"></span>
                                            </div>
                                            <div class="number-of-participants">
                                                <label>Number of Participants</label>
                                                <div class="participants-buttons participants-buttons-left">
                                                    <a data-min="1" class="btn btn-default button-minus">-</a>
                                                </div>
                                                <input type="text" class="form-control" name="participants" value="1">
                                                <div class="participants-buttons">
                                                    <a data-max="10" class="btn btn-default button-plus">+</a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Interest in the Akademie</label>
                                            <div class="form-interest">
                                                <label><input type="radio" name="interest" checked
                                                              value="Prospective Applicant"/>
                                                    <span></span>
                                                    Prospective Applicant</label>
                                            </div>
                                            <div class="form-interest">
                                                <label><input type="radio" name="interest" value="Current Applicant"/>
                                                    <span></span>
                                                    Current Applicant</label>
                                            </div>
                                            <div class="form-interest">
                                                <label><input type="radio" name="interest" value="Parent or Guardian"/>
                                                    <span></span>
                                                    Parent or Guardian</label>
                                            </div>
                                            <div class="form-interest">
                                                <label>
                                                    <input class="rsvp-other" type="radio" name="interest" value="Other"/>
                                                    <span></span>
                                                    <input type="text" name="interestOther" class="form-control"
                                                           placeholder="Other">
                                                </label>
                                            </div>
                                            <span class="error-message" data-error="interest"></span>
                                        </div>
                                        <div class="form-group">
                                            <button class="send-rsvp btn btn-admissions" name="event"
                                                    value="{{ event.EventId }}">Send
                                            </button>
                                        </div>
                                    </form>
                                    <div style="display: none" class="confirm-message">
                                        <h1>Thank you</h1>
                                        <p>for your interest in attending this event at the Barenboim-Said Akademie! Further details about this event will be sent to the address you provided. For questions about this event, please write to
                                            <a href="mailto:{{ Config.contact.admissions.email }}">{{ Config.contact.admissions.email }}</a>. We look forward to meeting you!
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </figure>
                </li>
            {% endfor %}
        </ul>
    </section>
{% else %}
    <p>There are currently no upcoming on-campus Admissions Information Sessions. If you have questions about applying, auditions, or studying at the Akademie, check out our
        <a href="/admissions/faq">Frequently Asked Questions</a>. For more information, we welcome you to connect with Admissions at
        <a href="mailto:admissions@barenboimsaid.de">admissions@barenboimsaid.de</a>.
    </p>
{% endif %}

<script type="text/javascript">
    $(".rsvp").on("click", "a", function () {
        $(this).closest(".rsvp").next("form").slideToggle();
        $(".rsvp-other").on("change", function () {
            $(this).next(".form-control").prop("disabled", $(this).is(":checked"));
        });
    });

    $("[name=interestOther]").on("focus", function () {
        $(this).closest("label").click();
    });

    $(".number-of-participants input").keydown(function (e) {
        e.preventDefault();
    });

    $(".button-plus").on("click", function () {
        var max = $(this).data("max");
        var input = $(this).closest(".number-of-participants").find("input");
        var val = parseInt(input.val());
        if (val < max) {
            ++val;
        }
        else {
            val = max;
        }
        input.val(val);
    });

    $(".button-minus").on("click", function () {
        var min = $(this).data("min");
        var input = $(this).closest(".number-of-participants").find("input");
        var val = parseInt(input.val());
        if (val > min) {
            --val;
        }
        else {
            val = min;
        }
        input.val(val);
    });

    $(".send-rsvp").on("click", function (e) {
        e.preventDefault();

        var formData = $(this).closest("form").serializeArray();
        formData.push({name: this.name, value: this.value});

        var $this = $(this);

        $.ajax({
            url: "admissions/rsvp",
            method: "POST",
            dataType: "json",
            data: formData,
            success: function (response) {
                $this.closest("form").find("[data-error]").text("");

                if (response.success == false) {
                    if (!$.isEmptyObject(response.errors)) {
                        for (var key in response.errors) {
                            if (response.errors.hasOwnProperty(key)) {
                                $this.closest("form").find("[data-error='" + key + "']").text(response.errors[key]);
                            }
                        }
                    }
                }

                if (response.success == true) {
                    $('html, body').animate({
                        scrollTop: $this.closest(".event-item").offset().top - 100
                    }, 500);

                    $this.closest(".register-rsvp").find(".confirm-message").fadeIn();
                    $this.closest(".register-rsvp").find("form").fadeOut();
                    $this.closest(".register-rsvp").find(".rsvp").fadeOut();
                }
            }
        })
    });
</script>