{# @var model \FaqViewModel #}

{% set randomId = random() %}
<div class="faq-widget">
    {% for faqGroup in model.Faq %}
        <div id="faq-widget-{{ randomId }}-{{ faqGroup.FaqGroupId }}">
            <div class="faq-group">
                <h4 class="faq-group-title">
                    <a class="accordion-toggle" data-toggle="collapse"
                       data-parent="#faq-widget-{{ randomId }}-{{ faqGroup.FaqGroupId }}"
                       href="#collapse-faq-widget-{{ randomId }}-{{ faqGroup.FaqGroupId }}">
                        <span class="secondary-title">{{ faqGroup.GetDescription(Helper.GetLanguage()).Title|raw }}</span>
                    </a>
                </h4>
                <div id="collapse-faq-widget-{{ randomId }}-{{ faqGroup.FaqGroupId }}"
                     class="panel-collapse collapse in">
                    {% for faq in faqGroup.Questions %}
                        <div class="faq-group-questions" id="faq-{{ randomId }}-{{ faq.FaqId }}">
                            <div class="faq-item">
                                <h4 class="faq-item-title">
                                    <a class="accordion-toggle {% if loop.index != 1 or loop.parent.loop.index != 1 %}collapsed{% endif %}"
                                       data-toggle="collapse"
                                       data-parent="collapse-faq-widget-{{ randomId }}-{{ faqGroup.FaqGroupId }}"
                                       href="#collapse-faq-item-{{ randomId }}-{{ faq.FaqId }}">
                                        <span class="secondary-title">{{ faq.GetDescription(Helper.GetLanguage()).Question|raw }}</span>
                                    </a>
                                </h4>
                                <div id="collapse-faq-item-{{ randomId }}-{{ faq.FaqId }}"
                                     class="faq-item-content panel-collapse collapse {% if loop.index == 1 and loop.parent.loop.index == 1 %}in{% endif %}">
                                    {{ faq.GetDescription(Helper.GetLanguage()).Answer|raw }}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>