<div class="oc-item">
    <div class="iportfolio">
        <div class="portfolio-image">
            <a {% if options.url %}href="{{ options.url }}"{% endif %}>
                <img src="{{ image.PictureSource("Medium") }}" alt="Picture">
            </a>
        </div>
        <div class="portfolio-desc center">
            <h3>{{ options.title }}</h3>
            <span>{{ options.subtitle }}</span>
        </div>
    </div>
</div>