{# @var model \MediaViewModel #}

<div class="masonry-thumbs col-{{ model.Options.numColumns }}" data-lightbox="gallery">
    {% for media in model.Media %}
        {% include "Default/Widgets/Gallery/" ~ media.MediaType.Caption ~ ".twig" with {media: media} %}
    {% endfor %}
</div>

<script type="text/javascript">
    SEMICOLON.initialize.lightbox();
</script>