{# @var model \FaqViewModel #}
<div class="row">
    <div class="col-md-2 col-sm-3">
        <figure class="history-sidebar sticky hidden-xs">
            <ul>
                {% for item in model %}
                    <li data-history-nav data-id="{{ item.HistoryId }}">
                        <a href="">{{ item.GetDetails(Helper.GetLanguage()).Title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </figure>
    </div>
    <div class="col-md-9 col-sm-9">


        <figure class="visible-xs mobile-history-nav">
            <ul class="owls1">
                {% for item in model %}
                    <li data-history-nav data-id="{{ item.HistoryId }}">
                        <a href="">{{ item.GetDetails(Helper.GetLanguage()).Title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </figure>


        {% for item in model %}
            <div class="history-item-holder wow fadeIn">
                {% set details = item.GetDetails(Helper.GetLanguage()) %}
                <div class="row">
                    <div class="col-md-{{ item.Size == "Big" ? "12" : "7" }} history-item-size-{{ item.Size }}">
                        <figure class="history-item" data-id="{{ item.HistoryId }}">
                            <header>
                                <h1>{{ details.Title }}</h1>
                                <h4>{{ details.Subtitle }}</h4>
                            </header>
                            <div class="history-description">{{ details.Description|raw }}</div>
                            {% if details.QuoteTitle or details.QuoteAuthor %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <blockquote>
                                            <h4>{{ details.QuoteTitle }}</h4>
                                            <p>{{ details.QuoteAuthor }}</p>
                                        </blockquote>
                                    </div>
                                </div>
                            {% endif %}
                            {% if details.FirstButtonText or details.SecondButtonText %}
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if details.ButtonsTitle %}
                                            <h3 class="history-buttons-title">{{ details.ButtonsTitle }}</h3>
                                        {% endif %}

                                        <div class="history-buttons-holder">
                                            {% if details.FirstButtonText %}
                                                <a href="{{ details.FirstButtonLink }}" class="btn btn-about btn-block btn-widget">{{ details.FirstButtonText }}</a>
                                            {% endif %}
                                            {% if details.SecondButtonText %}
                                                <a href="{{ details.SecondButtonLink }}" class="btn btn-about btn-block btn-widget">{{ details.SecondButtonText }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}


                        </figure>
                    </div>
                </div>

                <div class="history-widget-gallery">
                    {# @var model \MediaViewModel #}

                    {% set galleryId = random() %}
                    <div class="page-gallery">
                        <div id="gallery-{{ galleryId }}">
                            {% for media in item.HistoryMedia %}
                                <div class="carousel-cell">
                                    {% include "Default/Widgets/Gallery/" ~ media.Media.MediaType.Caption ~ ".twig" with {media: media.Media} %}

                                    <div class="gallery-footer">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="gallery-navigation">
                                                    < {{ loop.index }}/{{ item.HistoryMedia|length }} >
                                                </div>
                                            </div>
                                            <div class="col-xs-8 gallery-metadata-holder">
                                                <div class="gallery-metadata">
                                                    <p class="gallery-picture-title">{{ media.Media.GetDescription(Helper.GetLanguage()).Title }}</p>
                                                    <p class="gallery-picture-copyrights">{{ media.Media.Copyrights }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% if item.HistoryMedia|length > 1 %}
                        <script type="text/javascript">
                            $.getScript('/Theme/Default/lib/wait-for-images/jquery.waitforimages.min.js', function () {
                                $('#gallery-{{ galleryId }}').waitForImages(function () {
                                    $.getScript('/Theme/Default/lib/flickity/flickity.pkgd.min.js', function () {
                                        $('#gallery-{{ galleryId }}').flickity({
                                            prevNextButtons: true,
                                            pageDots: false,
                                            arrowShape: {
                                                x0: 10,
                                                x1: 50, y1: 35,
                                                x2: 55, y2: 30,
                                                x3: 20
                                            },
                                            wrapAround: true
                                        });
                                    });
                                });
                            });
                        </script>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    var el = $("#title-navigation-content");
    var bottom = el.offset().top + el.outerHeight(true)
    $('.sticky').sticky({topSpacing: 120, bottomSpacing: $(document).height() - bottom});
    $('.mobile-history-nav').sticky({topSpacing: 80, bottomSpacing: $(document).height() - bottom});

    $(function () {
        var oldInd = 0;
        $('.history-item').waypoint(function () {
            var itemId = $(this).data("id");
            $(".history-sidebar li").removeClass("active");
            $(".history-sidebar li[data-id=" + itemId + "]").addClass("active");
            var ind = $('.history-item').index($(this));
            if (oldInd < ind) {
                if (oldInd > 0) {
                    $('.owls1').trigger('next.owl.carousel');
                }
            }
            else {
                if (oldInd < $(".history-item").length - 1) {
                    $('.owls1').trigger('prev.owl.carousel');
                }
            }
            oldInd = ind;
        }, {
            offset: '50%'
        });
    });

    $(".owls1").owlCarousel({
        items: 3,
        navText: ["<", ">"],
        slideBy: 1,
        dots: false,
    });

    $("[data-history-nav] a").on("click", function (e) {
        e.preventDefault();
        var id = $(this).closest("li").data("id");
        $('html, body').animate({
            scrollTop: $(".history-item[data-id=" + id + "]").offset().top - 120
        }, 1000);
    });

    $(document).ready(function () {
        $('.history-widget-gallery').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: ".image-link",
                type: 'image',
                gallery: {enabled: true}
            });
        });
    });
</script>