<section class="widget important-block-widget {{ not image ? "no-picture" : "" }}" {% if image %}style="background-image: url({{ image.PictureSource() }})"{% endif %}>
    <h3>{{ options.title|raw }}</h3>
    <p class="important-block-subtitle">{{ options.subtitle|raw }}</p>

    <a href="{{ options.link }}" class="btn btn-{{ not image ? "standard" : "reverse" }}">{{ options.buttonText }}</a>

    <p class="after-button-text">{{ options.afterButton|raw }}</p>
</section>
