<div class="row clearfix">

	<div class="heading-block center">
		<h2>{{ model.Options.title }}</h2>
		<span>{{ model.Options.subtitle }}</span>
	</div>

	{% for blog in model.Blogs %}
		<div class="ipost col-sm-6 bottommargin clearfix">
			<div class="row">
				<div class="col-md-6">
					<div class="entry-image nobottommargin">
						<a href="{{ Router.Create("blog", {slug: blog.Slug}) }}"><img src="{{ blog.PictureSource("Medium") }}" alt="Paris"></a>
					</div>
				</div>
				<div class="col-md-6" style="margin-top: 20px;">
					<span class="before-heading">{{ blog.Theme }}</span>
					<div class="entry-title">
						<h3><a href="{{ Router.Create("blog", {slug: blog.Slug}) }}">{{ blog.Title }}</a></h3>
					</div>
					<ul class="entry-meta clearfix">
						<li><i class="icon-calendar3"></i> {{ blog.Date.format("d.m.y") }}</li>
						<li><a href="#"><i class="icon-comments"></i> {{ blog.Comments|length }}</a></li>
					</ul>
					<div class="entry-content">
						<p>{{ blog.GetShortDescription }}</p>
						<a href="#" class="more-link">Read more</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

</div>