<div class="row common-height clearfix">

    <div class="col-sm-5 col-padding"
         style="background: url('{{ image.PictureSource }}') center center no-repeat; background-size: cover;"></div>

    <div class="col-sm-7 col-padding">
        <div>
            <div class="heading-block">
                <h3>{{ options.name }}</h3>
            </div>

            <div class="row clearfix">

                <div class="col-md-6">
                    <p>{{ options.description }}</p>
                    <a href="{{ model.Options.url }}"
                       class="social-icon inline-block si-small si-light si-rounded icon-{{ model.Options.socialIcon }}">
                        <i class="icon-{{ model.Options.socialIcon }}"></i>
                        <i class="icon-{{ model.Options.socialIcon }}"></i>
                    </a>
                </div>

                <div class="col-md-6">
                    <ul class="skills">
                        <li data-percent="{{ options.progressI }}">
                            <span>{{ options.titleI }}</span>
                            <div class="progress">
                                <div class="progress-percent">
                                    <div class="counter counter-inherit counter-instant"><span data-from="0"
                                                                                               data-to="{{ options.progressI }}"
                                                                                               data-refresh-interval="30"
                                                                                               data-speed="1100"></span>%
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-percent="{{ options.progressII }}">
                            <span>{{ options.titleII }}</span>
                            <div class="progress">
                                <div class="progress-percent">
                                    <div class="counter counter-inherit counter-instant"><span data-from="0"
                                                                                               data-to="{{ options.progressII }}"
                                                                                               data-refresh-interval="30"
                                                                                               data-speed="1100"></span>%
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-percent="{{ options.progressIII }}">
                            <span>{{ options.titleIII }}</span>
                            <div class="progress">
                                <div class="progress-percent">
                                    <div class="counter counter-inherit counter-instant"><span data-from="0"
                                                                                               data-to="{{ options.progressIII }}"
                                                                                               data-refresh-interval="30"
                                                                                               data-speed="1100"></span>%
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-percent="{{ options.progressIV }}">
                            <span>{{ options.titleIV }}</span>
                            <div class="progress">
                                <div class="progress-percent">
                                    <div class="counter counter-inherit counter-instant"><span data-from="0"
                                                                                               data-to="{{ options.progressIV }}"
                                                                                               data-refresh-interval="30"
                                                                                               data-speed="1100"></span>%
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-percent="{{ options.progressV }}">
                            <span>{{ options.titleV }}</span>
                            <div class="progress">
                                <div class="progress-percent">
                                    <div class="counter counter-inherit counter-instant"><span data-from="0"
                                                                                               data-to="{{ options.progressV }}"
                                                                                               data-refresh-interval="30"
                                                                                               data-speed="1100"></span>%
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</div>

<script type="text/javascript">
    SEMICOLON.widget.progress();
</script>