<div id="portfolio" class="portfolio grid-container portfolio-nomargin portfolio-full portfolio-overlay-open clearfix">
	{% for offer in model.Offers %}
		<article class="portfolio-item pf-media pf-icons">
			<div class="portfolio-image">
				<a href="{{ Router.Create("offer", {slug: offer.Slug}) }}">
					<img src="{{ offer.PictureSource("Medium") }}" alt="Beach Activities">
					<div class="portfolio-overlay">
						<div class="portfolio-desc">
							<h3>{{ offer.Title|upper }}</h3>
						</div>
					</div>
				</a>
			</div>
		</article>
	{% endfor %}
</div>

<script type="text/javascript">
	$(document).ready(function () {
		setTimeout(function () {
			SEMICOLON.portfolio.portfolioDescMargin();
		}, 500)
	});
</script>