<div class="offers-with-map-widget common-height clearfix">

	<div id="popular-dest-map" class="col-md-8 col-padding gmap hidden-xs"></div>

	<div class="col-md-4 col-padding" style="background-color: #F9F9F9;">
		<div class="max-height clearfix">
			<div class="heading-block nobottommargin">
				<h4>{{ model.Options.title }}</h4>
			</div>

			{% for offer in model.Offers %}
				<div class="spost col-md-12 col-sm-6 noborder noleftpadding clearfix">
					<div class="entry-image">
						<a href="#"><img src="{{ offer.PictureSource("Small") }}" alt=""></a>
					</div>
					<div class="entry-c">
						<div class="entry-title">
							<h4><a href="#">{{ offer.Title }}</a></h4>
						</div>
						<ul class="entry-meta">
							<li><span class="color">{{ offer.Price }}</span> onwards</li>
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>


<script type="text/javascript">
	var mapElement = $("#popular-dest-map");
	var widget = mapElement.closest(".offers-with-map-widget");
	var height = widget.find(".max-height").height();
	mapElement.height(height);

	jQuery('#popular-dest-map').gMap({
		address: 'Spain',
		maptype: 'ROADMAP',
		zoom: 2,
		markers: [
			{
				address: "Melbourne, Australia",
				icon: {
					image: "/Theme/images/icons/map-icon-red.png",
					iconsize: [32, 39],
					iconanchor: [16, 36]
				}
			},
			{
				address: "Ibiza, Spain",
				icon: {
					image: "/Theme/images/icons/map-icon-red.png",
					iconsize: [32, 39],
					iconanchor: [16, 36]
				}
			},
			{
				address: "New York",
				icon: {
					image: "/Theme/images/icons/map-icon-red.png",
					iconsize: [32, 39],
					iconanchor: [16, 36]
				}
			},
			{
				address: "Rio de Janeiro, Brazil",
				icon: {
					image: "/Theme/images/icons/map-icon-red.png",
					iconsize: [32, 39],
					iconanchor: [16, 36]
				}
			},
			{
				address: "Moscow, Russia",
				icon: {
					image: "/Theme/images/icons/map-icon-red.png",
					iconsize: [32, 39],
					iconanchor: [16, 36]
				}
			},
			{
				address: "Rome, Italy",
				icon: {
					image: "/Theme/images/icons/map-icon-red.png",
					iconsize: [32, 39],
					iconanchor: [16, 36]
				}
			},
			{
				address: "New Delhi, India",
				icon: {
					image: "/Theme/images/icons/map-icon-red.png",
					iconsize: [32, 39],
					iconanchor: [16, 36]
				}
			},
			{
				address: "Bangkok, Thailand",
				icon: {
					image: "/Theme/images/icons/map-icon-red.png",
					iconsize: [32, 39],
					iconanchor: [16, 36]
				}
			},
			{
				address: "Dubai",
				icon: {
					image: "/Theme/images/icons/map-icon-red.png",
					iconsize: [32, 39],
					iconanchor: [16, 36]
				}
			},
			{
				address: "Cape Town, South Africa",
				icon: {
					image: "/Theme/images/icons/map-icon-red.png",
					iconsize: [32, 39],
					iconanchor: [16, 36]
				}
			}
		],
		doubleclickzoom: false,
		controls: {
			panControl: false,
			zoomControl: true,
			mapTypeControl: false,
			scaleControl: false,
			streetViewControl: false,
			overviewMapControl: false
		},
		styles: [{
			"featureType": "landscape.natural",
			"elementType": "geometry.fill",
			"stylers": [{"visibility": "on"}, {"color": "#e0efef"}]
		}, {
			"featureType": "poi",
			"elementType": "geometry.fill",
			"stylers": [{"visibility": "on"}, {"hue": "#1900ff"}, {"color": "#c0e8e8"}]
		}, {
			"featureType": "road",
			"elementType": "geometry",
			"stylers": [{"lightness": 100}, {"visibility": "simplified"}]
		}, {
			"featureType": "road",
			"elementType": "labels",
			"stylers": [{"visibility": "off"}]
		}, {
			"featureType": "transit.line",
			"elementType": "geometry",
			"stylers": [{"visibility": "on"}, {"lightness": 700}]
		}, {"featureType": "water", "elementType": "all", "stylers": [{"color": "#7dcdcd"}]}]
	});
</script>