<div id="offers-slider"
	 class="portfolio grid-container portfolio-nomargin portfolio-full portfolio-overlay-open clearfix">
	{% for offer in model.Offers %}
		<article class="portfolio-item pf-media pf-icons">
			<div class="portfolio-image">
				<a href="{{ Router.Create("offer", {slug: offer.Slug}) }}">
					<img src="{{ offer.PictureSource("Medium") }}" alt="Beach Activities">
					<div class="portfolio-overlay">
						<div class="portfolio-desc">
							<h3>{{ offer.Title|upper }}</h3>
						</div>
					</div>
				</a>
			</div>
		</article>
	{% endfor %}
</div>
<script type="text/javascript" src="/Theme/slick/slick.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$('#offers-slider').slick({
			infinite: true,
			slidesToShow: 2,
			slidesToScroll: 1,
			speed: 800,
			autoplay: true,
			autoplaySpeed: 2000,
		});
	});
</script>