{#<div class="related-pages">
    <div class="row">
        <div class="col-sm-12">
            {% for row in pages|batch(options.items) %}
                {% for page in row %}
                    #}{# @var page \Data\Models\Page #}{#
                    <div class="col-md-{{ class }} col-sm-6 nopadding {% if row|length == 2 and options.items == 3 %}col-md-push-2{% endif %} {% if row|length == 1 and options.items != 1 %}col-sm-push-4{% endif %} wow fadeIn"
                         data-wow-delay="{{ loop.index0 * 0.1 }}s" data-wow-duration="2s">
                        <div class="upcoming-event-item zoom-image">
                            <a href="{{ Router.Create("page", {slug: page.GetDescription(Helper.GetLanguage()).Slug}) }}">
                                <figure class="upcoming-event-picture">
                                    <div style="background-image: url('{{ page.PictureSource("Related") }}')"></div>
                                </figure>
                            </a>
                            <div class="upcoming-event-info">
                                <div>
                                    <h4>
                                        <a href="{{ Router.Create("page", {slug: page.GetDescription(Helper.GetLanguage()).Slug}) }}">{{ page.GetDescription(Helper.GetLanguage()).Title }}</a>
                                    </h4>
                                </div>

                                {% if page.GetDescription(Helper.GetLanguage()).Subtitle %}
                                    <p>{{ page.GetDescription(Helper.GetLanguage()).Subtitle }}</p>
                                {% endif %}

                                {% if options.displayButton %}
                                    <a href="{{ Router.Create("page", {slug: page.GetDescription(Helper.GetLanguage()).Slug}) }}"
                                       class="btn slider-link animated-arrow-parent">FIND OUT MORE
                                        <i class="animated-arrow">
                                            {{ source("Default/svg/arrow-hover.svg") }}
                                        </i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>#}


<div id="portfolio" class="portfolio {{ model.Class }} portfolio-nomargin grid-container portfolio-notitle portfolio-full grid-container clearfix">

	{% for page in model.Pages %}
    <article class="portfolio-item pf-media pf-icons">
        <div class="portfolio-image">
            <a href="{{ Router.Create("page", {slug: page.GetDescription(Helper.GetLanguage()).Slug}) }}">
                <img src="{{ page.PictureSource("Related") }}" alt="{{ page.GetDescription(Helper.GetLanguage()).Title }}">
            </a>
            <div class="portfolio-overlay">
                <a href="{{ Router.Create("page", {slug: page.GetDescription(Helper.GetLanguage()).Slug}) }}" class="center-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="{{ Router.Create("page", {slug: page.GetDescription(Helper.GetLanguage()).Slug}) }}">{{ page.GetDescription(Helper.GetLanguage()).Title }}</a></h3>
            <span>{{ page.GetDescription(Helper.GetLanguage()).Subtitle }}</span>
        </div>
    </article>
    {% endfor %}


</div>
