<div class="team">
    <div class="team-image">
        <img src="{{ image.PictureSource("Medium") }}" alt="John Doe">
    </div>
    <div class="team-desc">
        <div class="team-title"><h4>{{ options.name }}</h4><span>{{ options.position }}</span></div>
    </div>
</div>