<div class="team team-list bottommargin clearfix">
    <div class="team-image">
        <img src="{{ image.PictureSource("Medium") }}" alt="John Doe">
    </div>
    <div class="team-desc">
        <div class="team-title"><h4>{{ options.name }}</h4><span>{{ options.role }}</span></div>
        <div class="team-content">
            <p>{{ options.description }}</p>
        </div>
    </div>
</div>