<div class="pricing pricing-5 bottommargin clearfix">

    <div class="pricing-box pricing-minimal ">
        <div class="pricing-title
            <h3>{{ options.position }}</h3>
            <span>{% if options.captain %} best-price {% endif %}</span>">
        </div>
        <div class="pricing-price">
            <span class="price-unit"></span>{{options.number }}<span class="price-tenure"></span>
        </div>
        <div class="pricing-action">
            <a href="#" class="btn btn-danger btn-block">{{ options.name }}</a>
        </div>
    </div>
</div>