{# @var model \PressKitViewModel #}

{% set randomId = random() %}

<div class="panel-group accordion press-kit-accordion" id="accordion{{ randomId }}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle {% if options.state == "collapsed" or not options.state %}collapsed{% endif %}"
                   data-toggle="collapse" data-parent="#accordion{{ randomId }}"
                   href="#collapse_{{ randomId }}"
                   aria-expanded="{{ options.state == "collapsed" or not options.state ? "false" : "true" }}">

                    <span class="primary-title">{{ options.title }}</span>
                </a>
            </h4>
        </div>
        <div id="collapse_{{ randomId }}"
             class="panel-collapse collapse {% if options.state == "open" %}in{% endif %}">
            <div class="panel-body">
                {% for kit in model.PressKit %}
                    <div class="press-kit-row">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="press-kit-widget-column">
                                    {% if kit.Date %}
                                        <time>{{ kit.Date.format("jS F Y") }}</time>
                                    {% endif %}

                                    {% if kit.GetDescription(Helper.GetLanguage()).Name %}
                                        <h4>{{ kit.GetDescription(Helper.GetLanguage()).Name }}</h4>
                                    {% endif %}

                                    {% if kit.GetDescription(Helper.GetLanguage()).Description %}
                                        <p>{{ kit.GetDescription(Helper.GetLanguage()).Description }}</p>
                                    {% endif %}
                                </div>

                                <div class=" button-holder-left ">
                                    <a class="btn btn-download press-kit-download btn-widget with-arrow"
                                       href="{{ kit.FileUrl() }}"
                                       target="_blank">
                                        {{ kit.GetDescription(Helper.GetLanguage()).LinkText }}
                                        <i class="btn-icon icon-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>