{# @var model \PressKitsViewModel #}

{% set randomId = random() %}
<div class="panel-group accordion press-kit-accordion" id="accordion{{ randomId }}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed"
                   data-toggle="collapse" data-parent="#accordion{{ randomId }}"
                   href="#collapse_{{ randomId }}"
                   aria-expanded="false">

                    <span class="primary-title">{{ options.title }}</span>
                </a>
            </h4>
        </div>
        <div id="collapse_{{ randomId }}"
             class="panel-collapse collapse">
            <div class="panel-body">
                {% for seasonId, season in model.PressKit %}
                    <div class="faq-group-questions" id="faq-{{ randomId }}-{{ seasonId }}">
                        <div class="faq-item">
                            <h4 class="faq-item-title">
                                <a class="accordion-toggle {% if loop.index != 1 or loop.parent.loop.index != 1 %}collapsed{% endif %}"
                                   data-toggle="collapse"
                                   data-parent="collapse-faq-widget-{{ randomId }}"
                                   href="#collapse-faq-item-{{ randomId }}-{{ seasonId }}">
                                    <span class="secondary-title">{{ seasonId }}</span>
                                </a>
                            </h4>
                            <div id="collapse-faq-item-{{ randomId }}-{{ seasonId }}"
                                 class="faq-item-content panel-collapse collapse {% if loop.index == 1 and loop.parent.loop.index == 1 %}in{% endif %}">
                                {% for kit in season %}
                                    <div class="press-kit-row press-kit-archive-row">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="press-kit-widget-column">
                                                    {% if kit.Date %}
                                                        <time>{{ kit.Date.format("jS F Y") }}</time>
                                                    {% endif %}

                                                    {% if kit.GetDescription(Helper.GetLanguage()).Name %}
                                                        <h4>{{ kit.GetDescription(Helper.GetLanguage()).Name }}</h4>
                                                    {% endif %}

                                                    {% if kit.GetDescription(Helper.GetLanguage()).Description %}
                                                        <p>{{ kit.GetDescription(Helper.GetLanguage()).Description }}</p>
                                                    {% endif %}
                                                </div>

                                                <div class=" button-holder-left ">
                                                    <a class="btn btn-download press-kit-download btn-widget with-arrow"
                                                       href="{{ kit.FileUrl() }}"
                                                       target="_blank">
                                                        {{ kit.GetDescription(Helper.GetLanguage()).LinkText }}
                                                        <i class="btn-icon icon-download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>