{# @var model \MediaViewModel #}
<div class="press-kit-gallery-widget">
    <h1>{{ options.title }}</h1>
    {% if model.Media|length %}
        <div class="row press-kit-image-link" data-featherlight-gallery
             data-featherlight-filter=".ftrlgt">
            {% for media in model.Media %}
                <div class="col-md-4 col-xs-6 col-press-kit {% if loop.index > 6 %}hidden{% endif %}">
                    <a class="image-link" href="{{ media.PictureSource() }}">
                        <div>
                            <figure class="press-kit-image"
                                    style="background-image: url({{ media.PictureSource("Gallery") }})">
                                <div class="picture-proportion"></div>
                            </figure>
                        </div>
                    </a>

                    <div class="press-kit-gallery-info">
                        {% if media.GetDescription(Helper.GetLanguage()).Title %}
                            <h5>{{ media.GetDescription(Helper.GetLanguage()).Title }}</h5>
                        {% endif %}
                        {% if media.Copyrights %}
                            <p>{{ media.Copyrights }}</p>
                        {% endif %}
                    </div>
                    <div class=" button-holder-left ">
                        <a class="btn btn-download btn-widget with-arrow"
                           href="{{ media.PictureSource() }}"
                           target="_blank">
                            {{ __("Download") }}
                            <i class="btn-icon icon-download"></i>
                        </a>
                    </div>
                </div>

                {% if loop.index is divisible by(2) %}
                    <div class="clearfix visible-xs visible-sm"></div>
                {% endif %}
                {% if loop.index is divisible by(3) %}
                    <div class="clearfix visible-md visible-lg"></div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="row press-kit-image-link">
            <div class="col-md-4 col-press-kit">
                <a class="btn btn-neutral btn-block press-kit-gallery-view-more">{{ __("View more") }}</a>
            </div>
        </div>
    {% endif %}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.image-link').magnificPopup({
            type: 'image',
            gallery: {enabled: true}
        });
    });
</script>