<section class="admission-programs-list">
    <div class="row">
        {% for program in model %}
            <div class="col-sm-6 admission-item-{{ loop.index is divisible by(2) ? "right" : "left" }}">
                <figure class="admission-program zoom-image">
                    <div class="zoom-image-holder">
                        <div class="admission-program-background"
                             data-target-zoom
                             style="background-image: url({{ program.PictureSource("Medium") }})">
                            <div class="picture-proportion"></div>
                        </div>
                    </div>
                    <div class="admission-program-text">
                        <div>
                            <h2>{{ program.GetDetails(Helper.GetLanguage()).Name }}</h2>
                        </div>
                        <p>{{ program.GetDetails(Helper.GetLanguage()).ShortDescription|raw }}</p>

                        <a href="{{ Router.Create("program", {slug: program.GetDetails(Helper.GetLanguage).Slug }) }}"
                           class="btn slider-link animated-arrow-parent">FIND OUT MORE
                            <i class="animated-arrow">
                                {{ source("Default/svg/arrow-hover.svg") }}
                            </i>
                        </a>
                    </div>
                </figure>
            </div>
        {% endfor %}
    </div>

</section>