<div class="section topmargin-sm footer-stick">

    <h4 class="uppercase center">{{ options.title }}</h4>

    <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
        <div class="flexslider">
            <div class="slider-wrap">
                <div class="slide">
                    <div class="slide">
                        <div class="testi-image">
                            <img src="{{ image.PictureSource("Medium") }}">
                        </div>
                        <div class="testi-content">
                            <p>{{ options.subtitle }}</p>
                            <div class="testi-meta">
                                {{ options.author }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>