<div class="travel-organiser-tabs clearfix">
	<div class="tab-container">
		<div class="clearfix" id="tab-flights">
			<div class="heading-block nobottomborder bottommargin-sm clearfix">
				<h4 class="fleft">Book your Travel</h4>

				<div class="clear"></div>
			</div>
			<form action="{{ Router.Create('offer-search') }}" method="post" class="nobottommargin search-offers-form">
				<div class="row">
					<div class="col-sm-6 col-xs-12 bottommargin-sm">
						<label for="">Country</label>
						<input type="text" value="" name="country" class="sm-form-control" placeholder="Eg. Serbia">
					</div>
					<div class="col-sm-6 col-xs-12 bottommargin-sm">
						<label for="">City</label>
						<input type="text" value="" name="city" class="sm-form-control" placeholder="Eg. New York">
					</div>

					<div class="col-sm-12">
						<button class="button button-3d nomargin rightmargin-sm fright" data-notify-type="error"
								data-notify-msg="<i class=icon-remove-sign></i> Incorrect Input. Please Try Again!">
							Search
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(".search-offers-form").on("submit", function (e) {

		e.preventDefault();
		var country = $(this).find("[name=country]").val();
		var city = $(this).find("[name=city]").val();

		if (country == '' || city == '') {
			$.sweetModal('Populate Form correctly');

		} else {


			var url = $(this).attr("action").replace("{country:string}", country).replace("{city:string}", city);
			window.location = url;
		}
	})
</script>