<section class="admissions-menu {% if options.visibility == "mobile" %}hidden-md hidden-lg{% endif %}
{% if options.visibility == "desktop" %}hidden-xs hidden-sm{% endif %}">
    {% for item in model %}
        <a {% if not Helper.IsItemUrl(item, url) %}href="{{ Helper.GetItemUrl(item) }}"{% endif %}
           target="{{ item.Target }}"
           class="btn btn-block btn-{{ options.style == "regular" ? "neutral" : options.style }}-reverse with-arrow {% if Helper.IsItemUrl(item, url) %}active-item{% endif %}">{{ item.Caption }}
            <i class="btn-icon icon-arrow"></i></a>
    {% endfor %}
</section>

