<section id="content">

    <div class="content-wrap">
        <div class="container clearfix">
            {#<h4>{{ group.GetDetails(Helper.GetLanguage()).Name }}</h4>#}
            <ul class="clients-grid grid-4 nobottommargin clearfix">
                {% for sponsor in sponsors %}
                    <li>
                        <a href="{{ sponsor.Link }}"><img src="{{ sponsor.LogoSource }}" alt="{{ sponsor.Name }}"></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</section>