{% set sliderId = random() %}

<section class="widget testimonials-widget">
    <div id="gallery-{{ sliderId }}">
        {% for testimonial in testimonials %}
            <div class="carousel-cell">
                <figure class="testimonial-item zoom-image">
                    <div class="zoom-image-holder">
                        <div class="testimonial-item-background"
                             data-target-zoom
                             style="background-image: url({{ testimonial.PictureSource("Medium") }})">
                            <div class="picture-proportion"></div>
                        </div>
                    </div>
                    <div class="testimonial-item-text">
                        <h2>{{ testimonial.GetDescription(Helper.GetLanguage()).Title }}</h2>
                        <small>{{ testimonial.GetDescription(Helper.GetLanguage()).Subtitle }}</small>
                        <p>{{ testimonial.GetDescription(Helper.GetLanguage()).Description }}</p>
                    </div>
                </figure>
            </div>
        {% endfor %}
    </div>
</section>

{% if testimonials|length > 1 %}
    <script type="text/javascript">
        $.getScript('/Theme/Default/lib/wait-for-images/jquery.waitforimages.min.js', function () {
            $('#gallery-{{ sliderId }}').waitForImages(function () {
                $.getScript('/Theme/Default/lib/flickity/flickity.pkgd.min.js', function () {
                    $('#gallery-{{ sliderId }}').flickity({
                        prevNextButtons: true,
                        pageDots: false,
                        arrowShape: {
                            x0: 10,
                            x1: 50, y1: 35,
                            x2: 55, y2: 30,
                            x3: 20
                        },
                        wrapAround: true
                    });
                });
            });
        });
    </script>
{% endif %}