<figure class="timeline">
    <div class="row">
        <div class="col-md-6 {% if not options.reverse %}col-md-push-6{% endif %}">
            <div class="timeline-content">
                <h4>{{ options.title }}</h4>
                <h5>{{ options.subtitle }}</h5>
                <p>{{ options.description }}</p>
            </div>
        </div>
        <div class="col-md-6 timeline-gallery {% if not options.reverse %}col-md-pull-6{% endif %}">
            {% include "Default/Widgets/Gallery.twig" with {model: media} %}
        </div>
    </div>
</figure>