<figure class="title-navigation">
    <div class="row nomargin">
        <div class="col-md-3 nopadding col-sm-3 col-xs-6 title-navigation-button title-navigation-button-prev">
            <a data-slug="{{ previousPage.GetDescription(Helper.GetLanguage()).Slug }}"
               data-dynamic-content-id="{{ previousPage.PageId }}" href="{{ Helper.GetPageUrl(previousPage) }}">
                <div class="button-content">
                    <small>Previous</small>
                    <h3>{{ previousPage.GetDescription(Helper.GetLanguage()).Title }}</h3>
                    <div class="icon-arrow-holder"><i class="icon-arrow"></i></div>
                </div>
            </a>
        </div>
        <div class="col-md-3 nopadding col-sm-3 col-sm-push-6 col-md-push-6 col-xs-6 title-navigation-button title-navigation-button-next">
            <a data-slug="{{ nextPage.GetDescription(Helper.GetLanguage()).Slug }}"
               data-dynamic-content-id="{{ nextPage.PageId }}" href="{{ Helper.GetPageUrl(nextPage) }}">
                <div class="button-content">
                    <small>Next</small>
                    <h3>{{ nextPage.GetDescription(Helper.GetLanguage()).Title }}</h3>
                    <div class="icon-arrow-holder"><i class="icon-arrow"></i></div>
                </div>
            </a>
        </div>
        <div class="col-md-6 nopadding col-md-pull-3 col-sm-pull-3 col-sm-6 col-xs-12 text-center title-navigation-title">
            <h1>{{ currentPage.GetDescription(Helper.GetLanguage()).Title }}</h1>
        </div>
    </div>
</figure>

<div id="title-navigation-elements">
    {% for page in allPages %}
        <div data-id="{{ page.PageId }}" data-slug="{{ page.GetDescription(Helper.GetLanguage()).Slug }}"
             data-title="{{ page.GetDescription(Helper.GetLanguage()).Title }}"></div>
    {% endfor %}
</div>

<div id="title-navigation-content">
    {{ currentContent|raw }}
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="button-holder-left title-navigation-special-button title-navigation-button-prev">
            <a data-slug="{{ previousPage.GetDescription(Helper.GetLanguage()).Slug }}"
               data-dynamic-content-id="{{ previousPage.PageId }}" href="{{ Helper.GetPageUrl(previousPage) }}"
               target="_self" class="btn btn-about btn-widget with-arrow icon-left btn-block">
                <div class="special-button-content">
                    <h3>{{ previousPage.GetDescription(Helper.GetLanguage()).Title }}</h3>
                    <i class="btn-icon icon-arrow"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="button-holder-left title-navigation-special-button title-navigation-button-next">
            <a data-slug="{{ nextPage.GetDescription(Helper.GetLanguage()).Slug }}"
               data-dynamic-content-id="{{ nextPage.PageId }}" href="{{ Helper.GetPageUrl(nextPage) }}" target="_self"
               class="btn btn-about btn-widget with-arrow  btn-block">
                <div class="special-button-content">
                    <h3>{{ nextPage.GetDescription(Helper.GetLanguage()).Title }}</h3>
                    <i class="btn-icon icon-arrow"></i>
                </div>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (window.location.hash) {
            loadSubPage(window.location.hash.replace("#", ""));
        }

        $(window).hashchange(function () {
            loadSubPage(window.location.hash.replace("#", ""));
        });

        function loadSubPage(hash) {
            var selectedPage = $("#title-navigation-elements [data-slug=" + hash + "]");
            var pageId = selectedPage.data("id");
            $.ajax({
                url: "page-content/" + pageId,
                contentType: "text/html",
                success: function (content) {
                    $("#title-navigation-content").html(content);
                    partialLoaderRun($("#title-navigation-content [data-partial-load]"));

                    // change the buttons
                    var currentPage = $("#title-navigation-elements [data-id=" + pageId + "]");
                    var nextPage, previousPage;

                    if (currentPage.is(":last-child")) {
                        nextPage = $("#title-navigation-elements div:first-child");
                    } else {
                        nextPage = currentPage.next("div");
                    }

                    if (currentPage.is(":first-child")) {
                        previousPage = $("#title-navigation-elements div:last-child");
                    } else {
                        previousPage = currentPage.prev("div");
                    }

                    $(".title-navigation-button-next h3").text(nextPage.data("title"));
                    $(".title-navigation-button-next a").data("dynamicContentId", nextPage.data("id")).attr("data-dynamic-content-id", nextPage.data("id")).data("slug", nextPage.data("slug"));

                    $(".title-navigation-button-prev h3").text(previousPage.data("title"));
                    $(".title-navigation-button-prev a").data("dynamicContentId", previousPage.data("id")).attr("data-dynamic-content-id", previousPage.data("id")).data("slug", previousPage.data("slug"));

                    $(".title-navigation-title h1").text(currentPage.data("title"));

                    titleBreaks($(".title-navigation-button h3"));
                    $('html, body').animate({
                        scrollTop: $(".title-navigation").offset().top - 120
                    }, 1000);
                }
            });
        }

        partialLoaderRun($("#title-navigation-content [data-partial-load]"));
        $("body").on("click", "[data-dynamic-content-id]", function (e) {
            e.preventDefault();
            var hash = "#" + $(this).data("slug");
            history.pushState("", document.title, window.location.pathname + window.location.search + hash);
            $(window).hashchange();
        });

        function titleBreaks(elements) {
            elements.each(function () {
                var height = $(this).outerHeight();
                if (height <= 25) {
                    var newText = "";
                    var text = $(this).text();
                    var words = text.split(" ");
                    var numWords = words.length;
                    var breakWord = Math.ceil(numWords / 2);
                    var currentWord = 0;
                    for (word of words) {
                        newText = newText.concat(word.concat(" "));
                        currentWord++;
                        if (currentWord == breakWord) {
                            newText = newText.concat("<br />");
                        }
                    }
                    $(this).html(newText);
                }
            });
        }

        titleBreaks($(".title-navigation-button h3"));
    });
</script>