<div class="trainings-section section parallax nomargin notopborder dark"
     style="background-image: url('{{ image.PictureSource() }}'); padding: 100px 0;"
     data-stellar-background-ratio="0.3">
    <div class="container clearfix">

        <div class="emphasis-title center">
            <h2 style="font-size: 52px;">{{ options.title }}</h2>
        </div>

        <div class="row">
            <div class="col-md-12 bottommargin">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Ponedeljak</th>
                            <th>Utorak</th>
                            <th>Sreda</th>
                            <th>Četvrtak</th>
                            <th>Petak</th>
                            <th>Subota</th>
                            <th>Nedelja</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>18:30h - Ratko Vukićević - Juniori</td>
                            <td></td>
                            <td></td>
                            <td>20:00h - Kole Rašić - Kadetkinje</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>18:30h - Ratko Vukićević - Juniori</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>20:00h - Kole Rašić - Kadetkinje</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>20:00h - Kole Rašić - Kadetkinje</td>
                            <td></td>
                            <td></td>
                            <td>18:30h - Ratko Vukićević - Juniori</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>20:00h - Kole Rašić - Kadetkinje</td>
                            <td></td>
                            <td>18:30h - Ratko Vukićević - Juniori</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>20:00h - Kole Rašić - Kadetkinje</td>
                            <td></td>
                            <td>18:30h - Ratko Vukićević - Juniori</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>18:30h - Ratko Vukićević - Juniori</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>20:00h - Kole Rašić - Kadetkinje</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>