{% set uid = "now"|date('U') ~ random() %}

<div class="layout-element" data-layout="{{ model.LayoutId }}" data-type="{{ model.LayoutTypeId }}"
     data-layout-uid="{{ uid }}">
    <a title="Options" data-edit-layout class="btn btn-xs btn-info">
        <i class="fa fa-pencil"></i>
    </a>
    <a title="Delete layout" data-delete-layout class="btn btn-xs btn-danger">
        <i class="fa fa-times"></i>
    </a>
    {% block element %}{% endblock %}
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("[data-layout-uid={{ uid }}]").data("options", {{ model.Options|json_encode|raw }});
    });
</script>