{% extends "Admin/Master/Master.twig" %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("posts-list") }}">Posts</a>
        </li>
        <li class="active">Create Post</li>
    </ol>

    {% include "Admin/Posts/Partial/PostForm.twig" %}
{% endblock %}

{% block post_scripts %}
    <script type="text/javascript">
        $(".slug-field").on("keyup", function () {
            var form = $(this).closest("form");
            var key = form.find("[name=title]").val();
            $("[name=slug]").val($.slugify(key));
        });
    </script>
{% endblock %}
