{% extends "Admin/Master/Master.twig" %}

{# @var model \PagesViewModel #}

{% block title %}List of posts{% endblock %}

{% block content %}

	<ol class="breadcrumb breadcrumb-quirk">
		<li>
			<a href="{{ Router.Create("home") }}">
				<i class="fa fa-home mr5"></i>
				Home
			</a>
		</li>
		<li>
			<a href="{{ Router.Create("posts-list") }}">Posts</a>
		</li>
		<li class="active">Posts Directory</li>
	</ol>


	<div class="panel">
		<div class="panel-heading">
			<h4 class="panel-title">Posts List</h4>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="datatable table table-bordered table-striped-col">
					<thead>
						<tr>
							<th style="width: 100px;">Image</th>
							<th>Title</th>
							<th>Theme</th>
							<th>Short Description</th>
							<th class="text-center" style="width: 80px;">Actions</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<th>Image</th>
							<th>Title</th>
							<th>Theme</th>
							<th>Short Description</th>
							<th class="text-center" style="width: 80px;">Actions</th>
						</tr>
					</tfoot>

					<tbody>
						{% for post in model.Posts %}
							<tr>
								<td><img src="{{ post.PictureSource("Small") }}"/></td>
								<td>{{ post.Title }}</td>
								<td>{{ post.Theme }}</td>
								<td>{{ post.Excerpt }}</td>
								<td>
									<ul class="table-options">
										<li>
											<a href="{{ Router.Create("posts-thumbnail-crop", {id: post.PostId, size: 'medium'}) }}"
											   title="Crop thumbnail">
												<i class="fa fa-crop"></i>
											</a>
										</li>
										<li>
											<a href="{{ Router.Create("update-post", {id: post.PostId}) }}">
												<i class="fa fa-pencil"></i>
											</a>
										</li>
										<li>
											<a class="confirm" style="cursor: pointer"
											   data-href="{{ Router.Create("delete-post", {id: post.PostId}) }}">
												<i class="fa fa-trash"></i>
											</a>
										</li>
									</ul>
								</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div><!-- panel -->

{% endblock %}