{% extends "Admin/Master/Master.twig" %}

{# @var model \Data\Models\Post #}

{% block title %}Crop Thumbnail{% endblock %}

{% block content %}

	<ol class="breadcrumb breadcrumb-quirk">
		<li>
			<a href="{{ Router.Create("home") }}">
				<i class="fa fa-home mr5"></i>
				Home
			</a>
		</li>
		<li>
			<a href="{{ Router.Create("media-manager") }}">Posts</a>
		</li>
		<li class="active">Crop Thumbnail</li>
	</ol>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading nopaddingbottom">
					<h4 class="panel-title">Crop Thumbnail</h4>
				</div>
				<div class="panel-body">
					<hr>

					<div id="event-thumbnail">
					</div>

					<hr>

					<a href="{{ Router.Create("post-thumbnail-crop", {"id": model.PostId, "size": size}) }}"
					   class="btn btn-primary" id="save-thumbnail">Save
					</a>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block post_scripts %}
	<script src="Theme/Admin/lib/Croppie/croppie.min.js"></script>
	<script type="text/javascript">
		$('#event-thumbnail').croppie({
			url: '{{ model.PictureSource() }}',
			viewport: {
				width: {{ dimensions.0 }},
				height: {{ dimensions.1 }},
				type: 'square'
			},
			boundary: {
				width: {{ dimensions.2 }},
				height: {{ dimensions.3 }}
			}
		});

		$("#save-thumbnail").on("click", function (e) {
			e.preventDefault();
			var data = $("#event-thumbnail").croppie('get');
			$("body").addClass("loading");

			$.ajax({
				url: $(this).attr("href"),
				type: "POST",
				data: {
					points: data.points
				},
				complete: function () {
					$("body").removeClass("loading");
				}
			})
		});
	</script>
{% endblock %}

{% block additional_styles %}
	<link rel="stylesheet" href="Theme/Admin/lib/Croppie/croppie.css">

{% endblock %}