{# @var model \OfferViewModel #}

{% extends "Admin/Master/Master.twig" %}

{% block title %}Edit Offer {{ model.Title }}{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("posts-list") }}">Posts</a>
        </li>
        <li class="active">Edit post {{ model.Title }}</li>
    </ol>

    {% include "Admin/Posts/Partial/PostForm.twig" with {'model': model} %}
{% endblock %}