<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Category</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="Name" name="name" class="slug-field form-control"
                               value="{{ model.Details.Name }}"/>
                    </div>
                    <div class="form-group">
                        <label>Subtitle</label>
                        <input type="text" placeholder="Subtitle" name="subtitle" class="slug-field form-control"
                               value="{{ model.Details.Subtitle }}"/>
                    </div>
                    <div class="form-group">
                        <label>Picture</label>
                        <label class="picture-mask text-center" style="width: 250px;">
                            <div class="image-input image-placeholder"
                                 style="height: 350px; width:250px; background-image: url({{ model.Category.PictureSource() }})"></div>
                            <input style="display: none;" class="upload-picture-field" type="file" name="picture"/>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-sm-4">
                    </div>

                    <div class="col-sm-4" style="text-align: center">
                        <button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
                        <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
                    </div>

                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>