<div id="languagesPanel" class="btn-group">
    {% for id, language in SelectableHelper.Languages() %}
        <a {% if Helper.GetLanguage() == id %}class="active"{% endif %} href="{{ Router.Create(Router.Route, Router.Parameters, false, Helper.enum("LanguageCodesEnum", id)) }}">
            <img src="Theme/Admin/images/languages/{{ Helper.enum("LanguageCodesEnum", id) }}.png"
                 style="width: 21px;"/>
        </a>
    {% endfor %}
</div>
