{% set currentUser = Helper.GetCurrentUser() %}
<div class="btn-group">
    <button type="button" class="btn btn-logged" data-toggle="dropdown">
        <img src="{{ currentUser.Picture }}" alt=""/>
        {{ currentUser.FirstName }} {{ currentUser.LastName }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
        <li>
            <a href="{{ Router.Create("logged-user-update-details") }}">
                <i class="glyphicon glyphicon-user"></i>
                My Profile
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-question-sign"></i>
                Help
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("logout") }}">
                <i class="glyphicon glyphicon-log-out"></i>
                Log Out
            </a>
        </li>
    </ul>
</div>