<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Coach</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" placeholder="First Name" name="firstname" class="slug-field form-control"
                               value="{{ model.Coach.FirstName }}"/>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" placeholder="Last Name" name="lastname" class="slug-field form-control"
                               value="{{ model.Coach.LastName }}"/>
                    </div>
                    <div class="form-group">
                        <label>Picture</label>
                        <label class="picture-mask text-center" style="width: 250px;">
                            <div class="image-input image-placeholder"
                                 style="height: 350px; width:250px; background-image: url({{ model.Coach.PictureSource() }})"></div>
                            <input style="display: none;" class="upload-picture-field" type="file" name="picture"/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Video</label>
                        <input type="file" placeholder="Video" name="video" />
                        <p>{{ model.Coach.Video }}</p>
                    </div>
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" name="dateOfBirth"
                                   placeholder="yyyy-mm-dd"
                                   value="{{ model.Coach.DateOfBirth.format("Y-m-d") }}">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Categories
                            <span class="text-danger">*</span>
                        </label>
                        {{ HtmlHelper.SearchableSelect(SelectableHelper.Categories(), 'categories', model.Coach.Categories|indexes("CategoryId"), "Select Categories", {'id' : 'categories'}, null, true)|raw }}
                    </div>
                </div>
            </div>

        </div>
        <!-- col-sm-6 -->

        <!-- ####################################################### -->

        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Coach Details</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>Slug</label>
                        <input type="text" placeholder="Slug" name="slug" class="form-control"
                               value="{{ model.Details.Slug }}"/>
                    </div>
                    <div class="form-group">
                        <label>Biography</label>
                        <textarea placeholder="Biography" name="biography"
                                  class="form-control wysiwyg">{{ model.Details.Biography }}</textarea>
                    </div>
                </div>
            </div>

        </div>
        <!-- col-sm-6 -->
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-sm-4">
                    </div>

                    <div class="col-sm-4" style="text-align: center">
                        <button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
                        <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
                    </div>

                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>