<div class="form-group">
    <label>Width</label>
    <div class="row">
        <div class="col-md-12">
            {{ HtmlHelper.Radio({boxed: "Boxed", fullWidth: "Full Width"}, "width", options.width)|raw }}
        </div>
    </div>
</div>


<div class="form-group">
    <label>Background Color</label>
    <div class="row">
        <div class="col-md-12">
            <input type="text" id="colorpicker1" class="form-control" name="backgroundColor" value="{{ options.backgroundColor }}" placeholder="{{ options.backgroundColor }}">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Padding Top</label>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" name="paddingTop" value="{{ options.paddingTop }}" placeholder="{{ options.paddingTop }}">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Padding Bottom</label>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" name="paddingBottom" value="{{ options.paddingBottom }}" placeholder="{{ options.paddingBottom }}">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	$('#colorpicker1').colorpicker();
</script>