<div class="top-links">
	<ul>
		{% for item in menu %}
			<li>
				<a {% if item.MenuItemTypeId != 8 %}href="{{ Helper.GetItemUrl(item) }}"{% endif %} {% if item.target %}target="{{ item.Target }}"{% endif %}>{{ item.Caption }}</a>
				{% if item.Children|length %}
					<ul>
						{% for child in item.Children %}
							<li>
								<a {% if child.MenuItemTypeId != 8 %}href="{{ Helper.GetItemUrl(child) }}"{% endif %} {% if child.target %}target="{{ child.Target }}"{% endif %}>{{ child.Caption }}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div><!-- .top-links end -->