<nav id="primary-menu" class="style-4">

    <ul>
        {% for item in menu %}
            <li class="">
                <a {% if item.MenuItemTypeId != 8 %}href="{{ Helper.GetItemUrl(item) }}"{% endif %} {% if item.target %}target="{{ item.Target }}"{% endif %}>
                    <div>{{ item.Caption }}</div>
					{% if item.Children|length %}
                        <ul>
							{% for child in item.Children %}
                                <li>
                                    <a {% if child.MenuItemTypeId != 8 %}href="{{ Helper.GetItemUrl(child) }}"{% endif %} {% if child.target %}target="{{ child.Target }}"{% endif %}>{{ child.Caption }}</a>
                                </li>
							{% endfor %}
                        </ul>
					{% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

</nav><!-- #primary-menu end -->
