{% extends "Admin/Master/Errors.twig" %}

{% block title %}Access Denied{% endblock %}

{% block content %}
    <section>

        <div class="notfoundpanel">
            <h3>Access Denied</h3>
            <h4>You don't have permissions to access this page. Try logging in with different account.</h4>

            <hr class="darken">

            <a href="{{ Router.Create("login") }}" class="btn btn-default">Go to Login Page</a>
        </div>

    </section>
{% endblock %}