{% extends "Admin/Master/Errors.twig" %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="notfoundpanel">
        <h1>Oops!</h1>
        <h3>Something bad happened!</h3>
        <p>
            Our team is informed about this error.
            Please go back and continue with whatever you wanted to do, but try to fix the things that caused this
            error.
        </p>

        <p>If you feel like you did everything correctly, but this page still appears to you, it might be possible
            there is some bug in our program. Should you need any assistance, please contact tech support.</p>
        <hr class="darken">
        <a href="{{ Router.Create("home") }}" class="btn btn-default">Back to Dashboard</a>
    </div>
{% endblock %}