{% extends "Admin/Master/Errors.twig" %}

{% block title %}Not Found{% endblock %}

{% block content %}
    <div class="notfoundpanel">
        <h1>404!</h1>
        <h3>The page you are looking for has not been found!</h3>
        <h4>The page you are looking for might have been removed, had its name changed, or unavailable.</h4>
        <hr class="darken">
        <a href="{{ Router.Create("home") }}" class="btn btn-default">Back to Dashboard</a>
    </div>
{% endblock %}