<tbody>
	{% for offer in model.Offers %}
		<tr>
			<td><img src="{{ offer.PictureSource("Small") }}"/></td>
			<td>{{ offer.Title }}</td>
			<td><img src="{{ basketballSchool.PictureSource("Small") }}"/></td>
			<td>
				<ul class="table-options">
					<li>
						<a href="{{ Router.Create("basketballSchools-thumbnail-crop", {id: basketballSchool.BasketballSchoolId, size: 'medium'}) }}"
						   title="Crop thumbnail">
							<i class="fa fa-crop"></i>
						</a>
					</li>
					<li>
						<a href="{{ Router.Create("basketballSchools-update", {id: basketballSchool.BasketballSchoolId}) }}">
							<i class="fa fa-pencil"></i>
						</a>
					</li>
					<li>
						<a class="confirm" style="cursor: pointer"
						   data-href="{{ Router.Create("basketballSchools-delete", {id: basketballSchool.BasketballSchoolId}) }}">
							<i class="fa fa-trash"></i>
						</a>
					</li>
				</ul>
			</td>
		</tr>
	{% endfor %}
</tbody>