<div class="input-group input-search-contact">
    <input type="text" class="form-control" placeholder="Search contact">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
</div>
<h5 class="sidebar-title">My Contacts</h5>
<ul class="media-list media-list-contacts">
    <li class="media">
        <a href="#">
            <div class="media-left">
                <img class="media-object img-circle" src="../images/photos/user1.png" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Christina R. Hill</h4>
                <span><i class="fa fa-phone"></i> 386-752-1860</span>
            </div>
        </a>
    </li>
    <li class="media">
        <a href="#">
            <div class="media-left">
                <img class="media-object img-circle" src="../images/photos/user2.png" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Floyd M. Romero</h4>
                <span><i class="fa fa-mobile"></i> +1614-650-8281</span>
            </div>
        </a>
    </li>
    <li class="media">
        <a href="#">
            <div class="media-left">
                <img class="media-object img-circle" src="../images/photos/user3.png" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Jennie S. Gray</h4>
                <span><i class="fa fa-phone"></i> 310-757-8444</span>
            </div>
        </a>
    </li>
    <li class="media">
        <a href="#">
            <div class="media-left">
                <img class="media-object img-circle" src="../images/photos/user4.png" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Alia J. Locher</h4>
                <span><i class="fa fa-mobile"></i> +1517-386-0059</span>
            </div>
        </a>
    </li>
    <li class="media">
        <a href="#">
            <div class="media-left">
                <img class="media-object img-circle" src="../images/photos/user5.png" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Nicholas T. Hinkle</h4>
                <span><i class="fa fa-skype"></i> nicholas.hinkle</span>
            </div>
        </a>
    </li>
    <li class="media">
        <a href="#">
            <div class="media-left">
                <img class="media-object img-circle" src="../images/photos/user6.png" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Jamie W. Bradford</h4>
                <span><i class="fa fa-phone"></i> 225-270-2425</span>
            </div>
        </a>
    </li>
    <li class="media">
        <a href="#">
            <div class="media-left">
                <img class="media-object img-circle" src="../images/photos/user7.png" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Pamela J. Stump</h4>
                <span><i class="fa fa-mobile"></i> +1773-879-2491</span>
            </div>
        </a>
    </li>
    <li class="media">
        <a href="#">
            <div class="media-left">
                <img class="media-object img-circle" src="../images/photos/user8.png" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Refugio C. Burgess</h4>
                <span><i class="fa fa-mobile"></i> +1660-627-7184</span>
            </div>
        </a>
    </li>
    <li class="media">
        <a href="#">
            <div class="media-left">
                <img class="media-object img-circle" src="../images/photos/user9.png" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Ashley T. Brewington</h4>
                <span><i class="fa fa-skype"></i> ashley.brewington</span>
            </div>
        </a>
    </li>
    <li class="media">
        <a href="#">
            <div class="media-left">
                <img class="media-object img-circle" src="../images/photos/user10.png" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Roberta F. Horn</h4>
                <span><i class="fa fa-phone"></i> 716-630-0132</span>
            </div>
        </a>
    </li>
</ul>