<div class="sidebar-btn-wrapper">
    <a href="compose.html" class="btn btn-danger btn-block">Compose</a>
</div>

<h5 class="sidebar-title">Mailboxes</h5>
<ul class="nav nav-pills nav-stacked nav-quirk nav-mail">
    <li>
        <a href="email.html">
            <i class="fa fa-inbox"></i>
            <span>Inbox (3)</span>
        </a>
    </li>
    <li>
        <a href="email.html">
            <i class="fa fa-pencil"></i>
            <span>Draft (2)</span>
        </a>
    </li>
    <li>
        <a href="email.html">
            <i class="fa fa-paper-plane"></i>
            <span>Sent</span>
        </a>
    </li>
</ul>

<h5 class="sidebar-title">Tags</h5>
<ul class="nav nav-pills nav-stacked nav-quirk nav-label">
    <li>
        <a href="#">
            <i class="fa fa-tags primary"></i>
            <span>Communication</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-tags success"></i>
            <span>Updates</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-tags warning"></i>
            <span>Promotions</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-tags danger"></i>
            <span>Social</span>
        </a>
    </li>
</ul>