{% if model is defined and model.Changed == true %}
    <div class="alert alert-success" style="text-align: center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Changes are successfully made!
    </div>
{% endif %}
<h5 class="sidebar-title">Shape your life</h5>
<ul class="nav nav-pills nav-stacked nav-quirk">
    <li class="nav-parent {{ Helper.ActiveButton("Coaches") }}">
        <a href="">
            <i class="fa fa-globe"></i>
            <span>Posts</span>
        </a>
        <ul class="children">
            <li class="{{ Helper.ActiveButton("Posts", "Posts") }}">
                <a href="{{ Router.Create("posts") }}">List of Posts</a>
            </li>
            <li class="{{ Helper.ActiveButton("Posts", "Create") }}">
                <a href="{{ Router.Create("create-post") }}">Create Post</a>
            </li>
        </ul>
    </li>


</ul>
<h5 class="sidebar-title">Content</h5>
<ul class="nav nav-pills nav-stacked nav-quirk">
    <li class="nav-parent {{ Helper.ActiveButton("Builder") }} {{ Helper.ActiveButton("Pages") }}">
        <a href="">
            <i class="fa fa-file-text"></i>
            <span>Pages</span>
        </a>
        <ul class="children">
            <li class="{{ Helper.ActiveButton("Pages", "List") }}">
                <a href="{{ Router.Create("pages-list") }}">List of Pages</a>
            </li>
            <li class="{{ Helper.ActiveButton("Builder", "Builder") }}">
                <a href="{{ Router.Create("page-builder-create") }}">Create New Page</a>
            </li>
        </ul>
    </li>

    <li class="nav-parent {{ Helper.ActiveButton("Menus") }}">
        <a href="">
            <i class="fa fa-bars"></i>
            <span>Menus</span>
        </a>
        <ul class="children">
            <li class="{{ Helper.ActiveButton("Menus", "List") }}">
                <a href="{{ Router.Create("menus-list") }}">List of Menus</a>
            </li>
            <li class="{{ Helper.ActiveButton("Menus", "Create") }}">
                <a href="{{ Router.Create("menus-create") }}">Create New Menu</a>
            </li>
        </ul>
    </li>

    <li class="nav-parent {{ Helper.ActiveButton("Media") }}">
        <a href="">
            <i class="fa fa-picture-o"></i>
            <span>Media</span>
        </a>
        <ul class="children">
            <li class="{{ Helper.ActiveButton("Media", "MediaManager") }}">
                <a href="{{ Router.Create("media-manager") }}">
                    <span>Media Manager</span>
                </a>
            </li>
            <li class="{{ Helper.ActiveButton("Media", "Vimeo") }}">
                <a href="{{ Router.Create("media-vimeo-videos") }}">
                    <span>Vimeo Import</span>
                </a>
            </li>
        </ul>
    </li>

</ul>

<h5 class="sidebar-title">Ads</h5>
<ul class="nav nav-pills nav-stacked nav-quirk">
    <li class="nav-parent {{ Helper.ActiveButton("Ads") }}">
        <a href="">
            <i class="fa fa-file-text"></i>
            <span>Ads</span>
        </a>
        <ul class="children">
            <li class="{{ Helper.ActiveButton("Ads", "List") }}">
                <a href="{{ Router.Create("ad-list") }}">List of Ads</a>
            </li>
            <li class="{{ Helper.ActiveButton("Ads", "Create") }}">
                <a href="{{ Router.Create("ad-create") }}">Create New Ad</a>
            </li>
        </ul>
    </li>
</ul>