<h5 class="sidebar-title">Change Password</h5>
<ul class="list-group list-group-settings">
    <li class="list-group-item">
        <form action="{{ Router.Create("change-password") }}" method="post">

            <div class="form-group">
                <input type="password" name="oldPassword" placeholder="Old Password" class="form-control input-sm"/>
            </div>

            <div class="form-group">
                <input type="password" name="newPassword" placeholder="New Password" class="form-control input-sm"/>
            </div>

            <div class="form-group">
                <input type="password" name="confirmNewPassword" placeholder="Confirm New Password"
                       class="form-control input-sm"/>
            </div>

            <button class="btn btn-primary btn-block btn-sm btn-quirk">
                <i class="fa fa-lock"></i>
                Change password
            </button>
        </form>
    </li>
</ul>

<h5 class="sidebar-title">User Profile</h5>
<ul class="list-group list-group-settings">
    <li class="list-group-item">
        <form action="{{ Router.Create("current-user-update-details") }}" method="post">
            <div class="form-group">
                <input type="text" name="firstName" value="{{ Helper.GetCurrentUser().FirstName }}"
                       placeholder="First Name" class="form-control input-sm"/>
            </div>

            <div class="form-group">
                <input type="text" name="lastName" value="{{ Helper.GetCurrentUser().LastName }}"
                       placeholder="Last Name" class="form-control input-sm"/>
            </div>

            <div class="form-group">
                <input type="text" name="email" value="{{ Helper.GetCurrentUser().Email }}" placeholder="Email"
                       class="form-control input-sm"/>
            </div>

            <button class="btn btn-primary btn-block btn-sm btn-quirk">
                <i class="fa fa-user"></i>
                Update Profile
            </button>
        </form>
    </li>
</ul>

<h5 class="sidebar-title">Change Picture</h5>
<ul class="list-group list-group-settings">
    <li class="list-group-item">
        <form action="{{ Router.Create("user-update-picture") }}" method="post"
              enctype="multipart/form-data">
            <label for="picture-field" class="picture-mask text-center">
                <div class="image-holder image-placeholder" id="image-holder"></div>
                <input style="display: none;" class="upload-picture-field" id="picture-field" type="file" name="picture"/>
            </label>

            <button class="btn btn-primary btn-block btn-sm btn-quirk">
                <i class="fa fa-user"></i>
                Change Picture
            </button>
        </form>
    </li>
</ul>