{% set currentUser = Helper.GetCurrentUser() %}
<div class="media leftpanel-profile">

    <div class="media-body">
        <h4 class="media-heading"> {#{{ currentUser.FirstName }} {{ currentUser.LastName }}#}
            <p>Shapeit365</p>
        </h4>
       {# <span>Administrator</span>#}
    </div>
</div><!-- leftpanel-profile -->

