<form action="{{ Router.Create('book-offer') }}" method="post" class="nobottommargin">
	<div class="clear"></div>
	<div class="input-daterange travel-date-group col-sm-9 bottommargin-sm">
		<div class="row">
			<div class="col-sm-6 col-xs-12 bottommargin-sm">
				<label for="">First name</label>
				<input type="text" value="firstName" name="firstName" class="sm-form-control"
					   placeholder="Enter first name">
			</div>
			<div class="col-sm-6 col-xs-12 bottommargin-sm">
				<label for="lastName">Last name</label>
				<input type="text" value="" name="lastName" class="sm-form-control" placeholder="Enter last name">
			</div>
			<div class="col-sm-6 col-xs-12 bottommargin-sm">
				<label for="email">Email</label>
				<input type="email" value="" name="email" class="sm-form-control" placeholder="Email">
			</div>

			<div class="col-sm-6 col-xs-12 bottommargin-sm">
				<label for="">Description</label>
				<textarea name="description">

				</textarea>
			</div>


			<div class="col-sm-6 col-xs-6">
				<label for="dateFrom">Departure</label>
				<input type="text" value="" class="sm-form-control tleft" name="dateFrom"
					   placeholder="MM/DD/YYYY">
			</div>
			<div class="col-sm-6 col-xs-6">
				<label for="dateTo">Return</label>
				<input type="text" value="" class="sm-form-control tleft" name="dateTo"
					   placeholder="MM/DD/YYYY">
			</div>
		</div>
	</div>
	<div class="col-sm-3 bottommargin-sm">
		<label for="">Adults</label>
		<input type="number" min="1" max="10" value="" class="sm-form-control" name="adult"
			   placeholder="2">
	</div>
	<button class="button button-3d nomargin rightmargin-sm fright">Book offer</button>
</form>