{% extends "Default/Master/Master.twig" %}

{% block title %}Offer{% endblock %}

{% block content %}
	<!-- Content
			============================================= -->
	<section id="content">

		<div class="content-wrap">

			<!-- Portfolio Single Image
			============================================= -->
			<div class="portfolio-single-image portfolio-single-image-full"
				 style="background-size: cover;background-position: center; background-image: url('{{ model.Offer.PictureSource }}');"
				 data-stellar-background-ratio="0.5"></div><!-- .portfolio-single-image end -->

			<div class="container clearfix">

				<div class="col_one_third nobottommargin">

					<!-- Portfolio Single - Meta
					============================================= -->
					<div class="panel panel-default events-meta">
						<div class="panel-body">
							<ul class="portfolio-meta nobottommargin">
								<li><span><i class="icon-map-marker"></i>Country:</span> {{ model.Offer.Country }}</li>
								<li><span><i class="icon-map-marker"></i>City:</span> {{ model.Offer.City }}</li>
								<li><span><i class="icon-tag"></i>Price:</span> {{ model.Offer.Price }} &euro;</li>
							</ul>
						</div>
					</div>
					<!-- Portfolio Single - Meta End -->

					<!-- Portfolio Single - Share
					============================================= -->
					<div class="si-share noborder clearfix">
						<span>Share:</span>
						<div>
							<a href="#" class="social-icon si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
							<a href="#" class="social-icon si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
							<a href="#" class="social-icon si-borderless si-instagram">
								<i class="icon-instagram"></i>
								<i class="icon-instagram"></i>
							</a>
						</div>
					</div>
					<!-- Portfolio Single - Share End -->

					<div class="nobottommargin clearfix" style="margin-top: 40px">
						<div class="sidebar-widgets-wrap">
							<div class="widget quick-contact-widget clearfix">

								<h4>Book Offer</h4>
								<div class="quick-contact-form-result"></div>
								<form id="quick-contact-form" name="quick-contact-form"
									  action=""
									  method="post" class="quick-contact-form nobottommargin">
									<div class="form-process"></div>

									<div class="row">
										<div class="col-xs-6">
											<input type="text" class="required sm-form-control input-block-level"
												   id="firstName" name="firstName" value="" required
												   placeholder="First Name"/>

										</div>
										<div class="col-xs-6">
											<input type="text" class="required sm-form-control input-block-level"
												   id="lastName" name="lastName" value="" required
												   placeholder="Last Name"/>

										</div>
									</div>

									<input type="email" class="required sm-form-control email input-block-level"
										   id="email" name="email" value="" required
										   placeholder="Email Address"/>

									<div class="row">
										<div class="col-xs-6">
											<input type="text" class="required sm-form-control phone input-block-level"
												   id="phoneNumber" name="phoneNumber" value="" required
												   placeholder="Phone Number"/>
										</div>
										<div class="col-xs-6">
											<input type="number" min="1" max="10" value="" class="sm-form-control"
												   name="adults" id="adults" required
												   placeholder="Adults">
										</div>
									</div>

									<div class="input-daterange travel-date-group">
										<div class="row">
											<div class="col-xs-6"><label for="">Departure</label>
												<input type="text" value="" class="sm-form-control input-block-level"
													   name="dateFrom" id="dateFrom" required
													   placeholder="YYYY-MM-DD">
											</div>
											<div class="col-xs-6">
												<label for="">Return</label>
												<input type="text" value="" class="sm-form-control input-block-level"
													   name="dateTo" id="dateTo" placeholder="YYYY-MM-DD" required>
											</div>
										</div>
									</div>
									<textarea class="required sm-form-control input-block-level short-textarea"
											  style="resize: none"
											  id="message" name="message" rows="4"
											  cols="30" placeholder="Message"></textarea>
									<input type="text" class="hidden" id="quick-contact-form-botcheck"
										   name="quick-contact-form-botcheck" value=""/>
									<button type="submit" id="booking-submit" data-notify-type="error"
											data-notify-msg="<i class=icon-remove-sign></i> Incorrect Input. Please Try Again!"
											name="quick-contact-form-submit"
											class="button button-small button-3d nomargin btn-submit" value="submit">
										Book Offer
									</button>
								</form>


							</div>

						</div>
					</div>
				</div>

				<!-- Portfolio Single Content
				============================================= -->
				<div class="col_two_third portfolio-single-content col_last nobottommargin">

					<!-- Portfolio Single - Description
					============================================= -->
					<div class="fancy-title title-dotted-border">
						<h2>Info:</h2>
					</div>

					<div class="nobottommargin">
						{{ model.Offer.Description|raw }}
					</div>


					<!-- Portfolio Single - Description End -->

				</div><!-- .portfolio-single-content end -->

			</div>


			<!-- Related Portfolio Items
			============================================= -->
			<div class="section nobottommargin nobottompadding noborder">
				<div class="container clearfix">
					<h3 class="center bottommargin">Related Offers:</h3>
				</div>
			</div>

			<div style="margin: auto; max-width: {{ model.Offer.Children|length * 20 }}%">
				<div id="related-portfolio"
					 class="owl-carousel owl-carousel-full portfolio-carousel portfolio-notitle portfolio-nomargin footer-stick carousel-widget"
					 data-margin="1" data-pagi="false" data-autoplay="5000" data-loop="true" data-items-xxs="1"
					 data-items-xs="2" data-items-sm="4"
					 data-items-lg="{{ model.Offer.Children|length > 5 ? 5 : model.Offer.Children|length }}">
					{% for offer in model.Offer.Children %}
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="{{ Router.Create("offer", {slug: offer.Slug}) }}">
										<img src="{{ offer.PictureSource("Medium") }}"
											 alt="{{ offer.Title }}">
									</a>
									<div class="portfolio-overlay">
										<a href="http://canvashtml-cdn.semicolonweb.com/images/portfolio/full/1.jpg"
										   class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="{{ Router.Create("offer", {slug: offer.Slug}) }}" class="right-icon"><i
													class="icon-line-ellipsis"></i></a>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="{{ Router.Create("offer", {slug: offer.Slug}) }}">{{ offer.Title }}</a>
									</h3>
									<span>{{ offer.City }}, {{ offer.Country }}</span>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div><!-- .portfolio-carousel end -->

		</div>

	</section><!-- #content end -->

	<!-- njiov modal -->

	<div class="center">
		<a href="#myModal1" data-lightbox="inline" class="button button-large button-rounded">Trigger Modal</a>
		<div class="line"></div>
	</div>

	<div class="modal1 mfp-hide" id="myModal1">
		<div class="block divcenter" style="background-color: #FFF; max-width: 500px;">
			<div class="center" style="padding: 50px;">
				<h3>A Simple Example of a Text Modal</h3>
				<p class="nobottommargin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum delectus,
					tenetur obcaecati porro! Expedita nostrum tempora quia provident perspiciatis inventore, autem
					eaque, quod explicabo, ipsum, facilis aliquid! Sapiente, possimus quo!</p>
			</div>
			<div class="section center nomargin" style="padding: 30px;">
				<a href="#" class="button" onClick="$.magnificPopup.close();return false;">Close this Modal</a>
			</div>
		</div>
	</div>
	<!-- njiov modal end-->


	<div class="modal fade" id="successBookingModal" tabindex="-1" role="dialog"
		 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Dimi will answer to you soon</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block post_scripts %}
	<script type="text/javascript">

		$('.travel-date-group').datepicker({
			format: "yyyy-mm-dd"
		});


		$(document).on("click", "#booking-submit", function (e) {
			e.preventDefault();

			var firstName = $("#firstName").val();
			var lastName = $("#lastName").val();
			var email = $("#email").val();
			var phoneNumber = $("#phoneNumber").val();
			var adults = $("#adults").val();
			var dateFrom = $("#dateFrom").val();
			var dateTo = $("#dateTo").val();
			var message = $("#message").val();

			if (firstName == '' || lastName == '' || dateFrom == '') {
				SEMICOLON.widget.notifications(this);
				return false;

			} else {

				$.ajax({
					type: "POST",
					url: "{{ Router.Create("book-offer", {id: model.Offer.OfferId}) }}",
					data: {
						firstName: firstName,
						lastName: lastName,
						email: email,
						phoneNumber: phoneNumber,
						adults: adults,
						dateFrom: dateFrom,
						dateTo: dateTo,
						message: message
					},
					cache: false,
					success: function (html) {
						$("#successBookingResponse").html(html);
						$("#successBookingModal").modal('show');


					}
				});

				this.attr('success', '<i class=icon-ok-sign></i> Message Sent Successfully!');
				SEMICOLON.widget.notifications(this);
				return false;

			}

		});

	</script>
{% endblock %}
