{% extends "Default/Master/Master.twig" %}

{# @var model \PageViewModel #}

{% block title %}{{ model.City ~ ", " ~ model.Country }}{% endblock %}

{% block content %}

	<!-- Page Title
		============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>Travel Offers List</h1>
			<span>You searched for {{ model.City }}, {{ model.Country }}</span>
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Search Offers</li>
			</ol>
		</div>

	</section><!-- #page-title end -->

	<!-- Content
	============================================= -->
	<section id="content">

		<div class="content-wrap">

			<div class="container clearfix">

				<div class="postcontent nobottommargin">

					<div id="posts" class="events small-thumbs">

						{% for offer in model.Offers %}
							<div class="entry clearfix">
								<div class="entry-image">
									<a href="{{ Router.Create("offer", {slug: offer.Slug}) }}">
										<img src="{{ offer.PictureSource("Medium") }}"
											 alt="{{ offer.Title }}">
										<div class="entry-date">{{ offer.Price }}<span>EUR</span></div>
									</a>
								</div>
								<div class="entry-c">
									<div class="entry-title">
										<h2>
											<a href="{{ Router.Create("offer", {slug: offer.Slug}) }}">{{ offer.Title }}</a>
										</h2>
									</div>
									<ul class="entry-meta clearfix" style="height: 30px;">
										<li><span class="label label-warning">Travel</span></li>
										<li>
											<a href="#"><i class="icon-map-marker2"></i>
												{{ offer.City }}, {{ offer.Country }}
											</a>
										</li>
									</ul>
									<div class="entry-content">
										<p>{{ offer.ShortDescription }}</p>
										<a href="{{ Router.Create("offer", {slug: offer.Slug}) }}"
										   class="button button-3d button-rounded button-red"><i
													class="icon-hand-right"></i>Read Program</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

				</div>

				<div class="sidebar nobottommargin col_last clearfix">
					<div class="sidebar-widgets-wrap">
						<div class="widget quick-contact-widget clearfix">

							<h4>Quick Contact</h4>
							<div class="quick-contact-form-result"></div>
							<form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php"
								  method="post" class="quick-contact-form nobottommargin">
								<div class="form-process"></div>

								<input type="text" class="required sm-form-control input-block-level"
									   id="quick-contact-form-name" name="quick-contact-form-name" value=""
									   placeholder="Full Name"/>
								<input type="text" class="required sm-form-control email input-block-level"
									   id="quick-contact-form-email" name="quick-contact-form-email" value=""
									   placeholder="Email Address"/>
								<textarea class="required sm-form-control input-block-level short-textarea"
										  id="quick-contact-form-message" name="quick-contact-form-message" rows="4"
										  cols="30" placeholder="Message"></textarea>
								<input type="text" class="hidden" id="quick-contact-form-botcheck"
									   name="quick-contact-form-botcheck" value=""/>
								<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit"
										class="button button-small button-3d nomargin" value="submit">Send Email
								</button>
							</form>


						</div>

					</div>
				</div>

			</div>

		</div>

	</section><!-- #content end -->
{% endblock %}

{% block post_scripts %}
{% endblock %}

{% block additional_styles %}
	<link rel="stylesheet" href="Theme/Default/css/widgets.css">
{% endblock %}