{# Twig master for common master elements #}
{% block doctype %}
<!DOCTYPE html>
{% endblock %}

<html lang="en">

    <head>
        {% block head %}
            <base href="{{ Config.admin.url }}">
            <title>{% block title %}{% endblock %} - Shapeit365</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
            <!--<link rel="shortcut icon" href="../images/favicon.png" type="image/png">-->
            <link rel="stylesheet" href="Theme/Admin/lib/Hover/hover.css">
            <link rel="stylesheet" href="Theme/Admin/lib/fontawesome/css/font-awesome.css">
            <link rel="stylesheet" href="Theme/Admin/lib/weather-icons/css/weather-icons.css">
            <link rel="stylesheet" href="Theme/Admin/lib/ionicons/css/ionicons.css">

            <script src="Theme/Admin/lib/modernizr/modernizr.js"></script>

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="Theme/Admin/lib/html5shiv/html5shiv.js"></script>
            <script src="Theme/Admin/lib/respond/respond.src.js"></script>
            <![endif]-->
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>