{% extends "Admin/Master/Base.twig" %}

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

{% block head %}
    {{ parent() }}
    {% block additional_styles %}{% endblock %}
    <link rel="stylesheet" href="Theme/Admin/css/quirk.css">
{% endblock %}


{% block scripts %}
    <script src="Theme/Admin/lib/jquery/jquery.js"></script>
    <script src="Theme/Admin/lib/jquery-ui/jquery-ui.js"></script>
    <script src="Theme/Admin/lib/bootstrap/js/bootstrap.js"></script>
    {% block post_scripts %}{% endblock %}
    <script src="Theme/Admin/js/quirk.js"></script>
{% endblock %}