{% extends "Admin/Master/Base.twig" %}

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

{% block body_class %}signwrapper{% endblock %}

{% block head %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="Theme/Admin/css/style.css"/>
    <link rel="stylesheet" href="Theme/Admin/lib/dropzone/dropzone.css">
    {% block additional_styles %}{% endblock %}

    <link rel="stylesheet" href="Theme/Admin/lib/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="Theme/Admin/lib/select2/select2.css">

    <link rel="stylesheet" href="Theme/Admin/css/quirk.css">
{% endblock %}


{% block scripts %}
    <script src="Theme/Admin/lib/jquery/jquery.js"></script>
    <script src="Theme/Admin/lib/jquery-ui/jquery-ui.js"></script>
    <script src="Theme/Admin/lib/bootstrap/js/bootstrap.js"></script>
    <script src="Theme/Admin/lib/select2/select2.js"></script>
    <script type="text/javascript">
        // Date Picker
        $('.datepicker').datepicker();
        $('.select2').select2();
    </script>

    <script src="Theme/Admin/lib/jquery-toggles/toggles.js"></script>
    <script type="text/javascript">
        // Toggles
        $('.toggle').toggles({
            height: 26
        });
    </script>
    {% block post_scripts %}{% endblock %}
    <script src="Theme/Admin/js/quirk.js"></script>
{% endblock %}