{# @var role \Gdev\UserManagement\Models\Role #}

<div class="col-md-3">
    <div class="panel panel-profile grid-view">
        <div class="panel-heading">
            <div class="text-center">
                <a href="{{ Router.Create("role-update", {roleId: role.RoleId}) }}">
                    <h4 class="panel-profile-name">{{ role.Name }}</h4>
                </a>
            </div>
            <ul class="panel-options">
                <li>
                    <a class="tooltips" href="{{ Router.Create("role-update", {roleId: role.RoleId}) }}"
                       data-toggle="tooltip" title="Edit">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </li>
                <li>
                    <a class="tooltips confirm" data-href="{{ Router.Create("role-delete", {roleId: role.RoleId}) }}"
                       data-toggle="tooltip" title="Delete">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
            </ul>
        </div><!-- panel-heading -->
        <div class="panel-body people-info">

            <div class="row text-center">
                <div class="col-sm-6">
                    <div class="info-group">
                        <label>Active</label>
                        {% if role.Active == 1 %}
                            <span class="label label-success">Yes</span>
                        {% else %}
                            <span class="label label-default">No</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="info-group">
                        <label>Protected</label>
                        {% if role.Protected == 1 %}
                            <span class="label label-success">Yes</span>
                        {% else %}
                            <span class="label label-default">No</span>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>