{# Twig master for common master elements #}
{% block doctype %}
<!DOCTYPE html>
{% endblock %}

<html lang="en">

	<head>
		{% block head %}
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({
					google_ad_client: "ca-pub-6055130416982353",
					enable_page_level_ads: true
				});
			</script>
			<base href="{{ Config.portal.url }}">
			<title>{% block title %}{% endblock %} - Travel insider</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
			<meta name="author" content="Gentleman development"/>
			<meta name="description" content="">

			<script async defer
					src="https://maps.googleapis.com/maps/api/js?key={{ Config.map.apikey }}&callback=initMap"
					type="text/javascript"></script>


			<link type="text/css" rel="stylesheet" href="Theme/css/bootstrap.css"/>
			<link type="text/css" rel="stylesheet" href="Theme/css/style.css"/>
			<link type="text/css" rel="stylesheet" href="Theme/css/dark.css"/>


		{% endblock %}
	</head>

	<body data-loader="2" class="{% block body_class %}stretched{% endblock %}">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113499410-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-113499410-1');
		</script>


		<div id="fb-root"></div>
		<script>(function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s);
				js.id = id;
				js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=447415885286755&autoLogAppEvents=1';
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
		{% block body %}


		{% endblock %}
		{% block scripts %}{% endblock %}
	</body>
</html>