{% extends "Default/Master/Base.twig" %}


{% block head %}
	<title>{% block title %}{% endblock %} - Shapeit365</title>

	<meta charset="utf-8">

	<link rel="shortcut icon" href="/Media/Logo/Screenshot_2.png" type="image/x-icon"/>
	<link rel="icon" href="/Media/Logo/Screenshot_2.png" type="image/x-icon"/>

	<link href="/http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"
		  rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="/Theme/css/bootstrap.css" type="text/css"/>
	<link rel="stylesheet" href="/Theme/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="/Theme/css/animate.css" type="text/css"/>
	<link rel="stylesheet" href="/Theme/css/colors.css" type="text/css"/>
	<link rel="stylesheet" href="/Theme/css/dark.css" type="text/css"/>
	<link rel="stylesheet" href="/Theme/css/font-icons.css" type="text/css"/>
	<link rel="stylesheet" href="/Theme/css/magnific-popup.css" type="text/css"/>
	<link rel="stylesheet" href="/Theme/css/fonts.css" type="text/css"/>
	<link rel="stylesheet" href="/Theme/css/responsive.css" type="text/css"/>
	<link rel="stylesheet" href="/Theme/css/colors.php?color=AC4147" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="/Theme/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/Theme/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="/Theme/css/jquery.sweet-modal.min.css"/>

	<link rel="stylesheet" href="/Theme/travel/shapeit.css" type="text/css"/>
	<link rel="stylesheet" href="/Theme/travel/datepicker.css" type="text/css"/>

	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	{% block additional_styles %}{% endblock %}
	<link rel="stylesheet" href="/Theme/css/custom.css" type="text/css"/>

{% endblock %}

{% block body %}
	{% block navigation %}
		<header id="header" class="{% block header_class %}{% endblock %} " data-sticky-class="not-dark"
				data-responsive-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo" style="margin-right: 0">
						<a href="{{ Config.portal.url }}" class="standard-logo"
						   data-dark-logo="/Media/Logo/Screenshot_2.png">
							<img src="/Media/Logo/Screenshot_2.png" alt="Shapeit"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					{{ Helper.GetMenu(Helper.EnumConstant("MenuPositionsEnum", "TopMenu"))|raw }}


				</div>

			</div>

		</header><!-- #header end -->
	{% endblock %}

	{% block content %}

	{% endblock %}
	{% block footer %}
		<footer id="footer" class="dark" style="background-color: #222;">


			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; {{ "now" | date("Y") }} All Rights Reserved by Stefan<br>
					</div>

					<div class="col_half col_last tright">
						<i class="icon-envelope2"></i> shapeit365@gmail.com <span class="middot"></span>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

      {#  <div style="visibility: hidden; text-align: center" class="">
            <div class="modal-dialog" id="ad-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body">
                        {{ Helper.GetAd(2).Code|raw }}
                    </div>
                </div>
            </div>
        </div>#}
	{% endblock %}

{% endblock %}

{% block scripts %}

	<script type="text/javascript" id="jQueryScript" src="/Theme/js/jquery.min.js"></script>
	<script type="text/javascript" src="/Theme/js/plugins.js"></script>
	<script type="text/javascript" src="/Theme/js/datepicker.js"></script>
	<script type="text/javascript" src="/Theme/js/functions.js"></script>
	<script type="text/javascript" src="/Theme/js/jquery.sweet-modal.min.js"></script>
	<script src="/Bundles/PartialLoader/partial-loader.js"></script>

	<script type="text/javascript"
			src="https://maps.google.com/maps/api/js?key=AIzaSyDMxJ92oBkSnVNHFX3R8XhtYQPEgk1_IiI"></script>
	<script type="text/javascript" src="/Theme/js/jquery.gmap.js"></script>




	<script type="text/javascript">
		jQuery(window).load(function () {

			jQuery('#popular-dest-map').gMap({
				address: 'Spain',
				maptype: 'ROADMAP',
				zoom: 2,
				markers: [
					{
						address: "Melbourne, Australia",
						icon: {
							image: "images/icons/map-icon-red.png",
							iconsize: [32, 39],
							iconanchor: [16, 36]
						}
					},
					{
						address: "Ibiza, Spain",
						icon: {
							image: "images/icons/map-icon-red.png",
							iconsize: [32, 39],
							iconanchor: [16, 36]
						}
					},
					{
						address: "New York",
						icon: {
							image: "images/icons/map-icon-red.png",
							iconsize: [32, 39],
							iconanchor: [16, 36]
						}
					},
					{
						address: "Rio de Janeiro, Brazil",
						icon: {
							image: "images/icons/map-icon-red.png",
							iconsize: [32, 39],
							iconanchor: [16, 36]
						}
					},
					{
						address: "Moscow, Russia",
						icon: {
							image: "images/icons/map-icon-red.png",
							iconsize: [32, 39],
							iconanchor: [16, 36]
						}
					},
					{
						address: "Rome, Italy",
						icon: {
							image: "images/icons/map-icon-red.png",
							iconsize: [32, 39],
							iconanchor: [16, 36]
						}
					},
					{
						address: "New Delhi, India",
						icon: {
							image: "images/icons/map-icon-red.png",
							iconsize: [32, 39],
							iconanchor: [16, 36]
						}
					},
					{
						address: "Bangkok, Thailand",
						icon: {
							image: "images/icons/map-icon-red.png",
							iconsize: [32, 39],
							iconanchor: [16, 36]
						}
					},
					{
						address: "Dubai",
						icon: {
							image: "images/icons/map-icon-red.png",
							iconsize: [32, 39],
							iconanchor: [16, 36]
						}
					},
					{
						address: "Cape Town, South Africa",
						icon: {
							image: "images/icons/map-icon-red.png",
							iconsize: [32, 39],
							iconanchor: [16, 36]
						}
					}
				],
				doubleclickzoom: false,
				controls: {
					panControl: false,
					zoomControl: true,
					mapTypeControl: false,
					scaleControl: false,
					streetViewControl: false,
					overviewMapControl: false
				},
				styles: [{
					"featureType": "landscape.natural",
					"elementType": "geometry.fill",
					"stylers": [{"visibility": "on"}, {"color": "#e0efef"}]
				}, {
					"featureType": "poi",
					"elementType": "geometry.fill",
					"stylers": [{"visibility": "on"}, {"hue": "#1900ff"}, {"color": "#c0e8e8"}]
				}, {
					"featureType": "road",
					"elementType": "geometry",
					"stylers": [{"lightness": 100}, {"visibility": "simplified"}]
				}, {
					"featureType": "road",
					"elementType": "labels",
					"stylers": [{"visibility": "off"}]
				}, {
					"featureType": "transit.line",
					"elementType": "geometry",
					"stylers": [{"visibility": "on"}, {"lightness": 700}]
				}, {"featureType": "water", "elementType": "all", "stylers": [{"color": "#7dcdcd"}]}]
			});
		});

		setTimeout(function () {
			var holder = $('#ad-modal').parent();
			holder.css("visibility", "visible");
			holder.addClass('modal fade');
			holder.modal('show');
		}, 5000);

	</script>

	<script type="text/javascript">
		$('#google-map').gMap({
			address: 'Nis, Serbia',
			maptype: 'ROADMAP',
			zoom: 14,
			doubleclickzoom: false,
			controls: {
				panControl: true,
				zoomControl: true,
				mapTypeControl: true,
				scaleControl: false,
				streetViewControl: false,
				overviewMapControl: false
			}
		});
	</script>
	{% block post_scripts %}{% endblock %}
{% endblock %}

