{% extends "Admin/Master/Master.twig" %}

{% block title %}List of Slides{% endblock %}

{% block content %}

    {# @var model \ArtistsViewModel #}

    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("slide-list") }}">Slides</a>
        </li>
        <li class="active">Slide Directory</li>
    </ol>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">Slide List</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="datatable table table-bordered table-striped-col" id="general-table">
                    <thead>
                        <tr>
                            <th style="width: 70px !important;">Picture</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Link</th>
                            <th>Active</th>
                            <th class="text-center" style="width: 80px;">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for slide in model %}
                            <tr data-slideid="{{ slide.SlideId }}">
                                <td>
                                    <img class="media-object" style="margin: auto" alt=""
                                         src="{{ slide.PictureSource("Small") }}">
                                </td>
                                <td>{{ slide.GetDescription(Helper.GetLanguage()).Title }} </td>
                                <td>{{ slide.GetDescription(Helper.GetLanguage()).Description }} </td>
                                <td>
                                    <a href="{{ slide.GetDescription(Helper.GetLanguage()).Link }}"
                                       target="_blank"> {{ slide.GetDescription(Helper.GetLanguage()).Link }}
                                    </a>
                                </td>
                                <td>
                                    {% if slide.Active == 1 %}
                                        <span class="label label-success"><i class="fa fa-check"></i> YES</span>
                                    {% else %}
                                        <span class="label label-default"><i class="fa fa-times"></i> NO</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <ul class="table-options">
                                        <li>
                                            <a href="{{ Router.Create("slide-update", {slideId: slide.SlideId}) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="confirm" style="cursor: pointer" data-toggle="tooltip" title="Delete" data-href="{{ Router.Create("slide-delete", {slideId: slide.SlideId}) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- panel -->

{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/Admin/lib/select2/select2.css">
{% endblock %}

{% block post_scripts %}
    <script src="Theme/Admin/lib/select2/select2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            'use strict';

            $('select').select2();
        });

        $("#general-table tbody").sortable({
            placeholder: "ui-state-highlight",
            update: function (event, ui) {
                var slidesWeight = [];
                var weight = 1;

                $("#general-table tbody tr").each(function() {
                    var slideId = $(this).data("slideid");
                    var dto = {
                        ItemId: slideId,
                        Weight: weight
                    };

                    slidesWeight.push(dto);
                    weight++;

                });
                console.log(slidesWeight);

                $.ajax({
                    url: "weight-slides",
                    method: "POST",
                    data: {
                        weights: slidesWeight
                    },
                    success: function(response) {
                        if(response == 0) {
                            alert("Sorting failed. Please try again.");
                        } else {
                            var i = 1;
                            $("#general-table tbody tr").each(function() {
                                $(this).children(".weight").html(i++);
                            });
                        }
                    }
                })
            }
        });

    </script>
{% endblock %}