{% extends "Admin/Master/Master.twig" %}

{% block title %}Edit Slide {{ model.GetDescription(Helper.GetLanguage()).Title }}{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("slide-list") }}">Slides</a>
        </li>
        <li class="active">Edit slide {{ model.GetDescription(Helper.GetLanguage()).Title }}</li>
    </ol>

    {% include "Admin/Slides/Partial/SlideForm.twig" with {'slide': model} %}
{% endblock %}

{% block post_scripts %}
    <script src="Theme/Admin/lib/jquery-toggles/toggles.js"></script>

    <script type="text/javascript">
        // Toggles
        $('.toggle').toggles({
            height: 26
        });
    </script>
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/Admin/lib/jquery-toggles/toggles-full.css">
{% endblock %}