{# @var model \SponsorGroupViewModel #}

{% extends "Admin/Master/Master.twig" %}

{% block title %}Edit Sponsor Group {{ model.SponsorGroup.Name }}{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("sponsorGroups-list") }}">Sponsor Groups</a>
        </li>
        <li class="active">Edit Sponsor Group {{ model.SponsorGroup.Name }}</li>
    </ol>

    {% include "Admin/SponsorGroups/Partial/SponsorGroupForm.twig" with {'model': model} %}
{% endblock %}

{% block post_scripts %}
    <script type="text/javascript">
        $(".slug-field").on("keyup", function () {
            var form = $(this).closest("form");
            var key = form.find("[name=firstname]").val() + " " + form.find("[name=lastname]").val();
            $("[name=slug]").val($.slugify(key));
        });
    </script>
{% endblock %}
