<div class="panel-group accordion">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse">
                    Title
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse">
            <div class="panel-body">
                Body
            </div>
        </div>
    </div>
    
</div>