<figure class="people">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            Image
        </div>
        <div class="col-md-8 col-md-pull-4">
            <h2>Name</h2>
            <small>Title</small>
            <p>Biography</p>
        </div>
    </div>
</figure>