<aside class="sidebar-secondary">

    <h4>Drop us a message</h4>

    <p>
        press@boulezsaal.de
        <br>

        Clara Marie Stangier
        <br>
        PA to the director of Pierre Boulez Saal
    </p>

    <p>
        Pierre Boulez Saal
        <br>
        Barenboim-Said Akademie gGmbH
        <br>
        Französische Straße 33 D
        <br>
        10117 Berlin, Germany
    </p>
</aside>