{% extends "Admin/Master/Master.twig" %}

{% block title %}List of Bookings{% endblock %}

{% block content %}

	{# @var model \BookingsViewModel #}

	<ol class="breadcrumb breadcrumb-quirk">
		<li>
			<a href="{{ Router.Create("home") }}">
				<i class="fa fa-home mr5"></i>
				Home
			</a>
		</li>
		<li>
			<a href="{{ Router.Create("booking-list") }}">Bookings</a>
		</li>
		<li class="active">Bookings Directory</li>
	</ol>

	<div class="panel">
		<div class="panel-heading">
			<h4 class="panel-title">Bookings List</h4>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="datatable table table-bordered table-striped-col">
					<thead>
						<tr>
							<th>Offer</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Phone number</th>
							<th>Adults</th>
							<th>Message</th>
							<th>Departure</th>
							<th>Return</th>
							<th class="text-center" style="width: 100px;">Actions</th>

						</tr>
					</thead>

					<tfoot>
						<tr>
							<th>Offer</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Phone number</th>
							<th>Adults</th>
							<th>Message</th>
							<th>Departure</th>
							<th>Return</th>
							<th class="text-center" style="width: 100px;">Actions</th>

						</tr>
					</tfoot>

					<tbody>
						{% for booking in model.Bookings %}

							<tr>
								<td>{{ booking.Offer.Title }}</td>
								<td>{{ booking.FirstName }}</td>
								<td>{{ booking.LastName }}</td>
								<td>{{ booking.Email }}</td>
								<td>{{ booking.PhoneNumber }}</td>
								<td>{{ booking.Adults }}</td>
								<td>{{ booking.Message }}</td>
								<td>{{ booking.DateFrom.format("Y-m-d") }}</td>
								<td>{{ booking.DateTo.format("Y-m-d") }}</td>
								<td>
									<ul class="table-options">
										<li>
											<a href="{{ Router.Create("bookings-thumbnail-crop", {id: booking.BookingId, size: 'medium'}) }}"
											   title="Crop thumbnail">
												<i class="fa fa-crop"></i>
											</a>
										</li>
										<li>
											<a href="{{ Router.Create("update-booking", {id: booking.BookingId}) }}">
												<i class="fa fa-pencil"></i>
											</a>
										</li>
										<li>
											<a class="confirm" style="cursor: pointer"
											   data-href="{{ Router.Create("delete-booking", {id: booking.BookingId}) }}">
												<i class="fa fa-trash"></i>
											</a>
										</li>
									</ul>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div><!-- panel -->

{% endblock %}

{% block additional_styles %}
	<link rel="stylesheet" href="Theme/PBS/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
	<link rel="stylesheet" href="Theme/PBS/lib/select2/select2.css">
{% endblock %}

{% block post_scripts %}
	<script src="Theme/PBS/lib/datatables/jquery.dataTables.js"></script>
	<script src="Theme/PBS/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script src="Theme/PBS/lib/select2/select2.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			'use strict';
			$('.datatable').DataTable();

			$('select').select2();
		});
	</script>
{% endblock %}