{% extends "Default/Master/Master.twig" %}

{% block title %}Post{% endblock %}

{% block content %}

	<!-- Page Title
	============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>{{ model.Post.Title }}</h1>

		</div>

	</section><!-- #page-title end -->

	<!-- Content
	============================================= -->
	<section id="content">

		<div class="content-wrap">

			<div class="container clearfix">

				<!-- Post Content
				============================================= -->
				<div class="postcontent nobottommargin clearfix">

					<div class="single-post nobottommargin">

						<!-- Single Post
						============================================= -->
						<div class="entry clearfix">

							<!-- Entry Meta
							============================================= -->
							<ul class="entry-meta clearfix">
								<li><i class="icon-calendar3"></i> {{ model.Post.Date.format("F j, Y") }}</li>
								<li><a href="#"><i class="icon-user"></i> {{ model.Post.Author.Details.FirstName }}</a>

								</li>
								<li><i class="icon-folder-open"></i> <a href="#">{{ model.Post.Theme }}</a></li>
							</ul><!-- .entry-meta end -->

							<!-- Entry Image
							============================================= -->
							<div class="entry-image">
								<a href="#"><img src="{{ model.Post.PictureSource }}" alt="Blog Single"></a>
							</div><!-- .entry-image end -->

							<!-- Entry Content
							============================================= -->
							<div class="entry-content notopmargin">

								<p>{{ model.Post.Description|insertAds|raw }}</p>
								<!-- Post Single - Content End -->
								<!-- Post Single - Share
								============================================= -->
								<div class="si-share noborder clearfix">
									<span>Share this Post:</span>
									<div>
										<a href="#" class="social-icon si-borderless si-facebook">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>

									</div>
								</div><!-- Post Single - Share End -->

							</div>
						</div><!-- .entry end -->

						<!-- Post Author Info
						============================================= -->

						<!-- Post Single - Author End -->

						<div class="line"></div>


						<h4>Related Posts:</h4>

						<div class="related-posts clearfix">
							{% for post in model.Post.Children %}
								<div class="col_half nobottommargin {% if loop.index is odd %} col_last {% endif %}">
									<div class="mpost clearfix">
										<div class="entry-image">
											<a href="{{ Router.Create("post", {slug: post.Slug}) }}"><img
														src="{{ post.PictureSource }}" alt="Blog Single"></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4>
													<a href="{{ Router.Create("post", {slug: post.Slug}) }}">{{ post.Title }}</a>
												</h4>
											</div>
											<ul class="entry-meta clearfix">
												<li><i class="icon-calendar3"></i> {{ post.Date.format('Y-m-d') }}</li>
											</ul>
											<div class="entry-content">{{ post.ShortDescription|slice(0,150)~ '...'  }}
											</div>
										</div>
									</div>
								</div>
							{% endfor %}


						</div>

						<!-- Comments
						============================================= -->
						<div class="fb-comments" data-width=""></div>

					</div>

				</div><!-- .postcontent end -->

				<!-- Sidebar
				============================================= -->


			</div>

		</div>

	</section><!-- #content end -->


	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

{% endblock %}