{% extends "Admin/Master/Master.twig" %}

{% block title %}Create Page{% endblock %}

{% block content %}

    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("pages-list") }}">Pages</a>
        </li>
        <li class="active">New Page</li>
    </ol>

    {% include "Admin/Pages/Partial/PageForm.twig" %}

{% endblock %}

{% block post_scripts %}
    <script src="Theme/Admin/lib/select2/select2.js"></script>
    <script type="text/javascript">
        // Date Picker
        $('.datepicker').datepicker();
        $('.select2').select2();
    </script>

    <script type="text/javascript">
        $('[name=slug]').slugify('[name=title]');
    </script>
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/Admin/lib/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="Theme/Admin/lib/select2/select2.css">
{% endblock %}