{% extends "Admin/Master/Master.twig" %}

{# @var model \PagesViewModel #}

{% block title %}List of pages{% endblock %}

{% block content %}

    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("pages-list") }}">Pages</a>
        </li>
        <li class="active">Pages Directory</li>
    </ol>


    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">Pages List</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="datatable table table-bordered table-striped-col">
                    <thead>
                        <tr>
                            <th style="width: 100px;">Image</th>
                            <th>Title</th>
                            <th class="text-center" style="width: 80px;">Actions</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th class="text-center" style="width: 80px;">Actions</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        {% for page in model.Pages %}
                            <tr>
                                <td>
                                    <img class="media-object" style="width: 100px; height: 100px; margin: auto" alt=""
                                         src="{{ page.PictureSource("Small") }}">
                                </td>
                                <td>{{ page.GetDescription(Helper.GetLanguage()).Title }}</td>
                                <td>
                                    <ul class="table-options">
                                        <li>
                                            <a href="{{ Router.Create("page-builder-duplicate", {id: page.PageId}) }}"
                                               title="Duplicate">
                                                <i class="fa fa-copy"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ Router.Create("pages-thumbnail-crop", {id: page.PageId, size: 'header'}) }}"
                                               title="Crop header image">
                                                <i class="fa fa-crop"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ Router.Create("pages-thumbnail-crop", {id: page.PageId, size: 'thumb'}) }}"
                                               title="Crop thumbnail">
                                                <i class="fa fa-crop"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ Router.Create("page-builder", {id: page.PageId}) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="confirm" style="cursor: pointer"
                                               data-href="{{ Router.Create("pages-delete", {id: page.PageId}) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- panel -->

{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/Admin/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" href="Theme/Admin/lib/select2/select2.css">
{% endblock %}

{% block post_scripts %}
    <script src="Theme/Admin/lib/datatables/jquery.dataTables.js"></script>
    <script src="Theme/Admin/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="Theme/Admin/lib/select2/select2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            'use strict';
            $('.datatable').DataTable();

            $('select').select2();
        });
    </script>
{% endblock %}