{% extends "Admin/Master/Master.twig" %}

{% block title %}Edit Page {{ model.GetDescription(Helper.GetLanguage()).Title }}{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("pages-list") }}">Pages</a>
        </li>
        <li class="active">Edit page {{ model.GetDescription(Helper.GetLanguage()).Title }}</li>
    </ol>

    {% include "Admin/Pages/Partial/PageForm.twig" with {'page': model} %}
{% endblock %}

{% block post_scripts %}
    <script src="Theme/Admin/lib/jquery-toggles/toggles.js"></script>
    <script src="Theme/Admin/lib/jquery.gritter/jquery.gritter.js"></script>

    <script type="text/javascript">
        // Toggles
        $('.toggle').toggles({
            height: 26
        });

        $(".add-widget-button").on("click", function () {
            var modal = $("#myModal");
            modal.find("[name=widgetType]").select2("val", "");
            $("#widget-form").find("[name=widgetId]").val($(this).data(""));
            modal.modal("show");
        });

        $("[name=widgetType]").on("change", function () {
            var type = $(this).val();
            var widgetId = $("#widget-form").find("[name=widgetId]").val();
            if (type == "") {
                $("#widget-options-holder").html("");
            }
            else {

                $.ajax({
                    url: "{{ Router.Create("widget-options") }}",
                    type: "POST",
                    data: {
                        type: type,
                        id: widgetId
                    },
                    success: function (content) {
                        $("#widget-options-holder").html(content);
                    }
                });
            }
        });


        $("#save-widget-button").on("click", function () {
            $.ajax({
                url: "{{ Router.Create("widget-save") }}",
                type: "POST",
                dataType: "json",
                data: $("#widget-form").serialize(),
                success: function (response) {
                    $("#myModal").modal("hide");

                    if (response.Success == true) {

                        var currentElement = $("[data-widget-id=" + response.Widget.WidgetId + "]");
                        if (currentElement.length == 0) {

                            var newEl = $("<div>").addClass("form-group widget-holder").attr("data-widget-id", response.Widget.WidgetId)
                                    .append(
                                            $("<div>").addClass("well").text(response.Widget.Type)
                                                    .append($("<a>").css("float", "right").addClass("btn btn-xs btn-danger delete-widget-button").data("widgetId", response.Widget.WidgetId).append($("<i>").addClass("fa fa-times")))
                                                    .append($("<a>").css("float", "right").addClass("btn btn-xs btn-primary edit-widget-button").data("type", response.Widget.Type).data("widgetId", response.Widget.WidgetId).append($("<i>").addClass("fa fa-edit")))
                                    );
                            $("#widgets-area-holder").prepend(newEl);

                            newEl.hide();
                            newEl.slideDown("slow");

                            $.gritter.add({
                                title: 'Success',
                                text: 'Widget is created',
                                class_name: 'with-icon check-circle success'
                            });
                        }

                        else {
                            $.gritter.add({
                                title: 'Success',
                                text: 'Widget is changed',
                                class_name: 'with-icon check-circle success'
                            });
                        }
                    }
                }
            })
        });

        $("#widgets-area-holder").on("click", ".edit-widget-button", function () {
            var modal = $("#myModal");
            $("#widget-form").find("[name=widgetId]").val($(this).closest(".widget-holder").data("widgetId"));
            modal.find("[name=widgetType]").select2("val", "");
            modal.find("[name=widgetType]").select2("val", $(this).data("type"));
            modal.modal("show");
        });

        $("#widgets-area-holder").on("click", ".delete-widget-button", function () {
            var widgetId = $(this).closest(".widget-holder").data("widgetId");
            var $this = $(this);
            $.ajax({
                url: "{{ Router.Create("widget-delete") }}",
                type: "POST",
                dataType: "json",
                data: {
                    id: widgetId
                },
                success: function (response) {
                    if (response.Success == true) {
                        $.gritter.add({
                            title: 'Success',
                            text: 'Widget is deleted',
                            class_name: 'with-icon check-circle success'
                        });

                        var $target = $this.closest(".widget-holder");
                        $target.slideUp(300, function () {
                            $target.remove()
                        });
                    }
                    else {
                        $.gritter.add({
                            title: 'Failed',
                            text: 'Error: ' + response.Error,
                            class_name: 'with-icon times-circle danger'
                        });
                    }
                }
            });
        });

        $("#widgets-area-holder").sortable({
            update: function () {
                var i = 1;
                var order = [];
                $("#widgets-area-holder").find(".widget-holder").each(function () {
                    var widgetId = $(this).data("widgetId");
                    order.push({
                        WidgetId: widgetId,
                        Weight: i++
                    });
                });

                $.ajax({
                    url: "{{ Router.Create("widget-reorder") }}",
                    type: "POST",
                    data: {
                        order: order
                    }
                })
            }
        });
        $("#widgets-area-holder").disableSelection();

    </script>
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/Admin/lib/jquery-toggles/toggles-full.css">
    <link rel="stylesheet" href="Theme/Admin/lib/jquery.gritter/jquery.gritter.css">
{% endblock %}