<div class="common-height clearfix">

	<div id="popular-dest-map" class="col-md-8 col-padding gmap hidden-xs"></div>
	{% for offer in model.Offers %}
		<div class="col-md-4 col-padding" style="background-color: #F9F9F9;">
			<div class="max-height clearfix">
				<div class="heading-block nobottommargin">
					<h4>Popular Destinations</h4>
				</div>
				<div class="spost col-md-12 col-sm-6 noborder noleftpadding clearfix">
					<div class="entry-image">
						<a href="#"><img src="images/magazine/small/1.jpg" alt=""></a>
					</div>
					<div class="entry-c">
						<div class="entry-title">
							<h4><a href="#">7 Nights/8 Days Europe</a></h4>
						</div>
						<ul class="entry-meta">
							<li><span class="color">$599</span> onwards</li>
						</ul>
					</div>
				</div>
				<div class="spost col-md-12 col-sm-6 noborder noleftpadding clearfix">
					<div class="entry-image">
						<a href="#"><img src="images/magazine/small/2.jpg" alt=""></a>
					</div>
					<div class="entry-c">
						<div class="entry-title">
							<h4><a href="#">4 Nights/5 Days Thailand</a></h4>
						</div>
						<ul class="entry-meta">
							<li><span class="color">$399</span> onwards</li>
						</ul>
					</div>
				</div>
				<div class="spost col-md-12 col-sm-6 noborder noleftpadding clearfix">
					<div class="entry-image">
						<a href="#"><img src="images/magazine/small/3.jpg" alt=""></a>
					</div>
					<div class="entry-c">
						<div class="entry-title">
							<h4><a href="#">11 Nights/12 Days America</a></h4>
						</div>
						<ul class="entry-meta">
							<li><span class="color">$1299</span> onwards</li>
						</ul>
					</div>
				</div>
				<div class="spost col-md-12 col-sm-6 noborder noleftpadding clearfix">
					<div class="entry-image">
						<a href="#"><img src="images/magazine/small/4.jpg" alt=""></a>
					</div>
					<div class="entry-c">
						<div class="entry-title">
							<h4><a href="#">14 Nights/15 Days New Zealand</a></h4>
						</div>
						<ul class="entry-meta">
							<li><span class="color">$1999</span> onwards</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>