{% extends "Admin/Builder/Widget/Master/Panel.twig" %}

{% block title %}Text Area{% endblock %}

{% block content %}
    {% set textareaId = random() %}
    <textarea class="textarea" id="textarea-{{ textareaId }}">{{ model.Options.content }}</textarea>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#textarea-{{ textareaId }}").summernote({
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['link', 'hr']],
                    ['misc', ['fullscreen', 'codeview', 'undo', 'redo']]
                ],
                callbacks: {
                    onBlur: function (e) {
                        var options = {
                            content: $("#textarea-{{ textareaId }}").summernote('code')
                        };

                        $("#textarea-{{ textareaId }}").closest("[data-widget]").data("options", options);
                    }
                }
            });
        });

    </script>
{% endblock %}