{% extends "Admin/Builder/Widget/Master/Panel.twig" %}

{% block title %}Title{% endblock %}

{% block content %}
	{% set inputId = random() %}
	<div class="row">
		<div class="col-md-6">
			<input type="text" id="title-{{ inputId }}" class="widget-title form-control" value="{{ model.Options.content }}"/>
		</div>
		<div class="col-md-3">
			{{ HtmlHelper.SearchableSelect({h1: "h1", h2: "h2", h3: "h3", h4: "h4", h5: "h5", h6: "h6"}, "element", model.Options.element, null, {id: "title-element-" ~ inputId})|raw }}
		</div>
		<div class="col-md-3">
			{{ HtmlHelper.SearchableSelect({left: "left", center: "center", right: "right"}, "align", model.Options.align, null, {id: "title-align-" ~ inputId})|raw }}
		</div>
	</div>


	<script type="text/javascript">
		$("#title-{{ inputId }}").on("blur", titleSave{{ inputId }});
		$("#title-element-{{ inputId }}").on("change", titleSave{{ inputId }});
		$("#title-align-{{ inputId }}").on("change", titleSave{{ inputId }});

		function titleSave{{ inputId }}() {
			var options = {
				content: $("#title-{{ inputId }}").val(),
				element: $("#title-element-{{ inputId }}").val(),
				align: $("#title-align-{{ inputId }}").val(),
			};

			$(this).closest("[data-widget]").data("options", options);
		}
	</script>
{% endblock %}