{# @var user \Gdev\UserManagement\Models\User #}
<div class="col-md-3 col-lg-3">
    <div class="panel panel-profile grid-view">
        <div class="panel-heading">
            <div class="text-center">
                <a href="{{ Router.Create("user-update-details", {username: user.UserName}) }}"
                   class="panel-profile-photo">
                    <img class="img-circle user-image" src="{{ user.Details.PictureSource("Small") }}" alt="">
                </a>
                <a href="{{ Router.Create("user-update-details", {username: user.UserName}) }}">
                    <h4 class="panel-profile-name">{{ user.Details.FirstName }} {{ user.Details.LastName }}</h4>
                </a>
                <p class="media-usermeta">
                    <i class="glyphicon glyphicon-briefcase"></i>
                    {{ user.Roles|indexes("Name")|join(", ") }}
                </p>
            </div>
            <ul class="panel-options">
                <li>
                    <a class="tooltips" href="{{ Router.Create("user-update-details", {username: user.UserName}) }}"
                       data-toggle="tooltip" title="Edit">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </li>
                <li>
                    <a class="tooltips confirm"
                       data-href="{{ Router.Create("user-delete", {username: user.UserName}) }}"
                       title="Delete">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
            </ul>
        </div><!-- panel-heading -->
        <div class="panel-body people-info">

            <div class="info-group">
                <label>Email</label>
                {{ user.Email }}
            </div>

            <div class="info-group last">
                <label>Date of Birth</label>
                {{ user.Details.DateOfBirth ? user.Details.DateOfBirth.format('jS F, Y') : "-" }}
            </div>
        </div>
    </div>
</div>
