{% extends "Admin/Master/Master.twig" %}

{% block title %}Roles{% endblock %}

{% block content %}

    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("role-list") }}">Roles</a>
        </li>
        <li class="active">Roles Directory</li>
    </ol>

    <div class="row">
        <div class="col-md-12 people-list">

            <input type="hidden" id="currentPage" value="{{ model.CurrentPage }}">
            <input type="hidden" id="totalPages" value="{{ model.TotalPages }}">

            <div class="people-options clearfix">
                <div class="btn-toolbar pull-left">
                    <a class="btn btn-success btn-quirk" href="{{ Router.Create("role-create") }}">Add New Role</a>
                </div>
                <div class="btn-group pull-right people-pager">
                    {% if (model.CurrentPage != 1) %}
                        <button type="button" class="btn btn-default" id="previousPage">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                    {% endif %}
                    {% if (model.TotalPages != model.CurrentPage) %}
                        <button type="button" class="btn btn-default" id="nextPage">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    {% endif %}
                </div>
                <span class="people-count pull-right">Showing <strong>{{ (model.CurrentPage == 1) ? "1" : model.RolesPerPage * model.CurrentPage - model.RolesPerPage + 1 }}-{{ (model.RolesPerPage * model.CurrentPage > model.TotalRoles) ? model.TotalRoles : model.RolesPerPage * model.CurrentPage }}</strong> of <strong>{{ model.TotalRoles }}</strong> roles</span>
            </div>

            <div class="row">
                {% for role in model.Roles %}
                    {% include "Admin/Roles/Shared/RoleBox.twig" with {role: role} %}
                {% else %}
                    <div class="col-md-12">
                        <p>No roles</p>
                    </div>
                {% endfor %}
            </div><!-- row -->

        </div>
    </div><!-- row -->

{% endblock %}
{% block post_scripts %}

    <script type="text/javascript">

        $("body").on("click", "#previousPage", function (e) {
            e.preventDefault();

            var currentPage = parseInt($("#currentPage").val());
            var previousPage = 1;

            if (currentPage != 1) {
                previousPage = currentPage - 1;
            }

            $.ajax({
                url: "roles/list/",
                method: "GET",
                data: {
                    pageNumber: previousPage
                },
                success: function (data) {
                    var newContent = $(data);
                    $(".people-list").html(newContent.find(".people-list").first().html());

                    $(".confirm").confirmation({
                        animation: true,
                        placement: 'bottom',
                        trigger: 'click',
                        btnOkClass: 'btn-danger btn-small',
                        btnCancelClass: 'btn-primary btn-small',
                        container: 'body',
                        popout: true,
                        singleton: true,
                        onCancel: function () {
                            $(".confirm").confirmation('hide');
                        }

                    });
                }
            })
        });

        $("body").on("click", "#nextPage", function (e) {
            e.preventDefault();

            var currentPage = parseInt($("#currentPage").val());
            var totalPages = parseInt($("#totalPages").val());

            if (totalPages != currentPage) {
                var nextPage = currentPage + 1;
            }

            $.ajax({
                url: "roles/list/",
                method: "GET",
                data: {
                    pageNumber: nextPage
                },
                success: function (data) {
                    var newContent = $(data);
                    $(".people-list").html(newContent.find(".people-list").first().html());

                    $(".confirm").confirmation({
                        animation: true,
                        placement: 'bottom',
                        trigger: 'click',
                        btnOkClass: 'btn-danger btn-small',
                        btnCancelClass: 'btn-primary btn-small',
                        container: 'body',
                        popout: true,
                        singleton: true,
                        onCancel: function () {
                            $(".confirm").confirmation('hide');
                        }

                    });
                }
            })
        });

    </script>

{% endblock %}