{% extends "Admin/Master/Master.twig" %}

{% block title %}Update User{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("role-list") }}">Roles</a>
        </li>
        <li class="active">Update Role</li>
    </ol>


    {% include "Admin/Roles/Partial/RoleForm.twig" %}

{% endblock %}