.ext-widget {
    position: relative;
    display: block;
    background-color: lightgrey;
    text-align: center;
    padding: 15px;
    border: 1px solid grey;
    cursor: pointer;
}

.widget-loader::after {
    content: "Choose widget";
}

.note-editable .accordion {
    border: 1px solid grey;
    padding: 5px 5px 20px;
}

.note-editable .collapse {
    display: block;
    border: 1px dashed grey;
    padding: 5px;
}

.note-editable .row {
    border: 1px solid grey;
    padding: 5px;
}

.note-editable .col-md-1,
.note-editable .col-md-2,
.note-editable .col-md-3,
.note-editable .col-md-4,
.note-editable .col-md-5,
.note-editable .col-md-6,
.note-editable .col-md-7,
.note-editable .col-md-8,
.note-editable .col-md-9,
.note-editable .col-md-10,
.note-editable .col-md-11,
.note-editable .col-md-12 {
    border: 1px dashed grey;

}