{% extends "Admin/Master/Master.twig" %}

{% block title %}Create Marketing Box{% endblock %}

{% block content %}

    <style>
        #loader-bar {
            display: inline-block;
            height: 100%;
            background-color: red;
        }

        #loader {
            background-color: black;
            height: 20px;
            width: 300px;
        }
    </style>

    <div id="loader">
        <div id="loader-bar"></div>
    </div>

    <span id="finished"></span> of
    <span id="total"></span>


    <div id="report">

    </div>
{% endblock %}

{% block post_scripts %}
    <script type="text/javascript">
        var model = {{ model|json_encode|raw }};
        var finished = 0;
        var total = model.length;
        $("#total").text(total);

        for (image of model) {
            $.ajax({
                url: "{{ Router.Create("regenerate-one-thumb") }}",
                type: "POST",
                data: {
                    originalImage: image.Image,
                    options: image.Settings
                },
                dataType: "JSON",
                success: function (response) {
                    finished++;
                    $("#finished").text(finished);

                    var percentage = 100 * finished / total;
                    $("#loader-bar").css({width: percentage + "%"});

                    var reportItem = $("<p>").text(response.Original + " => " + response.Thumb + ", " + response.Width + "x" + response.Height + " px");
                    if (response.Successful == true) {
                        reportItem.prepend($("<i>").addClass("fa fa-check"));
                    }
                    else {
                        reportItem.prepend($("<i>").addClass("fa fa-times"));

                    }
                    $("#report").append(reportItem);

                    if (finished == total) {
                        alert("Finished creating thumbnails");
                    }
                }
            })
        }


    </script>
{% endblock %}