{% extends "Admin/Master/Master.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="col-md-12 col-lg-8 dash-left">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h3 class="panel-title">Dashboard</h3>
            </div>
        </div>

        <div class="row panel-quick-page">
            <div class="col-xs-4 col-sm-5 col-md-4 page-user">
                <div class="panel">
                    <a href="{{ Router.Create("posts") }}">
                        <div class="panel-heading">
                            <h4 class="panel-title">Posts</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 page-products">
                <div class="panel">
                    <a href="{{ Router.Create("pages-list") }}">
                        <div class="panel-heading">
                            <h4 class="panel-title">Pages</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon">
                                <i class="icon ion-ios-copy-outline"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-5 col-md-4 page-events">
                <div class="panel">
                    <a href="{{ Router.Create("page-builder-create") }}">
                        <div class="panel-heading">
                            <h4 class="panel-title">New Page</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon">
                                <i class="icon ion-ios-compose-outline"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-xs-4 col-sm-4 col-md-4 page-support">
                <div class="panel">
                    <a href="{{ Router.Create("media-manager") }}">
                        <div class="panel-heading">
                            <h4 class="panel-title">Media Manager</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon">
                                <i class="icon ion-android-image"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 page-settings">
                <div class="panel">
                    <a href="{{ Router.Create("user-update-details", {username: Helper.GetCurrentUser().Username}) }}">
                        <div class="panel-heading">
                            <h4 class="panel-title">Settings</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon">
                                <i class="icon ion-gear-a"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 page-privacy">
                <div class="panel">
                    <a href="{{ Router.Create("logout") }}">
                        <div class="panel-heading">
                            <h4 class="panel-title">Logout</h4>
                        </div>
                        <div class="panel-body">
                            <div class="page-icon">
                                <i class="icon ion-android-exit"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div><!-- row -->
    </div>
{% endblock %}