.portfolio {
	padding: 5px;
}

.portfolio article.portfolio-item {
	padding: 5px !important;
}

.sweet-modal-box.alert .sweet-modal-content {
	background: #AC4147;
	padding: 30px;
	color: #fff;
	font-size: 20px;
}

.sweet-modal-close a.sweet-modal-close-link {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="%23fff" /></svg>')
}

.sweet-modal-close a.sweet-modal-close-link:hover {
	background-color: transparent !important;
}

.post-image {
	background-position: center;
	background-size: cover;
	height: 200px;
	transition: all .4s ease-in-out;
	width: 335px;

}
.post-image:hover{
	transition: all .4s ease-in-out;
	transform: scale(1.1);
}

#primary-menu ul {
	border-top: none !important;
}

#primary-menu ul ul li a {
	padding-top: 0 !important;
}

.entry.clearfix{
	height: 500px !important;
}

.entry {
	border-bottom: none !important;
}

.readmore-button {
	background-color: #3864b2 !important;
	border-radius: 10px;
}

.readmore-button:hover{
	background-color: #1754b2 !important;
}

