{% extends "Admin/Builder/Layout/Master/Row.twig" %}

{% block content %}
    <div class="col-md-9" data-column="col1">
        <div class="layout-element" data-widget-area>
            {{ col1|raw }}
        </div>
    </div>
    <div class="col-md-3" data-column="col2">
        <div class="layout-element" data-widget-area>
            {{ col2|raw }}
        </div>
    </div>
{% endblock %}
