{% extends "Admin/Builder/Layout/Master/Row.twig" %}

{% block content %}
    <div class="col-md-12" data-column="col1">
        <div class="layout-element" data-widget-area>
            {{ col1|raw }}
        </div>
    </div>
{% endblock %}
