{# @var model \Data\Models\Media #}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Edit Media</h4>
</div>
<div class=" modal-body">
    <form id="media-edit-form" action="{{ Router.Create("media-edit") }}" method="post" data-id="{{ model.MediaId }}">
        <div class="row">
            <div class="col-xs-4">
                <img class="img-responsive" src="{{ model.PictureSource("Medium") }}"
                     alt="{{ model.GetDescription(Helper.GetLanguage()).Title }}">
            </div>
            <div class="col-xs-8">

                <input type="hidden" name="id" value="{{ model.MediaId }}">

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" placeholder="Title" name="title" class="form-control"
                           value="{{ model.GetDescription(Helper.GetLanguage()).Title }}"/>
                </div>

                <div class="form-group">
                    <label>Copyrights</label>
                    <input type="text" placeholder="Copyrights" name="copyrights" class="form-control"
                           value="{{ model.Copyrights }}"/>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default close-media-manager-modal-button">Close</button>
    <button type="button" class="btn btn-primary" id="edit-media-file-button">Save</button>
</div>


<script type="text/javascript">
    $("#edit-media-file-button").on("click", function (e) {
        e.preventDefault();
        var $this = $(this);
        var data = $("#media-edit-form").serialize();
        var url = $("#media-edit-form").attr("action");
        $.ajax({
            url: url,
            data: data,
            dataType: "json",
            method: "POST",
            success: function (response) {
                $(".media-manager-item[data-id=" + response.Media.MediaId + "]").find(".fm-title a").text(response.Media.Title);
                $this.closest(".modal").modal("hide");
            }
        })

    });
</script>