{# @var model \MediaViewModel #}

{% set uid = random() %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add Media</h4>
</div>
<div class="modal-body">

    <div id="media-holder-{{ uid }}" class="media-people-widget-media-holder" style="height: 280px; overflow: auto;">
        <div class="container-fluid">
            {% for row in model.Media|batch(4) %}
                <div class="row">
                    {% for media in row %}
                        <div class="col-md-3">
                            {% include "Admin/Media/Browse/Items/" ~ media.MediaType.Caption ~ ".twig" with {media: media} %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default close-modal-button">Close</button>
    <button type="button" id="add-media-to-event-button" class="btn btn-primary">Add Media</button>
</div>

<script type="text/javascript">
    $(".close-modal-button").on("click", function () {
        $(this).closest(".modal").modal("hide");
    });

    $("#add-media-to-event-button").on("click", function () {
        var selectedImage = $("#media-holder-{{ uid }}").find(".image-checkbox:checked");
        var mediaIds = [];
        var eventId = $("#eventIdField").val();

        selectedImage.each(function () {
            mediaIds.push($(this).val());
        });

        $.ajax({
            url: "{{ Router.Create("events-save-media") }}",
            type: "POST",
            dataType: "html",
            data: {
                mediaIds: mediaIds,
                eventId: eventId
            },
            success: function (response) {

                $("#media-list-holder").html(response);

            }
        });

        $(this).closest(".modal").modal("hide");
    });
</script>