{# @var model \MediaViewModel #}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add Media</h4>
</div>
<div class="modal-body">

    <div class="media-widget-media-holder" style="height: 280px; overflow: auto;">
        <div class="container-fluid">
            {% for row in model.Media|batch(4) %}
                <div class="row">
                    {% for media in row %}
                        <div class="col-md-3">
                            {% include "Admin/Media/Browse/Items/" ~ media.MediaType.Caption ~ ".twig" with {media: media} %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default close-modal-button">Close</button>
    <button type="button" id="add-media-to-widget-button" class="btn btn-primary">Add Media</button>
</div>

<script type="text/javascript">
    $(".close-modal-button").on("click", function () {
        $(this).closest(".modal").modal("hide");
    });

    $("#add-media-to-widget-button").on("click", function () {
        var selectedImages = $(".media-widget-media-holder").find(".image-checkbox:checked");
        selectedImages.each(function () {
            var mediaId = $(this).val();
            var mediaSource = $(this).next("img").attr("src");
            var mediaTitle = $(this).next("img").attr("alt");

            var template = $("#gallery-widget-template").find(".widget-sortable-unit").first().clone();
            template.find("[data-media-id-input]").val(mediaId);
            template.find("[data-media-picture-input]").val(mediaSource);
            template.find("[data-media-title-input]").val(mediaTitle);
            template.find("[data-media-image-img]").attr("src", mediaSource);
            template.find("[data-media-description-div]").text(mediaTitle);
            $("#media-list-holder").append(template);
        });

        mediaWidgetReorganizeIndexes();

        $(this).closest(".modal").modal("hide");
    });
</script>

<div id="gallery-widget-template" class="hidden">
    <div class="container-fluid widget-sortable-unit">
        <div class="hidden">
            <input type="text" value="" data-media-id-input
                   name="">
            <input type="text" value="" data-media-picture-input
                   name="">
            <input type="text" value="" data-media-title-input
                   name="">
        </div>
        <div class="row">
            <div class="col-xs-2">
                <img class="img-responsive" data-media-image-img src="" alt="">
            </div>
            <div class="col-xs-8" data-media-description-div>
            </div>
            <div class="col-xs-2 text-right">
                <a class="btn btn-danger widget-media-delete">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
    </div>
</div>