{% extends "Admin/Master/Master.twig" %}

{% block title %}Vimeo Import{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("media-manager") }}">Media</a>
        </li>
        <li class="active">Vimeo Import</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-announcement">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Vimeo import status:
                    </h4>
                </div>

                <div class="panel-body">
                    {% if success %}
                        <span class="label label-success">Successful</span>
                    {% else %}
                        <span class="label label-danger">Failed</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}