<form method="post" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel">
				<div class="panel-heading nopaddingbottom">
					<h4 class="panel-title">Blog</h4>
				</div>
				<div class="panel-body">
					<hr>
					<div class="form-group">
						<label>Title</label>

						<input type="text" placeholder="Title" name="title" class="slug-field form-control"
							   value="{{ model.Title }}"/>
					</div>
					<div class="form-group">
						<label>Theme</label>
						<input type="text" placeholder="Theme" name="theme" class="form-control"
							   value="{{ model.Theme }}"/>
					</div>
					<div class="form-group">
						<label>Slug</label>
						<input type="text" placeholder="Slug" readonly name="slug" class="form-control"
							   value="{{ model.Slug }}"/>
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea placeholder="Description" name="description"
								  class="form-control wysiwyg">{{ model.Description }}</textarea>
					</div>
					<div class="form-group">
						<label>Short Description</label>
						<textarea placeholder="Short Description" name="excerpt"
								  class="form-control wysiwyg">{{ model.Excerpt }}</textarea>
					</div>
					<div class="form-group">
						<label>Picture</label>
						<label class="picture-mask text-center" style="width: 250px;">
							<div class="image-input image-placeholder"
								 style="height: 350px; width:250px; background-image: url({{ model.Blog.PictureSource() }})"></div>
							<input style="display: none;" class="upload-picture-field" type="file" name="picture"/>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel">
				<div class="panel-heading nopaddingbottom">
					<h4 class="panel-title">Related Blogs</h4>
				</div>
				<div class="panel-body">
					<hr>
					<div class="form-group">
						<label>Select Related Blogs</label>
						{{ HtmlHelper.SearchableSelect(SelectableHelper.Blogs({0:model.BlogId}), 'relatedBlogs', model.Children|indexes("BlogId"), "Select Related Blogs", {'id' : 'related-blogs'}, null, true)|raw }}
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- row -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-body">
					<div class="col-sm-4">
					</div>

					<div class="col-sm-4" style="text-align: center">
						<button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
						<button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
					</div>

					<div class="col-sm-4">
					</div>
				</div>
			</div>
		</div>
	</div>
</form>