<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Slide Details</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>Title
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" placeholder="Title" name="title" class="form-control" required
                               value="{{ (slide.GetDescription(Helper.GetLanguage()).Title != null) ? slide.GetDescription(Helper.GetLanguage()).Title : '' }}"/>
                    </div>
                    <div class="form-group">
                        <label>Picture</label>
                        <label class="picture-mask text-center">
                            <div class="image-input image-placeholder"
                                 style="height: 350px; background-image: url({{ slide.PictureSource() }})"></div>
                            <input style="display: none;" class="upload-picture-field" type="file" name="picture"/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Description
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" placeholder="Description" name="description" class="form-control"
                               value="{{ (slide.GetDescription(Helper.GetLanguage()).Description != null) ? slide.GetDescription(Helper.GetLanguage()).Description : '' }}"/>
                    </div>
                    <div class="form-group">
                        <label>Link
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" placeholder="Link" name="link" class="form-control"
                               value="{{ (slide.GetDescription(Helper.GetLanguage()).Link != null) ? slide.GetDescription(Helper.GetLanguage()).Link : '' }}"/>
                    </div>
                    <div class="form-group">
                        <label>Link Button Text
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" placeholder="Link Button Text" name="linkButtonText" class="form-control"
                               value="{{ (slide.GetDescription(Helper.GetLanguage()).LinkText != null) ? slide.GetDescription(Helper.GetLanguage()).LinkText : '' }}"/>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            {{ HtmlHelper.Checkbox("active", slide.Active, "Active")|raw }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-success btn-quirk btn-wide mr5">Submit</button>
                            <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
</form>