<a
        target="{{ model.Options.target }}"
        href="{{ model.Options.url }}"
        class="button
                {% if model.Options.d %}button-3d{% endif %}
                {% if model.Options.rounded %} button-rounded{% endif %}
                {% if model.Options.reveal %} button-reveal{% endif %}
                {% if model.Options.size != "default" %}button-{{ model.Options.size }}{% endif %}
                button-{{ model.Options.color }}">
    {% if model.Options.icon %}<i class="icon-{{ model.Options.icon }}"></i>{% endif %}
    <span>{{ model.Options.content }}</span>
</a>