<div class="feature-box fbox-center fbox-bg fbox-plain">
    <div class="fbox-icon">
        <a {% if model.Options.url %}href="{{ model.Options.url }}"{% endif %} target="_blank;"><i class="icon-{{ model.Options.boxIcon }}"></i></a>
    </div>
    <h3>{{ model.Options.title }}<span class="subtitle">{{ model.Options.subtitle }}</span></h3>
</div>