<div
        class="divider
            {% if model.Options.border %}divider-border{% endif %}
            {% if model.Options.dividerPosition == "right" %}divider-right{% elseif model.Options.dividerPosition == "center" %}divider-center{% endif %}
            divider-{{ model.Options.style }}
            ">
         <i class="icon-{{ model.Options.icon }}"></i>
</div>