<div class="text-center">
	<i class="i-plain color i-large {{ model.Options.icon }} inline-block" style="margin-bottom: 15px;"></i>
	<div class="heading-block nobottomborder nobottommargin">
		<span class="before-heading">{{ model.Options.title }}</span>
		<h4>{{ model.Options.description }}</h4>
	</div>
</div>