<div style='overflow:hidden;' class="map-holder">
	<div id='gmap_canvas' class="map-canvas"></div>
	<style>
		#gmap_canvas img {
			max-width: none !important;
			background: none !important
		}
	</style>
</div>


		<script type='text/javascript'>function init_map() {
				var myOptions = {
					zoom: 14,
					center: new google.maps.LatLng({{ model.Options.latitude }}, {{ model.Options.longitude }}),
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
				marker = new google.maps.Marker({
					map: map,
					position: new google.maps.LatLng({{ model.Options.latitude }}, {{ model.Options.longitude }})
				});
				infowindow = new google.maps.InfoWindow({content: '<strong>{{ model.Options.line1 }}</strong><br>{{ model.Options.line2 }}<br>'});
				google.maps.event.addListener(marker, 'click', function () {
					infowindow.open(map, marker);
				});
				infowindow.open(map, marker);
			}

			google.maps.event.addDomListener(window, 'load', init_map);
		</script>