{% set fullWidth = (model.Layout.Options.width == "fullWidth") %}

<div
        class="promo {% if fullWidth %}promo-full{% endif %}
            {% if model.Options.border %}promo-border{% endif %}
            {% if model.Options.buttonPosition == "left" %}promo-right{% elseif model.Options.buttonPosition == "center" %}promo-center{% endif %}
            promo-{{ model.Options.style }}
            ">
    {% if fullWidth %}<div class="container clearfix">{% endif %}
        <h3>{{ model.Options.title }}</h3>
        <span>{{ model.Options.subtitle }}</span>
        <a href="{{ model.Options.buttonUrl }}"
           class="button button-xlarge button-rounded">{{ model.Options.buttonText }}</a>
    {% if fullWidth %}</div>{% endif %}
</div>