<section class="admissions-menu-mobile-controller
{% if options.visibility == "mobile" %}hidden-md hidden-lg{% endif %}
{% if options.visibility == "desktop" %}hidden-xs hidden-sm{% endif %}
">
    <a class="btn btn-block btn-admissions-reverse sidebar-menu-mobile-controller with-arrow visible-xs visible-sm visible-md">
        <strong>Show Additional Navigation</strong>
        <i class="btn-icon icon-filter"></i></a>
</section>