<div class="accordion accordion-bg clearfix">
    <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>{{ model.Options.title }}</div>
    <div class="acc_content clearfix">
        <ul class="iconlist iconlist-color nobottommargin">
            <li><i class="icon-{{ model.Options.icon }}"></i>{{ model.Options.skill }}</li>
        </ul>
    </div>
</div>
