<a
        target="{{ model.Options.target }}"
        href="{{ model.Options.url }}"
        class="social-icon
                {% if not model.Options.border %}si-borderless{% endif %}
                {% if model.Options.rounded %} si-rounded{% endif %}
                si-{{ model.Options.style }}
                si-{{ model.Options.socialIcon }}
                {% if model.Options.size != "default" %}si-{{ model.Options.size }}{% endif %}">
                <i class="icon-{{ model.Options.socialIcon }}"></i>
                <i class="icon-{{ model.Options.socialIcon }}"></i>


</a>