<div class="tabs {% if model.Options.sideTabs %} side-tabs {% endif %} {% if model.Options.border %} tabs-bordered {% endif %} responsive-tabs clearfix" id="tab-4">

    <ul class="tab-nav clearfix">
        <li><a href="{{ Router.CurrentUrl() }}#tabs-13">{#<i class="icon-{{ model.Options.icon }}"></i> #}{{ model.Options.title }}</a></li>
        <li><a href="{{ Router.CurrentUrl() }}#tabs-14">{{ model.Options.title2 }}</a></li>
        <li><a href="{{ Router.CurrentUrl() }}#tabs-15">{{ model.Options.title3 }}</a></li>
        <li class="hidden-phone"><a href="{{ Router.CurrentUrl() }}#tabs-16">{{ model.Options.title4 }}</a></li>
    </ul>

    <div class="tab-container">

        <div class="tab-content clearfix" id="tabs-13">
            {{ model.Options.tabText }}
        </div>
        <div class="tab-content clearfix" id="tabs-14">
            {{ model.Options.tabText2 }}
        </div>
        <div class="tab-content clearfix" id="tabs-15">
            {{ model.Options.tabText3 }}
        </div>
        <div class="tab-content clearfix" id="tabs-16">
            {{ model.Options.tabText4 }}
        </div>

    </div>

</div>