<div class="col-md-12 center">
    <div class="heading-block fancy-title nobottomborder title-bottom-border">
        <h3>{{ model.Options.black }} <span>{{ model.Options.colored }}</span></h3>
    </div>
</div>