<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <iframe width="100%" height="56%" src="{{ model.Options.url }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
