<form method="post" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel">
				<div class="panel-heading nopaddingbottom">
					<h4 class="panel-title">Post</h4>
				</div>
				<div class="panel-body">
					<hr>
					<div class="form-group">
						<label>Title</label>
						<input type="text" placeholder="Title" name="title" class="slug-field form-control"
							   value="{{ model.Title }}"/>
					</div>
					<div class="form-group">
						<label>Short Description</label>
						<input type="text" placeholder="Short Description" name="shortDescription" class="form-control"
							   value="{{ model.ShortDescription }}"/>
					</div>
					<div class="form-group">
						<label>Theme</label>
						<input type="text" placeholder="Theme" name="theme" class="form-control"
							   value="{{ model.Theme }}"/>
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea placeholder="Description" name="description"
								  class="form-control wysiwyg">{{ model.Description }}</textarea>
					</div>
					<div class="form-group">
						<label>Slug</label>
						<input type="text" placeholder="Slug" readonly name="slug" class="form-control"
							   value="{{ model.Slug }}"/>
					</div>

					<div class="form-group">
						<label>Picture</label>
						<label class="picture-mask text-center" style="width: 250px;">
							<div class="image-input image-placeholder"
								 style="height: 350px; width:250px; background-image: url({{ model.PictureSource() }})"></div>
							<input style="display: none;" class="upload-picture-field" type="file" name="picture"/>
						</label>
					</div>
					<div class="form-group">
						<label>Post Type
							<span class="text-danger">*</span>
						</label>
						{{ HtmlHelper.SearchableSelect(SelectableHelper.PostTypes(), 'postTypeId', model.PostTypeId, "Select Post Type", {'id' : 'postTypes'}, null)|raw }}
					</div>


					<div class="form-group">
						<label>Date</label>
						<div class="input-group">
							<input type="text" class="form-control datepicker" name="date"
								   placeholder="yyyy-mm-dd"
								   value="{{ model.Date.format("Y-m-d") }}">
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-sm-6">
			<div class="panel">
				<div class="panel-heading nopaddingbottom">
					<h4 class="panel-title">Related Posts</h4>
				</div>
				<div class="panel-body">
					<hr>
					<div class="form-group">
						<label>Select Related Posts</label>
						{{ HtmlHelper.SearchableSelect(SelectableHelper.Posts(), 'relatedPosts', model.Children|indexes("PostId"), "Select Related Posts", {'id' : 'related-posts'}, null, true)|raw }}
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- row -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-body">
					<div class="col-sm-4">
					</div>

					<div class="col-sm-4" style="text-align: center">
						<button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
						<button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
					</div>

					<div class="col-sm-4">
					</div>
				</div>
			</div>
		</div>
	</div>
</form>