@charset "UTF-8";

@font-face {
  font-family: "Admin";
  src:url("fonts/Admin.eot");
  src:url("fonts/Admin.eot?#iefix") format("embedded-opentype"),
    url("fonts/Admin.woff") format("woff"),
    url("fonts/Admin.ttf") format("truetype"),
    url("fonts/Admin.svg#Admin") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "Admin" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Admin" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\61";
}
.icon-arrow-2:before {
  content: "\62";
}
.icon-callback:before {
  content: "\64";
}
.icon-down:before {
  content: "\65";
}
.icon-fb-3:before {
  content: "\66";
}
.icon-i:before {
  content: "\67";
}
.icon-insta-2:before {
  content: "\68";
}
.icon-list:before {
  content: "\69";
}
.icon-tw-3:before {
  content: "\6a";
}
.icon-search:before {
  content: "\6c";
}
.icon-profile:before {
  content: "\6e";
}
.icon-plus:before {
  content: "\6f";
}
.icon-path-1821:before {
  content: "\70";
}
.icon-oval-2:before {
  content: "\71";
}
.icon-icomoon-x:before {
  content: "\72";
}
.icon-icomoon-arrow-left:before {
  content: "\73";
}
.icon-calendar:before {
  content: "\74";
}
.icon-quote:before {
  content: "\75";
}
.icon-tickets:before {
  content: "\76";
}
