{% extends "Admin/Master/Master.twig" %}

{% block title %}Create Basketball school{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("basketballSchools-list") }}">Basketball schools</a>
        </li>
        <li class="active">Create Basketball school</li>
    </ol>

    {% include "Admin/BasketballSchools/Partial/BasketballSchoolForm.twig" %}
{% endblock %}

{% block post_scripts %}
    <script type="text/javascript">
        $(".slug-field").on("keyup", function () {
            var form = $(this).closest("form");
            var key = form.find("[name=name]").val();
            $("[name=slug]").val($.slugify(key));
        });
    </script>
{% endblock %}
