{% extends "Admin/Master/Master.twig" %}

{% block title %}List of Basketball schools{% endblock %}

{% block content %}

    {# @var model \BasketballSchoolsViewModel #}

    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("basketballSchool-list") }}">Basketball schools</a>
        </li>
        <li class="active">Basketball schools Directory</li>
    </ol>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">Basketball schools List</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="datatable table table-bordered table-striped-col">
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th class="text-center" style="width: 80px;">Actions</th>

                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Logo</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        {% for basketballSchool in model.BasketballSchools %}
                            <tr>
                                <td><img src="{{ basketballSchool.LogoSource("Logo") }}"/></td>
                                <td>{{ basketballSchool.GetDetails(Helper.GetLanguage()).Name }}</td>
                                <td><img src="{{ basketballSchool.PictureSource("Small") }}"/></td>
                                <td>
                                    <ul class="table-options">
                                        <li>
                                            <a href="{{ Router.Create("basketballSchools-thumbnail-crop", {id: basketballSchool.BasketballSchoolId, size: 'medium'}) }}"
                                               title="Crop thumbnail">
                                                <i class="fa fa-crop"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ Router.Create("basketballSchools-update", {id: basketballSchool.BasketballSchoolId}) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="confirm" style="cursor: pointer"
                                               data-href="{{ Router.Create("basketballSchools-delete", {id: basketballSchool.BasketballSchoolId}) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- panel -->

{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/PBS/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" href="Theme/PBS/lib/select2/select2.css">
{% endblock %}

{% block post_scripts %}
    <script src="Theme/PBS/lib/datatables/jquery.dataTables.js"></script>
    <script src="Theme/PBS/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="Theme/PBS/lib/select2/select2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            'use strict';
            $('.datatable').DataTable();

            $('select').select2();
        });
    </script>
{% endblock %}