{# @var model \BasketballSchoolViewModel #}

{% extends "Admin/Master/Master.twig" %}

{% block title %}Edit Basketball school {{ model.BasketballSchool.Name }}{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("basketballSchools-list") }}">Basketball schools</a>
        </li>
        <li class="active">Edit Basketball school {{ model.BasketballSchool.Name }}</li>
    </ol>

    {% include "Admin/BasketballSchools/Partial/BasketballSchoolForm.twig" with {'model': model} %}
{% endblock %}

{% block post_scripts %}
    <script type="text/javascript">
        $(".slug-field").on("keyup", function () {
            var form = $(this).closest("form");
            var key = form.find("[name=firstname]").val() + " " + form.find("[name=lastname]").val();
            $("[name=slug]").val($.slugify(key));
        });
    </script>
{% endblock %}
