<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Account Details</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>Username <span class="text-danger">*</span></label>
                        <input type="text" placeholder="Username" name="username" class="form-control" required
                               value="{{ (user.UserName != null) ? user.UserName : '' }}" {{ (user.UserName != null) ? 'readonly' : '' }}/>
                    </div>
                    <div class="form-group">
                        <label>Password <span class="text-danger">*</span></label>
                        <input type="password" placeholder="Password" name="password" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Email <span class="text-danger">*</span></label>
                        <input type="email" placeholder="Email" name="email" class="form-control"
                               value="{{ (user.Email != null) ? user.Email : '' }}"/>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ HtmlHelper.Checkbox("active", user.Active, "Active Account")|raw }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ HtmlHelper.Checkbox("approved", user.Approved, "Approved")|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Roles <span class="text-danger">*</span></h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        {{ HtmlHelper.SearchableSelect(SelectableHelper.UserRoles(), 'userRoles', user.Roles|indexes("RoleId"), "Select User Role", {}, "Select User Role", true)|raw }}
                    </div>
                </div>
            </div>

        </div>
        <!-- col-sm-6 -->

        <!-- ####################################################### -->

        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Personal Details</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>First Name <span class="text-danger">*</span></label>
                        <input type="text" placeholder="First Name" name="firstName" class="form-control" required
                               value="{{ (user.Details.FirstName != null) ? user.Details.FirstName : '' }}"/>
                    </div>
                    <div class="form-group">
                        <label>Last Name <span class="text-danger">*</span></label>
                        <input type="text" placeholder="Last Name" name="lastName" class="form-control" required
                               value="{{ (user.Details.LastName != null) ? user.Details.LastName : '' }}"/>
                    </div>

                    <div class="form-group">
                        <label>Date of Birth</label>

                        <div class="input-group">
                            <input type="text" class="form-control datepicker" name="dateOfBirth"
                                   placeholder="mm/dd/yyyy"
                                   value="{{ (user.Details.DateOfBirth != null) ? user.Details.DateOfBirth|date('m/d/Y') : '' }}">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">User Status <span class="text-danger">*</span></h4>
                </div>
                <div class="panel-body">
                    <hr>
                    {% if user.Statuses != null %}
                        <table class="table user-status-table">
                            <thead>
                            <tr>
                                <th style="">Status</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Message</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for status in user.Statuses %}
                                <tr>
                                    <td>{{ Helper.Enum("UserStatusTypesEnum", status.UserStatusTypeId) }}</td>
                                    <td>{{ status.DateFrom|date('m/d/Y') }}</td>
                                    <td>{{ (status.DateTo != null) ? status.DateTo|date('m/d/Y') : ' Now ' }}</td>
                                    <td>{{ status.Message }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    <hr>
                    {% endif %}
                    <div class="form-group">
                        {{ HtmlHelper.SearchableSelect(SelectableHelper.UserStatusTypes(), 'userStatusId', user.Status|indexes("UserId"), "Select User Status", {}, "Select User Status", false)|raw }}
                    </div>
                    <div class="form-group">
                        <label>Status Message <span class="text-danger">*</span></label>
                        <input type="text" placeholder="Status Message" name="statusMessage" class="form-control"/>
                    </div>
                </div>
            </div>

        </div>
        <!-- col-sm-6 -->
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-sm-4">
                    </div>

                    <div class="col-sm-4" style="text-align: center">
                        <button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
                        <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
                    </div>

                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>