<div style="background-color: {{ options.backgroundColor }}; padding-top: {{ options.paddingTop }}px; padding-bottom: {{ options.paddingBottom }}px">
	<div class="{% if options.width == "boxed" %}container{% endif %} clearfix">
		<div class="row">
			{% block content %}{% endblock %}
		</div>
	</div>
</div>
