@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Black.eot');
    src: url('DINPro-Black.eot?#iefix') format('embedded-opentype'),
    url('DINPro-Black.woff') format('woff'),
    url('DINPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Light.eot');
    src: url('DINPro-Light.eot?#iefix') format('embedded-opentype'),
    url('DINPro-Light.woff') format('woff'),
    url('DINPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Bold.eot');
    src: url('DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('DINPro-Bold.woff') format('woff'),
    url('DINPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bembo Std';
    src: url('BemboStd-Bold.eot');
    src: url('BemboStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('BemboStd-Bold.woff') format('woff'),
    url('BemboStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Regular.eot');
    src: url('DINPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('DINPro-Regular.woff') format('woff'),
    url('DINPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bembo Std';
    src: url('BemboStd-Italic.eot');
    src: url('BemboStd-Italic.eot?#iefix') format('embedded-opentype'),
    url('BemboStd-Italic.woff') format('woff'),
    url('BemboStd-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bembo Std';
    src: url('BemboStd.eot');
    src: url('BemboStd.eot?#iefix') format('embedded-opentype'),
    url('BemboStd.woff') format('woff'),
    url('BemboStd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Medium.eot');
    src: url('DINPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('DINPro-Medium.woff') format('woff'),
    url('DINPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bembo Std';
    src: url('BemboStd-BoldItalic.eot');
    src: url('BemboStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('BemboStd-BoldItalic.woff') format('woff'),
    url('BemboStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
