{% set uid = "now"|date('U') ~ random() %}

<div class="widget-element" data-widget="{{ model.WidgetId }}" data-type="{{ model.Type }}"
     data-uid="{{ uid }}">
    {% block element %}{% endblock %}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("[data-uid={{ uid }}]").data("options", {{ model.Options|json_encode|raw }});
    });
</script>