{% extends "Admin/Builder/Widget/Master/Base.twig" %}
{% block element %}
    <div class="panel panel-success">
        <ul class="panel-options">
            <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
            <li><a class="widget-remove"><i class="fa fa-remove"></i></a></li>
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title">{% block title %}{% endblock %}</h3>
        </div>
        <div class="panel-body">
            {% block content %}
                <a class="edit-widget-button btn btn-default">
                    <i class="fa fa-edit"></i>
                </a>
            {% endblock %}
        </div>
    </div>
{% endblock %}