{% extends "Admin/Master/Master.twig" %}

{% block title %}Page Builder{% endblock %}

{% block content %}

    <script type="text/javascript">
        var TWIG_OPTIONS = {
            layoutsUrl: "{{ Router.Create("layout-options") }}"
        }
    </script>

    {% set page = model.Page %}

    <form action="{{ Router.Create("page-builder-copy") }}" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 class="panel-title">Copy content</h4>
                    </div>
                    <div class="panel-body">
                        <label>Copy content from other version of this page</label>
                        <div class="row">
                            <div class="col-xs-9">
                                <select class="form-control select2" name="language">
                                    {% for p in page.Details %}
                                        {% if(p.LanguageId != Helper.GetLanguage()) %}
                                            <option value="{{ p.LanguageId }}">{{ Helper.Enum("LanguagesEnum", p.LanguageId) }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-3 text-right">
                                <button class="btn btn-success">Copy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="pageId" value="{{ page.PageId }}"/>
    </form>

    <div id="page-id" class="hidden">{{ page.PageId }}</div>
    <form id="page-basic-data" enctype="multipart/form-data" action="{{ Router.Create("page-builder-save") }}">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Page Details</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-9">
                                <label>Slug
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" placeholder="Slug" name="slug" class="form-control" required
                                       value="{{ page.GetDescription(Helper.GetLanguage()).Slug }}"/>

                            </div>
                            <div class="col-xs-3 text-center">
                                {{ HtmlHelper.Checkbox("active", page.Active, "Active")|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Appearance</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Template</label>
                                {{ HtmlHelper.SearchableSelect(SelectableHelper.Templates(), 'template', page.Template, "Select Template")|raw }}
                            </div>
                            <div class="col-xs-3 text-center">
                                {{ HtmlHelper.Checkbox("useSidebar", page.UseSidebar, "Use sidebar")|raw }}
                            </div>
                            <div class="col-xs-3">
                                <label>Header Padding</label>
                                <input type="text" name="padding" class="form-control" placeholder="Padding (px)" value="{{ model.Page.Padding }}">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-xs-3">
                                {{ HtmlHelper.Checkbox("showTitle", page.ShowTitle is null ? true : page.ShowTitle, "Show Title")|raw }}
                            </div>
                            <div class="col-xs-3">
                                {{ HtmlHelper.Checkbox("showBreadcrumbs", page.ShowBreadcrumbs is null ? true : page.ShowBreadcrumbs, "Show Breadcrumbs")|raw }}
                            </div>
                            <div class="col-xs-6">
                                <label>Header Style</label>
                                {{ HtmlHelper.SearchableSelect(SelectableHelper.HeaderStyles(), 'headerStyle', page.HeaderStyle is null ? "default" : page.HeaderStyle, "Select Header Style")|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Header</h4>
                    </div>
                    <label class="picture-mask text-center">
                        <div class="image-input image-placeholder"
                             style="height: 350px; background-image: url({{ page.PictureSource() }})"></div>
                        <input style="display: none;" class="upload-picture-field" type="file" name="picture"/>
                    </label>

                    <div class="builder-title-area">
                        <input type="text" placeholder="Title" name="title" class="form-control" required
                               value="{{ page.GetDescription(Helper.GetLanguage()).Title }}"/>
                        <input type="text" placeholder="Subtitle" name="subtitle" class="form-control subtitle"
                               value="{{ page.GetDescription(Helper.GetLanguage()).Subtitle }}"/>
                        <input type="text" placeholder="Copyrights" name="copyrights"
                               class="form-control builder-copyrights"
                               value="{{ page.GetDescription(Helper.GetLanguage()).Copyrights }}"/>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-3 col-lg-2 sticky">
            <aside class="editor-menu">
                <div class="panel-group panel-product" id="accordion2">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#layout-picker">
                                    Layout
                                </a>
                            </h4>
                        </div>
                        <div id="layout-picker" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="media-list user-list">
                                    {% for id, layout in SelectableHelper.BuilderLayouts() %}
                                        <li class="media" data-new-layout="{{ id }}">
                                            <div class="media-left">
                                                <img class="media-object img-circle" src="http://placehold.it/100x100"
                                                     alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a>{{ layout }}</a>
                                                </h4>
                                                {{ Helper.LayoutSubtitle(id) }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion2"
                                   href="#typography-picker">
                                    Typography
                                </a>
                            </h4>
                        </div>
                        <div id="typography-picker" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="media-list user-list">
                                    {% for id, widget in SelectableHelper.Typography() %}
                                        <li class="media" data-new-widget="{{ id }}">
                                            <div class="media-left">
                                                <img class="media-object img-circle" src="http://placehold.it/100x100"
                                                     alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a>{{ widget }}</a>
                                                </h4>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion2"
                                   href="#widget-picker">
                                    Widgets
                                </a>
                            </h4>
                        </div>
                        <div id="widget-picker" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="media-list user-list">
                                    {% for id, widget in SelectableHelper.Widgets() %}
                                        <li class="media" data-new-widget="{{ id }}">
                                            <div class="media-left">
                                                <img class="media-object img-circle" src="http://placehold.it/100x100"
                                                     alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a>{{ widget }}</a>
                                                </h4>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-10 col-md-9">
            <section class="editor-content">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Content</h4>
                    </div>
                    <div class="panel-body" data-panel>
                        {{ content|raw }}
                    </div>
                </div>
            </section>

            <button id="save-page" class="btn btn-block btn-success">Save</button>
        </div>
    </div>

    <div class="modal bounceIn animated" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Widget</h4>
                </div>
                <div class="modal-body">
                    <form id="widget-form" action="">
                        <div id="widget-options-holder"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="save-widget-button" class="btn btn-primary">Save Widget</button>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

    <div class="modal bounceIn animated" id="layoutOptions" tabindex="-1" role="dialog" aria-labelledby="layoutOptionsLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="layoutOptionsLabel">Layout Options</h4>
                </div>
                <div class="modal-body">
                    <form id="layout-form" action="">
                        <div id="layout-options-holder"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="save-layout-button" class="btn btn-primary">Save</button>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

{% endblock %}

{% block post_scripts %}
    <script src="Theme/Admin/lib/jquery-bbq/jquery.ba-bbq.min.js"></script>
    <script src="Theme/Admin/lib/bootstrapcolorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="Theme/Admin/js/builder.js"></script>
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/Admin/lib/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="Theme/Admin/css/page-builder.css">
    <link rel="stylesheet" href="Theme/Admin/lib/bootstrapcolorpicker/css/bootstrap-colorpicker.css">
{% endblock %}