<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Role Details</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>Role Name
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" placeholder="Role Name" name="name" class="form-control" required
                               value="{{ (role.Name != null) ? role.Name : '' }}"/>
                    </div>
                    <div class="form-group">
                        <label>Permissions
                            <span class="text-danger">*</span>
                        </label>
                        {{ HtmlHelper.SearchableSelect(SelectableHelper.Permissions(), 'permissionIds', role.Permissions|indexes("PermissionId"), "Select Permissions", {'id' : 'permissions'}, "Select Permissions", true)|raw }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ HtmlHelper.Checkbox("active", role.Active, "Active")|raw }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ HtmlHelper.Checkbox("protected", role.Protected, "Protected")|raw }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
                            <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- col-sm-6 -->
    </div>
</form>