.marketing-box-preview {
    font-family: "DINPro";
    font-size: 16px;
}

.grid-item {
    height: 250px;
    border: 2px solid grey;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.preview-mobile {
    width: 340px;
    height: 300px;
}

.grid-item--one, .grid-sizer {
    width: 265px;
}

.grid-item--two {
    width: 555px;
}

.grid-item--three {
    width: 845px;
}

.grid-item--four {
    width: 1140px;
}

.grid-item-content {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 40px;
}

.grid-item-content.grid-content-bottom {
    top: auto;
    bottom: 30px;
}

.grid-item figure {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.grid-item:hover figure {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.grid-item.double {
    height: 530px;
}

.grid-item-content.grid-content-bottom {
    top: auto;
    bottom: 30px;
}

.grid-item-content h2 {
    font-size: 36px;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    padding: 0;
    color: white;
    font-weight: bold;
}

.grid-item-content p {
    font-family: "Bembo Std";
    font-size: 18px;
    line-height: 1;
    color: white;
}

.grid-item-content a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.grid-item-content a:hover {
    color: white;
}

/** responsive **/
.preview-mobile .grid-item {
    height: 300px;
}

.preview-mobile .grid-item.double {
    height: 300px;
}

.preview-mobile .grid-item--one, .preview-mobile .grid-sizer, .preview-mobile .grid-item--two, .preview-mobile .grid-item--three, .preview-mobile .grid-item--four {
    width: 100%;
}

.preview-mobile .grid-item-content {
    top: auto;
    bottom: 30px;
}

.preview-mobile .grid-item-content h2 {
    font-size: 30px;
}