.layout-element {
    border: 1px dashed grey;
    margin: 5px;
    min-height: 50px;
    padding: 5px;
}

.widget-element {
    background-color: #f3f3f3;
    padding: 5px;
    margin: 5px;
}

.widget-element .panel {
    margin-bottom: 0;
}

[data-new-layout],
[data-new-widget] {
    z-index: 500;
}

.builder-title-area {
    position: absolute;
    top: 150px;
    left: 50px;
    right: 50px;
}

.builder-title-area input:focus {
    background-color: transparent;
    border-bottom: dashed 1px white;
}

.builder-title-area input {
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: dashed 1px transparent;
    font-weight: 900;
    font-family: "DINPro";
    font-size: 52px;
    line-height: 52px;
    height: auto;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.49);
}

.builder-title-area input.subtitle {
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    font-family: Bembo Std;
    line-height: 26px;
}

.builder-title-area input.builder-copyrights {
    font-size: 14px;
    margin-top: 30px;
}

.sticky {
    top: 90px;
    position: sticky !important;
    z-index: 1;
}

.sticky .media-list {
    max-height: calc(100vh - 285px);
    overflow-y: auto;
}

.ui-draggable-helper {
    background-color: white;
    padding: 15px !important;
    border: none !important;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    min-width: 250px;
}

.media.ui-draggable:hover {
    cursor: move;
}

[data-delete-layout] {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
}

[data-layout] {
    position: relative;
}

[data-layout]:hover [data-delete-layout] {
    opacity: .3;
}

[data-layout] [data-delete-layout]:hover {
    opacity: 1;
}

.colorpicker {
    z-index: 8888888888888888888 !important;
}