

/** Logo **/

.admin-logo {
    padding: 5px !important;
}

.admin-logo img {
    max-height: 55px;
}

.user-status-table th {
    width: 25%;
    font-size: 11px !important;
}

/* Languages bar */
#languagesPanel {
    margin-right: 10px;
}

#languagesPanel > a {
    display: inline-block;
    line-height: 64px;
    opacity: 0.3;
}

#languagesPanel > a.active {
    opacity: 1;
}

/** Picture upload **/
.picture-mask {
    display: block;
    cursor: pointer;
}

.picture-mask .image-holder {
    margin: auto;
    background-color: lightgray;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px dashed;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.picture-mask .image-holder.no-holder:after {
    content: "";
}

.picture-mask .image-holder:after {
    content: "click to choose";
    position: absolute;
    top: 50%;
    line-height: 20px;
    margin-top: -10px;
    left: 0;
    right: 0;
    font-weight: bold;
}

/** Calendar **/
#ui-datepicker-div {
    z-index: 30000 !important;
}

/** User box **/
.user-image {
    width: 100px;
    height: 100px;
}

.image-input {
    width: 100%;
    height: 100px;
    border: 2px dashed #D0D4E7;
    background-color: #F6F7F8;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.image-input:after {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    left: 0;
    right: 0;
    content: "CLICK TO CHOOSE IMAGE";
    color: #D0D4E7;
}

a.confirm {
    cursor: pointer;
}

.select2-container--open {
    z-index: 10000;
}

#artists-list-holder, #blog-pages-list-holder, #items-list-holder {
    height: 300px;
    overflow: auto;
}

.widget-holder {
    cursor: move;
}

.widget-sortable-unit {
    background-color: #eaeaea;
    margin-bottom: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: move;
}

/** Media manager **/
.media-uploaded-file {
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.media-remove-file-button {
    margin-top: 20px;
}

.dz-details {
    font-size: 11px;
    margin-top: 5px;
}

.filemanager .fm-title a {
    white-space: nowrap;
    height: 12px;
}

.dz-error-message {
    background-color: darkred;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

/** Gallery widget **/

.gallery-widget-label img {
    cursor: pointer;
    border: 5px solid #D8DCE3;
}

.gallery-widget-label .image-checkbox:checked + img {
    border: 5px solid #259DAB;
}

/** Editor **/
.note-editor.note-frame.fullscreen {
    top: 64px !important;
}

/** Social icons picker **/
.social-icons-holder label {
    display: inline-block;
}

.social-icons-holder input + i {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid lightgrey;
    vertical-align: middle;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.social-icons-holder input:checked + i {
    border-color: #259dab;
    color: #259dab;
}

/** People widget **/
.widget-people-picture-holder {
    border: 3px dashed lightgrey;
    cursor: pointer;
    height: 100px;
    width: 100px;
    z-index: 51;
    display: inline-block;
}

/** Loading **/

body.loading {
    cursor: wait;
}

body.loading::before {
    opacity: 1;
    z-index: 100;
}

body::before {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -10;
}