<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Social Icon Details</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>Name
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" placeholder="Name" name="name" class="form-control" required
                               value="{{ (socialIcon.Name != null) ? socialIcon.Name : '' }}"/>
                    </div>
                    <div class="form-group">
                        <label>Link
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" placeholder="Link" name="link" class="form-control" required
                               value="{{ (socialIcon.Link != null) ? socialIcon.Link : '' }}"/>
                    </div>

                    <div class="form-group">
                        <label>Color
                            <span class="text-danger">*</span>
                        </label>
                        <input type="color" placeholder="Color" name="color" class="form-control" required
                               value="{{ (socialIcon.Color != null) ? socialIcon.Color : '' }}"/>
                    </div>

                    <div class="form-group">
                        <label>Icon
                            <span class="text-danger">*</span>
                        </label>
                        <div class="social-icons-holder">
                            {% set icons = ["icon-fb-3", "icon-tw-3", "icon-insta-2", "fa-facebook-official", "fa-facebook-square", "fa-facebook", "fa-twitter", "fa-twitter-square", "fa-instagram","fa-linkedin", "fa-linkedin-square", "fa-google",
                            "fa-google-plus", "fa-google-plus-square", "fa-google-wallet", "fa-skype", "fa-youtube", "fa-youtube-square", "fa-vimeo-square", "fa-vine", "fa-tumblr"] %}

                            {% for icon in icons %}
                                <label>
                                    <input type="radio" value="{{ icon }}" name="icon" class="hidden" required
                                            {% if icon == socialIcon.Icon %} checked="checked" {% endif %} />
                                    <i class="fa {{ icon }}"></i>
                                </label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            {{ HtmlHelper.Checkbox("active", socialIcon.Active, "Active")|raw }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-success btn-quirk btn-wide mr5">Submit</button>
                            <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
</form>