{# @var model \MenuViewModel #}

<div class="col-sm-4">
    <form method="post" enctype="multipart/form-data">
        <div class="panel">
            <div class="panel-heading nopaddingbottom">
                <h4 class="panel-title">Menu</h4>
            </div>
            <div class="panel-body">
                <hr>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" placeholder="Alias" name="alias" class="form-control"
                           value="{{ model.Menu.Alias }}"/>
                </div>
                <div class="form-group">
                    <label>Language</label>
                    {{ HtmlHelper.Radio(SelectableHelper.Languages(), "language", model.Menu.LanguageId)|raw }}
                </div>
                <div class="form-group">
                    <label>Position</label>
                    {{ HtmlHelper.Radio(SelectableHelper.MenuPositions(), "position", model.Menu.MenuPositionId)|raw }}
                </div>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
                <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
            </div>
        </div>
    </form>
</div>
<div id="sort-menu-script">
</div>