{# @var model \Gdev\MenuManagement\Models\MenuItem #}

<div class="col-sm-4">
    <form action="{{ Router.Create("menus-create-item", {menuId: model.Menu.MenuId}) }}" method="post"
          enctype="multipart/form-data">
        <div class="panel">
            <div class="panel-heading nopaddingbottom">
                <h4 class="panel-title">Add Menu Item</h4>
            </div>
            <div class="panel-body">
                <hr>
                <div class="form-group">
                    <label>Caption</label>
                    <input type="text" placeholder="Caption" name="caption" class="form-control"
                           value=""/>
                </div>
                <div class="form-group">
                    <label>Target</label>
                    {{ HtmlHelper.Select(SelectableHelper.MenuItemTargets(), "target", "_self")|raw }}
                </div>
                <div class="form-group">
                    <label>Parent</label>
                    {{ HtmlHelper.Select(SelectableHelper.MenuItems(model.Menu.MenuId), "parent")|raw }}
                </div>
                <div class="form-group">
                    <label>Item Type</label>
                    {{ HtmlHelper.Select(SelectableHelper.MenuItemTypes(), "itemType")|raw }}
                </div>
                <div id="menuItemTypeSubmenu">
                </div>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
                <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-4">
    <div class="panel">
        <div class="panel-heading nopaddingbottom">
            <h4 class="panel-title">Preview</h4>
        </div>
        <div class="panel-body">
            <hr>
            <div id="loading" style="width: 100%; text-align: center; display: none;">
                <img style="margin-bottom: 30px" src="../../../../Theme/Admin/images/AjaxLoader/ajax_loader.gif"/>
            </div>
            <ul class="fa-ul menu-preview menu-item-list tree-preview">
                {% for branch in model.Tree %}
                    {% include "Admin/Menus/Partial/Tree.twig" with {model: branch} %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% block post_scripts %}

{% endblock %}