<li data-menu-item-id="{{ model.MenuItemId }}">
    <a class="confirm" data-href="{{ Router.Create("menus-delete-item", {id: model.MenuItemId}) }}">
        <span class="label label-danger"><i class="fa fa-times"></i></span>
    </a>
    <a href="{{ Router.Create("menus-update-item", {menuItemId: model.MenuItemId}) }}">
        <span class="label label-primary"><i class="fa fa-pencil"></i></span>
    </a>
    <a href="{{ Router.Create("menus-update-item", {menuItemId: model.MenuItemId}) }}">
        {{ model.Caption }}
    </a>
</li>
{% if model.Children|length %}

    <ul class="fa-ul menu-item-list">
        {% for child in model.Children %}
            {% include "Admin/Menus/Partial/Tree.twig" with {model: child} %}
        {% endfor %}
    </ul>
{% endif %}

