{# @var model \MenuModel #}

<div class="col-sm-4">
    <form action="{{ Router.Create("menus-update-item", {menuItemId: model.MenuItemId}) }}" method="post"
          enctype="multipart/form-data">
        <div class="panel">
            <div class="panel-heading nopaddingbottom">
                <h4 class="panel-title">Update Menu Item</h4>
            </div>
            <div class="panel-body">
                <hr>
                <div class="form-group">
                    <label>Caption</label>
                    <input type="text" placeholder="Caption" name="caption" class="form-control"
                           value="{{ (model.Caption != null) ? model.Caption : '' }}"/>
                </div>
                <div class="form-group">
                    <label>Target</label>
                    {{ HtmlHelper.Select(SelectableHelper.MenuItemTargets(), "target", model.Target)|raw }}
                </div>
                <div class="form-group">
                    <label>Parent</label>
                    {{ HtmlHelper.Select(SelectableHelper.MenuItems(model.Menu.MenuId), "parent", (model.ParentId != null) ? model.ParentId : null )|raw }}
                </div>
                <div class="form-group">
                    <label>Item Type</label>
                    {{ HtmlHelper.Select(SelectableHelper.MenuItemTypes(), "itemType", (model.MenuItemTypeId != null) ? model.MenuItemTypeId : null)|raw }}
                </div>
                <div id="menuItemTypeSubmenu">
                    {% if model.MenuItemTypeId == 5 %}
                        {% include "Admin/Menus/Subselect/Page.twig" with { value : model.PageId } %}
                    {% endif %}
                    {% if model.MenuItemTypeId == 6 %}
                        {% include "Admin/Menus/Subselect/External.twig" with { value : model.Url } %}
                    {% endif %}
                </div>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
                <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
            </div>
        </div>
    </form>
</div>
