<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Blog</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>Title</label>

                        <input type="text" placeholder="Title" name="title" class="slug-field form-control"
                                value="{{ model.Title }}" />
                    </div>
                    <div class="form-group">
                        <label>Code</label>
                        <textarea placeholder="Code" name="code"
                                class="form-control">{{ model.Code }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Position</label>
                        {{ HtmlHelper.SearchableSelect(SelectableHelper.AdPositions, "adPositionId", model.Position)|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-sm-4">
                    </div>

                    <div class="col-sm-4" style="text-align: center">
                        <button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
                        <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
                    </div>

                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>