<section id="page-title" class="page-title-parallax page-title-dark"
         style="background-image: url('{{ model.Page.PictureSource }}'); padding: {{ model.Page.Padding ? model.Page.Padding : 120 }}px 0;"
         data-stellar-background-ratio="0.3">

    <div class="container clearfix">
        {% if model.Page.ShowTitle %}
            <h1>{{ model.Details.Title }}</h1>
            <span>{{ model.Details.Subtitle }}</span>
        {% endif %}
        {% if model.Page.ShowBreadcrumbs %}
            <ol class="breadcrumb">
                <li><a href="{{ Router.Create("home") }}">Home</a></li>
                <li class="active"><a href="{{ Router.CurrentUrl }}">{{ model.Details.Title }}</a></li>
            </ol>
        {% endif %}
    </div>

</section><!-- #page-title end -->
