<section id="page-title">
    <div class="container clearfix">
        <h1>{{ model.Details.Title }}</h1>
        <span>{{ model.Details.Subtitle }}</span>
        <ol class="breadcrumb">
            <li><a href="{{ Router.Create("home") }}">Home</a></li>
            <li class="active"><a href="{{ Router.CurrentUrl }}">{{ model.Details.Title }}</a></li>
        </ol>
    </div>
</section><!-- #page-title end -->