<div class="thmb">
    <label class="ckbox">
        <input name="selectedMedia[]" value="{{ media.MediaId }}" type="checkbox">
        <span></span>
    </label>
    <div class="btn-group fm-group">
        <button type="button" class="btn btn-default dropdown-toggle fm-toggle"
                data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right fm-menu" role="menu">
            <li>
                <a class="media-manager-delete-item">
                    <i class="fa fa-trash-o"></i>
                    Delete
                </a>
            </li>
        </ul>
    </div><!-- btn-group -->
    <div class="thmb-prev">
        <img src="{{ media.Thumbnail }}" class="img-responsive"
             alt="{{ media.GetDescription(Helper.GetLanguage()).Title }}"/>
    </div>
    <h5 class="fm-title">
        <a href="{{ media.Thumbnail }}">{{ media.GetDescription(Helper.GetLanguage()).Title }}</a>
    </h5>
    <small class="text-muted">Added:
        <span class="item-added-time">{{ media.DateCreated.format("F jS, Y") }}</span>
    </small>
</div><!-- thmb -->