<div class="leftpanelinner">
    {% include "Admin/Shared/Sidebar/Panels/UserInfo.twig" %}


    <ul class="nav nav-tabs nav-justified nav-sidebar">
        <li class="tooltips active" data-toggle="tooltip" title="Main Menu">
            <a data-toggle="tab"
               data-target="#mainmenu">
                <i class="tooltips fa fa-ellipsis-h"></i>
            </a>
        </li>
        <li class="tooltips" data-toggle="tooltip" title="Profile Settings">
            <a data-toggle="tab"
               data-target="#settings">
                <i class="fa fa-cog"></i>
            </a>
        </li>
        <li class="tooltips" data-toggle="tooltip" title="Log Out">
            <a href="{{ Router.Create("logout") }}">
                <i class="fa fa-sign-out"></i>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="mainmenu">
            {% include "Admin/Shared/Sidebar/Panels/MainMenu.twig" %}
        </div>
        
        <div class="tab-pane" id="settings">
            {% include "Admin/Shared/Sidebar/Panels/Settings.twig" %}
        </div>
    </div>
</div>
