{% extends "Admin/Master/Master.twig" %}

{% block title %}Create Category{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("categories-list") }}">Categories</a>
        </li>
        <li class="active">Create Category</li>
    </ol>

    {% include "Admin/Categories/Partial/CategoryForm.twig" %}
{% endblock %}

{% block post_scripts %}
    <script type="text/javascript">
        $(".slug-field").on("keyup", function () {
            var form = $(this).closest("form");
            var key = form.find("[name=firstname]").val() + " " + form.find("[name=lastname]").val();
            $("[name=slug]").val($.slugify(key));
        });
    </script>
{% endblock %}
