{% extends "Admin/Master/Master.twig" %}

{% block title %}Create Ad{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("ads") }}">Ads</a>
        </li>
        <li class="active">Create log</li>
    </ol>

    {% include "Admin/Ads/Partial/AdForm.twig" %}
{% endblock %}

{% block post_scripts %}
    <script type="text/javascript">
        $(".slug-field").on("keyup", function () {
            var form = $(this).closest("form");
            var key = form.find("[name=title]").val() ;
            $("[name=slug]").val($.slugify(key));
        });
    </script>
{% endblock %}
