{# @var model \AdViewModel #}

{% extends "Admin/Master/Master.twig" %}

{% block title %}Edit Ad {{ model.Ad.Name }}{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("ads-list") }}">Ads</a>
        </li>
        <li class="active">Edit ad {{ model.Ad.Title }}</li>
    </ol>

    {% include "Admin/Ads/Partial/AdForm.twig" with {'model': model} %}
{% endblock %}

{% block post_scripts %}

{% endblock %}