{% extends "Default/Master/Master.twig" %}

{# @var model \PageViewModel #}

{% block title %}{{ model.Details.Title }}{% endblock %}

{% block content %}
    {% block page_template %}{% endblock %}
{% endblock %}

{% block post_scripts %}
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/Default/css/widgets.css">
{% endblock %}

{% block og_tags %}
    {% include "PBS/Shared/SocialMedia/FacebookOG.twig" with {
    url: Router.CurrentUrl,
    title: model.Details.Title,
    description: model.Details.Subtitle,
    image: model.Page.PictureSource("Medium"),
    image_width: 500,
    image_height: 500
    } %}
{% endblock %}

{% block header_class %}
    {% if model.Page.HeaderStyle == "default" %}
    {% elseif model.Page.HeaderStyle == "no-header" %}
        transparent-header dark
    {% elseif model.Page.HeaderStyle == "semi-transparent" %}
        transparent-header semi-transparent
    {% elseif model.Page.HeaderStyle == "transparent" %}
        transparent-header
    {% endif %}
{% endblock %}