{% extends "Admin/Master/Master.twig" %}

{% block title %}List of Sponsors{% endblock %}

{% block content %}

    {# @var model \SponsorsViewModel #}

    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("sponsors-list") }}">Sponsors</a>
        </li>
        <li class="active">Sponsors Directory</li>
    </ol>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">Sponsors List</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="datatable table table-bordered table-striped-col">
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Active</th>
                            <th class="text-center" style="width: 80px;">Actions</th>

                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Logo</th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Active</th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        {% for sponsor in model.Sponsors %}
                            <tr>
                                <td><img style="width: 80px;" src="{{ sponsor.LogoSource() }}"/></td>
                                <td>{{ sponsor.Name }}</td>
                                <td>
                                    <a href="{{ sponsor.Link }}"
                                       target="_blank"> {{ sponsor.Link }}
                                    </a>
                                </td>
                                <td>
                                    {% if sponsor.Active == 1 %}
                                        <span class="label label-success"><i class="fa fa-check"></i> YES</span>
                                    {% else %}
                                        <span class="label label-default"><i class="fa fa-times"></i> NO</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <ul class="table-options">
                                        <li>
                                            <a href="{{ Router.Create("sponsors-thumbnail-crop", {id: sponsor.SponsorId, size: 'medium'}) }}"
                                               title="Crop thumbnail">
                                                <i class="fa fa-crop"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ Router.Create("sponsors-update", {id: sponsor.SponsorId}) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="confirm" style="cursor: pointer"
                                               data-href="{{ Router.Create("sponsors-delete", {id: sponsor.SponsorId}) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- panel -->

{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/PBS/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" href="Theme/PBS/lib/select2/select2.css">
{% endblock %}

{% block post_scripts %}
    <script src="Theme/PBS/lib/datatables/jquery.dataTables.js"></script>
    <script src="Theme/PBS/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="Theme/PBS/lib/select2/select2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            'use strict';
            $('.datatable').DataTable();

            $('select').select2();
        });
    </script>
{% endblock %}