{# @var page \Data\Models\Page #}

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Page Details</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>Title
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" placeholder="Title" name="title" class="form-control" required
                               value="{{ page.GetDescription(Helper.GetLanguage()).Title }}"/>
                    </div>
                    <div class="form-group">
                        <label>Subtitle</label>
                        <input type="text" placeholder="Subtitle" name="subtitle" class="form-control"
                               value="{{ page.GetDescription(Helper.GetLanguage()).Subtitle }}"/>
                    </div>
                    <div class="form-group">
                        <label>Slug
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" placeholder="Slug" name="slug" class="form-control" required
                               value="{{ page.GetDescription(Helper.GetLanguage()).Slug }}"/>
                    </div>
                    <div class="form-group">
                        <label>Picture</label>
                        <label class="picture-mask text-center">
                            <div class="image-input image-placeholder"
                                 style="height: 350px; background-image: url({{ page.PictureSource() }})"></div>
                            <input style="display: none;" class="upload-picture-field" type="file" name="picture"/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea placeholder="Description" name="description"
                                  class="form-control summernote">{{ page.GetDescription(Helper.GetLanguage()).Description }}</textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            {{ HtmlHelper.Checkbox("active", page.Active, "Active")|raw }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-success btn-quirk btn-wide mr5">Submit</button>
                            <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Appearance</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>Template</label>
                        {{ HtmlHelper.SearchableSelect(SelectableHelper.Templates(), 'template', page.Template, "Select Template")|raw }}
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            {{ HtmlHelper.Checkbox("useSidebar", page.UseSidebar, "Use sidebar")|raw }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            {{ HtmlHelper.Checkbox("useOverlay", page.UseOverlay, "Use overlay")|raw }}
                        </div>
                    </div>

                </div>

            </div>
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    {% if page.PageId %}
                        <div class="pull-right">
                            <a class="add-widget-button btn btn-sm btn-success">
                                <strong>ADD WIDGET</strong>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    {% endif %}
                    <h4 class="panel-title">Widgets</h4>
                </div>
                <div class="panel-body">
                    <hr>

                    {% if page.PageId %}
                        <div id="widgets-area-holder">
                            {% for widget in page.Widgets %}
                                <div class="form-group widget-holder" data-widget-id="{{ widget.WidgetId }}">
                                    <div class="well">
                                        {{ widget.Type }}
                                        <a style="float: right;" class="btn btn-xs btn-danger delete-widget-button">
                                            <i class="fa fa-times"></i>
                                        </a>
                                        <a style="float: right;" class="btn btn-xs btn-primary edit-widget-button"
                                           data-type="{{ widget.Type }}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-info">
                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                            <strong>Widgets are not available</strong>
                            before the page is saved.
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
</form>

<div class="modal bounceIn animated" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Widget</h4>
            </div>
            <div class="modal-body">
                <form id="widget-form" action="">
                    <input type="hidden" name="pageId" value="{{ page.PageId }}"/>
                    <input type="hidden" name="widgetId" value=""/>
                    <div class="form-group">
                        <label>Widget Type</label>
                        {{ HtmlHelper.SearchableSelect(SelectableHelper.WidgetTypes(), 'widgetType', page.Template, "Widget Type")|raw }}
                    </div>
                    <div id="widget-options-holder"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save-widget-button" class="btn btn-primary">Save Widget</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->