<a href="{{ media.PictureSource() }}" data-lightbox="gallery-item">
    <img class="image_fade" src="{{ media.PictureSource("Medium") }}"
         alt="{{ media.GetDescription(Helper.GetLanguage()).Title }}">
</a>