{% extends "Default/Master/Master.twig" %}

{% block title %}Blog{% endblock %}

{% block content %}
	<section id="content">

		<div class="content-wrap">

			<div class="container clearfix">

				<!-- Post Content
				============================================= -->
				<div class="postcontent nobottommargin clearfix">

					<div class="single-post nobottommargin">

						<!-- Single Post
						============================================= -->
						<div class="entry clearfix">

							<!-- Entry Title
							============================================= -->
							<div class="entry-title">
								<h2>{{ model.Blog.Title }}</h2>
							</div><!-- .entry-title end -->

							<!-- Entry Meta
							============================================= -->
							<ul class="entry-meta clearfix">
								<li><i class="icon-calendar3"></i> {{ model.Blog.Date.format("Y-m-d") }}</li>
								<li><a href="#"><i
												class="icon-user"></i>
									</a>{{ model.Blog.Author.Details.DisplayFullName }}</li>
								<li><i class="icon-folder-open"></i> <a href="#">{{ model.Blog.Theme }}</a></li>
								<li><a href="#"><i class="icon-comments"></i> {{ model.Blog.Comments|length }} Comments</a>
								</li>
							</ul><!-- .entry-meta end -->

							<!-- Entry Image
							============================================= -->
							<div class="entry-image">
								<a href="#"><img src="{{ model.Blog.PictureSource }}"></a>
							</div><!-- .entry-image end -->

							<!-- Entry Content
							============================================= -->
							<div class="entry-content notopmargin">

								{{ model.Blog.Description|raw }}
								<!-- Post Single - Content End -->


								<div class="clear"></div>

								<!-- Post Single - Share
								============================================= -->
								<div class="si-share noborder clearfix">
									<span>Share this Post:</span>
									<div>
										<a href="#" class="social-icon si-borderless si-facebook">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-twitter">
											<i class="icon-twitter"></i>
											<i class="icon-twitter"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-instagram">
											<i class="icon-instagram"></i>
											<i class="icon-instagram"></i>
										</a>
									</div>
								</div><!-- Post Single - Share End -->

							</div>
						</div><!-- .entry end -->

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Posted by <span><a
												href="#">{{ model.Blog.Author.Details.DisplayFullName }}</a></span>
								</h3>
							</div>
							<div class="panel-body">
								<div class="author-image">
									<img src="{{ model.Blog.Author.Details.PictureSource("Small") }}" alt=""
										 class="img-circle">
								</div>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et
								nobis neque minus mollitia sit repudiandae ad repellendus recusandae blanditiis
								praesentium vitae ab sint earum voluptate velit beatae alias fugit accusantium
								laboriosam nisi reiciendis deleniti tenetur molestiae maxime id quaerat consequatur
								fugiat aliquam laborum nam aliquid. Consectetur, perferendis?
							</div>
						</div><!-- Post Single - Author End -->

						<div class="line"></div>

						<h4>Related Posts:</h4>

						<div class="related-posts clearfix">

							<div class="col_half nobottommargin">
								{% for blog in model.Blog.Children %}
									<div class="mpost clearfix">
										<div class="entry-image">
											<a href="#"><img src="{{ blog.PictureSource }}" alt="Blog Single"></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4>
													<a href="{{ Router.Create('blog', {slug: blog.Slug}) }}">{{ blog.Title| raw }}</a>
												</h4>
											</div>
											<ul class="entry-meta clearfix">
												<li><i class="icon-calendar3"></i> {{ blog.Date.format("Y-m-d") }}</li>
												<li><a href="#"><i class="icon-comments"></i>{{ blog.Comments|length }}
													</a></li>
											</ul>
											<div class="entry-content">{{ blog.Description }}</div>
										</div>
									</div>
								{% endfor %}


							</div>


						</div>
						<h3 id="comments-title"><span>{{ model.Blog.Comments | length }}</span> Comments</h3>

						<div id="comments" class="clearfix">

							<ol class="commentlist clearfix">
								{% for comment in model.Blog.Comments %}

									<!-- Comments List
									============================================= -->

									<li class="comment even thread-even depth-1">

										<div class="comment-wrap clearfix">

											<div class="comment-meta">

												<div class="comment-author vcard">

													<span class="comment-avatar clearfix">
													<img alt=''
														 src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60'
														 class='avatar avatar-60 photo avatar-default' height='60'
														 width='60'/></span>

												</div>

											</div>

											<div class="comment-content clearfix">

												<div class="comment-author">{{ comment.Author }}<span><a
																href="#">{{ comment.Date.format('Y-m-d') }}</a></span>
												</div>

												<p>{{ comment.Comment }}</p>

												<a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>

											</div>

											<div class="clear"></div>

										</div>

									</li>



								{% endfor %}
								<div id="comments-holder">

								</div>
							</ol><!-- .commentlist end -->

							<div class="clear"></div>

						</div>
						<div class="clear"></div>


						<div id="respond" class="clearfix">

							<h3>Leave a <span>Comment</span></h3>

							<form class="clearfix" action="{{ Router.Create('post-comment') }}" method="post">

								<div class="col_one_third">
									<label for="author">Name</label>
									<input type="text" name="author" id="author" value="" size="22" tabindex="1"
										   class="sm-form-control"/>
								</div>

								<div class="col_one_third">
									<label for="email">Email</label>
									<input type="text" name="authorEmail" id="author-email" value="" size="22"
										   tabindex="2"
										   class="sm-form-control"/>
								</div>
								<div class="clear"></div>

								<div class="col_full">
									<label for="comment">Comment</label>
									<textarea name="comment" cols="58" rows="7" tabindex="4" id="comment"
											  class="sm-form-control"></textarea>
								</div>
								<input type="hidden" id="blogId" value="{{ model.Blog.BlogId }}">
								<div class="col_full nobottommargin">
									<button name="submit" type="submit" id="post-comment" tabindex="5" value="Submit"
											class="button button-3d nomargin">Submit Comment
									</button>
								</div>

							</form>

						</div>

					</div>

				</div><!-- .postcontent end -->

				<!-- Sidebar
				============================================= -->
				<div class="sidebar nobottommargin col_last clearfix">
					<div class="sidebar-widgets-wrap">
						<div class="widget clearfix">

							<div class="tabs nobottommargin clearfix" id="sidebar-tabs">

								<ul class="tab-nav clearfix">
									<li><a href="#tabs-1">Popular</a></li>
									<li><a href="#tabs-2">Recent</a></li>
									<li><a href="#tabs-3"><i class="icon-comments-alt norightmargin"></i></a></li>
								</ul>

								<div class="tab-container">

									<div class="tab-content clearfix" id="tabs-1">
										<div id="popular-post-list-sidebar">

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img class="img-circle"
																				  src="images/magazine/small/3.jpg"
																				  alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
													</div>
													<ul class="entry-meta">
														<li><i class="icon-comments-alt"></i> 35 Comments</li>
													</ul>
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img class="img-circle"
																				  src="images/magazine/small/2.jpg"
																				  alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
													</div>
													<ul class="entry-meta">
														<li><i class="icon-comments-alt"></i> 24 Comments</li>
													</ul>
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img class="img-circle"
																				  src="images/magazine/small/1.jpg"
																				  alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
													</div>
													<ul class="entry-meta">
														<li><i class="icon-comments-alt"></i> 19 Comments</li>
													</ul>
												</div>
											</div>

										</div>
									</div>
									<div class="tab-content clearfix" id="tabs-2">
										<div id="recent-post-list-sidebar">

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img class="img-circle"
																				  src="images/magazine/small/1.jpg"
																				  alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
													</div>
													<ul class="entry-meta">
														<li>10th July 2014</li>
													</ul>
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img class="img-circle"
																				  src="images/magazine/small/2.jpg"
																				  alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
													</div>
													<ul class="entry-meta">
														<li>10th July 2014</li>
													</ul>
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img class="img-circle"
																				  src="images/magazine/small/3.jpg"
																				  alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
													</div>
													<ul class="entry-meta">
														<li>10th July 2014</li>
													</ul>
												</div>
											</div>

										</div>
									</div>
									<div class="tab-content clearfix" id="tabs-3">
										<div id="recent-post-list-sidebar">

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img class="img-circle"
																				  src="images/icons/avatar.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<strong>John Doe:</strong> Veritatis recusandae sunt repellat
													distinctio...
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img class="img-circle"
																				  src="images/icons/avatar.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<strong>Mary Jane:</strong> Possimus libero, earum officia
													architecto maiores....
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="#" class="nobg"><img class="img-circle"
																				  src="images/icons/avatar.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<strong>Site Admin:</strong> Deleniti magni labore laboriosam
													odio...
												</div>
											</div>

										</div>
									</div>

								</div>

							</div>

						</div>


					</div>

				</div><!-- .sidebar end -->

			</div>

		</div>

	</section><!-- #content end -->

{% endblock %}
{% block post_scripts %}
	<script type="text/javascript">

		$(document).on("click", "#post-comment", function (e) {
			e.preventDefault();

			var author = $("#author").val();
			var authorEmail = $("#author-email").val();
			var comment = $("#comment").val();
			var blogId = $("#blogId").val();

			if (author == '' || authorEmail == '' || comment == '') {
				return false;

			} else {

				$.ajax({
					method: "POST",
					url: "{{ Router.Create("post-comment") }}",
					dataType: "html",
					data: {
						author: author,
						authorEmail: authorEmail,
						comment: comment,
						blogId: blogId

					},
					cache: false,
					success: function (response) {
						$("#comments-holder").append(response);
						$("#comment").val('');
					}
				});

			}

		});

	</script>
{% endblock %}