<li class="comment even thread-even depth-1">
	<div class="comment-wrap clearfix">
		<div class="comment-meta">
			<div class="comment-author vcard">
			<span class="comment-avatar clearfix">
				<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60'
					 class='avatar avatar-60 photo avatar-default' height='60' width='60'/>
			</span>
			</div>
		</div>

		<div class="comment-content clearfix">
			<div class="comment-author">{{ model.Comment.Author }}<span>
				<a href="#" title="Permalink to this comment">now</a>
			</span>
			</div>
			<p>{{ model.Comment.Comment }}</p>
		</div>
		<div class="clear"></div>
	</div>
</li>