{% extends "Default/Builder/Layout/Master/Row.twig" %}

{% block content %}
    <div class="col-md-3">
        {{ col1|raw }}
    </div>
    <div class="col-md-9">
        {{ col2|raw }}
    </div>
{% endblock %}
