{% extends "Default/Builder/Layout/Master/Row.twig" %}

{% block content %}
    <div class="col-md-4">
        <div class="sticky">
            {{ col1|raw }}
        </div>
    </div>
    <div class="col-md-8">
        {{ col2|raw }}
    </div>
{% endblock %}


