<label class="gallery-widget-label">
    <input type="checkbox" class="image-checkbox hidden" value="{{ media.MediaId }}">
    <img class="img-responsive" src="{{ media.PictureSource("Medium") }}"
         alt="{{ media.GetDescription(Helper.GetLanguage()).Title }}">
</label>
