{% extends 'Admin/Mail/Master/Mail.twig' %}

{% block body %}
    <p>Please follow the link below to join Admin administration portal with role(s): {{ model.Roles|indexes("Name")|join(", ") }}</p>
    <p>
        <a href="{{ Router.Create("invitation-confirm", {token: model.Token}) }}">
            {{ Router.Create("invitation-confirm", {token: model.Token}) }}
        </a>
    </p>
    <p>The invitation expires on
        <strong>{{ model.ExpirationDate.format("F jS, Y") }}</strong>.
    </p>
{% endblock %}