{% extends 'Admin/Mail/Master/Mail.twig' %}

{% block body %}

    <p>Dear {{ model.Name }},</p>

    <p>Please follow the link to reset password: </p>
    
    <p>
        <a href="{{ Router.Create("reset-password-confirm", {token: model.Token}) }}">
            {{ Router.Create("reset-password-confirm", {token: model.Token}) }}
        </a>
    </p>

{% endblock %}