{% extends 'Admin/Mail/Master/Mail.twig' %}

{% block body %}
    <p>Dear {{ model.Name }},</p>

    <p>
        Please follow the link to activate Your Admin administrator account:
    </p>

    <p>
        <a href="{{ Router.Create("registration-confirm", {token: model.ConfirmationLink}) }}">
            {{ Router.Create("registration-confirm", {token: model.ConfirmationLink}) }}
        </a>
    </p>

    {% if model.ExpirationDate != null %}
        <p>The invitation expires on
            <strong>{{ model.ExpirationDate.format('F jS Y') }}</strong>.
        </p>
    {% endif %}
{% endblock %}