<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading nopaddingbottom">
                    <h4 class="panel-title">Sponsor Group</h4>
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="Name" name="name" class="slug-field form-control"
                               value="{{ model.GroupDetails.Name }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-sm-4">
                    </div>

                    <div class="col-sm-4" style="text-align: center">
                        <button class="btn btn-success btn-quirk btn-wide mr5" type="submit">Submit</button>
                        <button type="reset" class="btn btn-quirk btn-wide btn-default">Reset</button>
                    </div>

                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>