{% extends "Admin/Master/Master.twig" %}

{% block title %}Create Menu{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("menus-list") }}">Menus</a>
        </li>
        <li class="active">Create Menu</li>
    </ol>

    <div class="row">
        {% include "Admin/Menus/Partial/MenuForm.twig" with {'model': model} %}
    </div>

{% endblock %}

{% block post_scripts %}
    <script type="text/javascript">
        var updateMenuSubcategory = function () {
            var itemTypeId = $(this).val();
            if (itemTypeId == 5 || itemTypeId == 6) {
                $.ajax({
                    url: "{{ Router.Create("menu-item-type-submenu") }}",
                    type: "POST",
                    data: {
                        itemTypeId: itemTypeId
                    },
                    success: function (data) {
                        $("#menuItemTypeSubmenu").html(data);
                    }
                });
            }
            else {
                $("#menuItemTypeSubmenu").html("");
            }
        };
        $("[name=itemType]").on("change", updateMenuSubcategory);
    </script>
{% endblock %}