{% extends "Admin/Master/Master.twig" %}

{# @var model MenusViewModel #}

{% block title %}List of Menus{% endblock %}

{% block content %}

    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("menus-list") }}">Menus</a>
        </li>
        <li class="active">Menus Directory</li>
    </ol>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">Menus List</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="datatable table table-bordered table-striped-col">
                    <thead>
                        <tr>
                            <th>Language</th>
                            <th>Alias</th>
                            <th>Position</th>
                            <th class="text-center" style="width: 80px;">Actions</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Language</th>
                            <th>Alias</th>
                            <th>Position</th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        {% for menu in model.Menus %}
                            <tr>
                                <td>{{ menu.Language.Caption }}</td>
                                <td>{{ menu.Alias }}</td>
                                <td>{{ menu.MenuPosition.Caption }}</td>
                                <td>
                                    <ul class="table-options">
                                        <li>
                                            <a href="{{ Router.Create("menus-update", {id: menu.MenuId}) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="confirm" style="cursor: pointer" data-toggle="tooltip"
                                               title="Delete"
                                               data-href="{{ Router.Create("menus-delete", {id: menu.MenuId}) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- panel -->

{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/Admin/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" href="Theme/Admin/lib/select2/select2.css">
{% endblock %}

{% block post_scripts %}
    <script src="Theme/Admin/lib/datatables/jquery.dataTables.js"></script>
    <script src="Theme/Admin/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="Theme/Admin/lib/select2/select2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            'use strict';
            $('.datatable').DataTable();

            $('select').select2();
        });
    </script>
{% endblock %}