{% extends "Admin/Master/Master.twig" %}

{# @var model \MenuItemModel #}

{% block title %}Update Menu Item {{ model.Caption }}{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("menus-list") }}">Menus</a>
        </li>
        <li class="active">{{ model.Caption }}</li>
    </ol>

    <div class="row">
        {% include "Admin/Menus/Partial/UpdateMenuItemsForm.twig" with {'model': model} %}
    </div>
{% endblock %}

{% block post_scripts %}
    <script type="text/javascript">
        function updateMenuSubcategory() {
            var itemTypeId = $("[name=itemType]").val();
            if (itemTypeId == 5 || itemTypeId == 6 || itemTypeId == 7) {
                $.ajax({
                    url: "{{ Router.Create("menu-item-type-submenu") }}",
                    type: "POST",
                    data: {
                        itemTypeId: itemTypeId
                    },
                    success: function (data) {
                        $("#menuItemTypeSubmenu").html(data);
                    }
                });
            }
            else {
                $("#menuItemTypeSubmenu").html("");
            }
        }

        $("[name=itemType]").on("change", updateMenuSubcategory);

    </script>
{% endblock %}