{% extends "Admin/Master/Master.twig" %}

{# @var model \MenuViewModel #}

{% block title %}Update Menu {{ model.Menu.Alias }}{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("menus-list") }}">Menus</a>
        </li>
        <li class="active">{{ model.Menu.Alias }}</li>
    </ol>

    <div class="row">
        <input type="hidden" id="menu-id" data-menu-id="{{ model.Menu.MenuId }}">
        {% include "Admin/Menus/Partial/MenuForm.twig" with {'model': model} %}
        {% include "Admin/Menus/Partial/MenuItemsForm.twig" with {'model': model} %}
    </div>

    <div id="external-link-form">

    </div>
{% endblock %}

{% block post_scripts %}
    <script type="text/javascript">
        function updateMenuSubcategory() {
            var itemTypeId = $(this).val();
            if (itemTypeId == 5 || itemTypeId == 6 || itemTypeId == 7) {
                $.ajax({
                    url: "{{ Router.Create("menu-item-type-submenu") }}",
                    type: "POST",
                    data: {
                        itemTypeId: itemTypeId
                    },
                    success: function (data) {
                        $("#menuItemTypeSubmenu").html(data);
                    }
                });
            }
            else {
                $("#menuItemTypeSubmenu").html("");
            }
        }

        $("[name=itemType]").on("change", updateMenuSubcategory);
    </script>
{% endblock %}