<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    </head>
    <body style="margin: 0; padding: 15px; font-size: 14px; font-family: 'Helvetica', 'Arial', 'Verdana', 'Trebuchet MS', sans-serif">

        {% block body %}
        {% endblock %}

        <p style="margin-top: 60px; margin-bottom: 15px;">
            <img src="{{ Config.portal.url }}/Theme/Admin/images/Admin_email_logo.png"/>
        </p>

        <p>
            <strong>Pierre-Boulez Saal</strong>
            <br/>
            <small style="font-size: 10px;">+49 30 41 79 - 14 / +49 30 41 71 79 - 14 (m)</small>
        </p>
    </body>
</html>