{% extends "Admin/Master/Master.twig" %}

{% block title %}List of Social Icons{% endblock %}

{% block content %}

    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("social-icon-list") }}">Social Icons</a>
        </li>
        <li class="active">Social Icons Directory</li>
    </ol>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">Social Icons List</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="datatable table table-bordered table-striped-col" id="general-table">
                    <thead>
                        <tr>
                            <th>Icon</th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Color</th>
                            <th>Active</th>
                            <th class="text-center" style="width: 80px;">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for socialIcon in model %}
                            <tr data-social-icon-id="{{ socialIcon.SocialIconId }}">
                                <td style="margin-left: 20px">
                                    <i class="fa {{ (socialIcon.Icon != null) ? socialIcon.Icon : "" }}"
                                       style="font-size: 30px; color: {{ (socialIcon.Color != null) ? socialIcon.Color : "" }}"></i>
                                </td>
                                <td>{{ (socialIcon.Name != null) ? socialIcon.Name : "" }} </td>
                                <td>{{ (socialIcon.Link != null) ? socialIcon.Link : "" }}</td>
                                <td>
                                <span class="label label-block"
                                      style="color: {{ socialIcon.Color }}; background-color: {{ socialIcon.Color }}">
                                        -----------
                                </span>
                                </td>
                                <td>
                                    {% if socialIcon.Active == 1 %}
                                        <span class="label label-success"><i class="fa fa-check"></i> YES</span>
                                    {% else %}
                                        <span class="label label-default"><i class="fa fa-times"></i> NO</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <ul class="table-options">
                                        <li>
                                            <a href="{{ Router.Create("social-icon-update", {socialIconId: socialIcon.SocialIconId}) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="confirm" style="cursor: pointer" data-toggle="tooltip"
                                               title="Delete"
                                               data-href="{{ Router.Create("social-icon-delete", {socialIconId: socialIcon.SocialIconId}) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- panel -->

{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/Admin/lib/select2/select2.css">
{% endblock %}

{% block post_scripts %}
    <script src="Theme/Admin/lib/select2/select2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            'use strict';

            $('select').select2();
        });

        $("#general-table tbody").sortable({
            placeholder: "ui-state-highlight",
            update: function (event, ui) {
                var socialIconsWeight = [];
                var weight = 1;

                $("#general-table tbody tr").each(function () {
                    var socialIconId = $(this).data("social-icon-id");
                    var dto = {
                        ItemId: socialIconId,
                        Weight: weight
                    };

                    socialIconsWeight.push(dto);
                    weight++;

                });
                console.log(socialIconsWeight);

                $.ajax({
                    url: "weight-social-icons",
                    method: "POST",
                    data: {
                        weights: socialIconsWeight
                    },
                    success: function (response) {
                        if (response == 0) {
                            alert("Sorting failed. Please try again.");
                        } else {
                            var i = 1;
                            $("#general-table tbody tr").each(function () {
                                $(this).children(".weight").html(i++);
                            });
                        }
                    }
                })
            }
        });

    </script>
{% endblock %}