{% extends "Admin/Master/Master.twig" %}

{% block title %}Edit Social Icon{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("social-icon-list") }}">Social Icons</a>
        </li>
        <li class="active">Edit Social Icon</li>
    </ol>

    {% include "Admin/SocialIcons/Partial/SocialIconForm.twig" with {'socialIcon': model} %}
{% endblock %}

{% block post_scripts %}
    <script src="Theme/Admin/lib/jquery-toggles/toggles.js"></script>

    <script type="text/javascript">
        // Toggles
        $('.toggle').toggles({
            height: 26
        });
    </script>
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="Theme/Admin/lib/jquery-toggles/toggles-full.css">
{% endblock %}