{# @var model \Data\Models\HallConfiguration #}

<figure class="seat-map">
    <h4 class="seat-map-title">
        <img src="/Theme/Default/images/configurations/{{ model.Code }}.svg"
             alt="{{ model.Code }}">
        <strong>{{ model.Name }}</strong>
    </h4>

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-xs-6">
                    <aside class="site-map-block block-parket">
                        <div class="row">
                            <div class="col-xs-8">
                                <ul>
                                    {% for block in 'A'..'E' %}
                                        <li {% if block in model.BlockedSections %}class="blocked"{% endif %}>
                                            Block {{ block }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <span>{{ __("Parkett") }}</span>
                        </div>
                    </aside>
                </div>
                <div class="col-md-12 col-xs-6">


                    <aside class="site-map-block block-rang">
                        <div class="row">
                            <div class="col-xs-8">
                                <ul>
                                    {% for block in 'F'..'J' %}
                                        <li {% if block in model.BlockedSections %}class="blocked"{% endif %}>
                                            {{ __("Block") }} {{ block }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <span>{{ __("Rang") }}</span>
                        </div>
                    </aside>
                </div>
            </div>

            <aside class="site-map-legend">
                <ul>
                    <li>
                        <img src="Theme/Default/images/icons/svg/seat1.svg" style="width: 20px; height: 20px;"/>
                        {{ __("Reihe 5: Bank") }}
                    </li>
                    <li>
                        <img src="Theme/Default/images/icons/svg/seat2.svg" style="width: 20px; height: 20px;"/>
                        {{ __("Reihe 6: Barstuhle") }}
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-9">
            <img src="/Theme/Default/images/configurations/full/{{ model.Code }}.png"
                 alt="{{ model.Code }}" class="img-responsive"/>
        </div>
    </div>
</figure>