{# @var model \BlogViewModel #}

{% extends "Admin/Master/Master.twig" %}

{% block title %}Edit Blog {{ model.Blog.Name }}{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="{{ Router.Create("home") }}">
                <i class="fa fa-home mr5"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ Router.Create("blogs-list") }}">Blogs</a>
        </li>
        <li class="active">Edit blog {{ model.Blog.Title }}</li>
    </ol>

    {% include "Admin/Blog/Partial/BlogForm.twig" with {'model': model} %}
{% endblock %}

{% block post_scripts %}

{% endblock %}
