{% extends "Admin/Master/Login.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="signpanel"></div>

    <div class="panel signin">
        <div class="panel-heading">
            <h1>
                <img class="img-responsive" src="Theme/Admin/images/boulez_saal_akademie.png" alt="Boulez Saal Akademie"/>
            </h1>
        </div>
        <div class="panel-body">


            {% if errors is not empty %}
                {% for error in errors %}
                    <div class="alert alert-danger">
                        <b>Error!</b>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="or"><i class="fa fa-key"></i></div>
            <form method="post">
                <div class="form-group mb10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" name="username" class="form-control" placeholder="Enter Username">
                    </div>
                </div>
                <div class="form-group nomargin">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" name="password" class="form-control" placeholder="Enter Password">
                    </div>
                </div>
                <div>
                    <a href="{{ Router.Create("reset-password") }}" class="forgot">Forgot password?</a>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-quirk btn-block">Sign In</button>
                </div>
            </form>
            <hr class="invisible">
            <div class="form-group">
                <a href="{{ Router.Create("registration") }}"
                   class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign">
                    Not a member? Request access!
                </a>
            </div>
        </div>
    </div><!-- panel -->

{% endblock %}