{% extends "Admin/Master/Login.twig" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="sign-overlay"></div>
    <div class="signpanel"></div>

    <div class="signup">
        <div class="row">
            <div class="col-sm-5">
                <div class="panel">
                    <div class="panel-heading">
                        <h1>
                            <img class="img-responsive" src="Theme/Admin/images/boulez_saal_akademie.png" alt="Boulez Saal Akademie"/>
                        </h1>
                    </div>
                    <div class="panel-body">
                        <div class="or">Create an Account</div>
                        <form method="post" action="{{ Router.Create('registration') }}">
                            {% if model.Email == null %}
                                <div class="form-group mb15">
                                    <input type="text" class="form-control" placeholder="Email*" name="email"
                                           required>
                                </div>
                            {% else %}
                                <div class="form-group mb15">
                                    <input type="text" class="form-control" placeholder="{{ model.Email }}"
                                           name="email"
                                           value="{{ model.Email }}" readonly>
                                </div>
                                <input type="hidden" name="token" value="{{ model.Token }}">
                            {% endif %}
                            <div class="form-group mb15">
                                <input type="text" class="form-control" placeholder="Username*"
                                       name="username" required>
                            </div>
                            <div class="form-group mb15">
                                <input type="password" class="form-control disable-space" placeholder="Password*"
                                       id="password"
                                       name="password" required>
                            </div>
                            <div class="form-group mb15">
                                <input type="password" class="form-control disable-space"
                                       placeholder="Confirm Password*" id="confirm-password"
                                       name="confirmPassword" required>
                            </div>
                            <div class="form-group mb15">
                                <input type="text" class="form-control" placeholder="First Name*"
                                       name="firstName" required>
                            </div>
                            <div class="form-group mb15">
                                <input type="text" class="form-control" placeholder="Last Name*"
                                       name="lastName" required>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-quirk btn-block" id="save-user-account">Create
                                    Account
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->
            </div>
            <!-- col-sm-5 -->
            <div class="col-sm-7">

                <div class="sign-sidebar">
                    {% if model.Email != null %}
                        <h3 class="signtitle mb20">
                            Invitation {{ model.SenderId != null ? " from " ~ model.Sender.Details.FirstName ~ " " ~ model.Sender.Details.LastName: ' to register' }}</h3>
                    {% else %}
                        <h3 class="signtitle mb20">Registration for a user</h3>
                    {% endif %}
                    <p>After You create account for Admin Your role(s) will be:</p>

                    <br>
                    {% if model.Roles != null %}
                        {% set counter = 1 %}
                        {% for role in model.Roles %}

                            <h4 class="reason">{{ counter }}. {{ role.Name }}</h4>

                            {% set counter = counter + 1 %}
                        {% endfor %}

                    {% else %}
                        <h4 class="reason">1. Administrator</h4>

                        {#<p>Lorem ipsum dolor sit amet, fermentum mi, est varius rutrum et.
                            Malesuada lectus nam mi hac, dignissim arcu. Mi mollis aliquam integer, tristique
                            pellentesque ut proin.
                            Tempor senectus. Fringilla urna gravida sed elit vel, metus sed sed. </p>#}
                    {% endif %}

                    <hr class="invisible">

                    <div class="form-group">
                        <a href="{{ Router.Create("login") }}"
                           class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign">Already a
                            member? Sign In Now!
                        </a>
                    </div>

                    <br>

                    {% if errors is not empty %}
                        {% for error in errors %}
                            <div class="alert alert-danger" id="alert-holder">
                                <b>Error!</b>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="alert alert-danger hidden" id="alert-holder-2">
                        <b>Error!</b>
                        {{ error }}
                    </div>

                </div>

                <!-- sign-sidebar -->
            </div>
        </div>
    </div>
    <!-- signup -->

{% endblock %}

{% block post_scripts %}
    <script type="text/javascript">

        $(document).ready(function () {

            $(".disable-space").on({
                keydown: function (e) {
                    if (e.which === 32)
                        return false;
                },
                change: function () {
                    this.value = this.value.replace(/\s/g, "");
                }
            });

            $("#save-user-account").on("click", function (e) {
                var isValidPassword = CheckPassword();

                if (isValidPassword == false) {
                    e.preventDefault();
                }
            });
        });


        /**
         * @return {boolean}
         */
        function CheckPassword() {
            var data = $('#password').val();
            var len = data.length;

            var isValid = true;

            if (len <= 7) {
                isValid = false;
                $('#alert-holder-2').removeClass("hidden").html("Error! Password must have at least 8 characters").show();
            } else {
                if ($('#password').val() != $('#confirm-password').val()) {
                    isValid = false;
                    $('#alert-holder-2').removeClass("hidden").html("Error! Passwords do not match, please try again!").show();
                }
            }

            return isValid;
        }

    </script>
{% endblock %}