{% extends "Admin/Master/Login.twig" %}

{% block title %}Activate Your Account{% endblock %}

{% block content %}

    <div class="sign-overlay"></div>
    <div class="signpanel"></div>

    <div class="signup">
        <div class="row">
            <div class="panel" style="overflow: auto">
                <div class="col-sm-5">

                    <div class="panel-heading">
                        <h1>
                            <img class="img-responsive" src="Theme/Admin/images/boulez_saal_akademie.png" alt="Boulez Saal Akademie"/>
                        </h1>
                    </div>
                </div>
                <!-- panel -->
                <!-- col-sm-5 -->
                <div class="col-sm-7">
                    <div class="sign-sidebar">
                        <h3 class="signtitle mb20">Activate Your Account</h3>

                        <h4 class="reason">Check Your Email inbox</h4>

                        <p>Please follow the link in email to activate Your account</p>

                    </div>
                    <!-- sign-sidebar -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}