{% extends "Admin/Master/Login.twig" %}

{% block title %}Request Access{% endblock %}

{% block content %}

    <div class="sign-overlay"></div>
    <div class="signpanel"></div>

    <div class="signup">
        <div class="row">
            <div class="col-sm-5">
                <div class="panel">
                    <div class="panel-heading">
                        <h1>
                            <img class="img-responsive" src="Theme/Admin/images/boulez_saal_akademie.png" alt="Boulez Saal Akademie"/>
                        </h1>
                        <h4 class="panel-title">Request an Account!</h4>
                    </div>
                    <div class="panel-body">
                        <div class="or">
                            <i class="fa fa-key"></i>
                        </div>
                        <form method="post" action="{{ Router.Create("reset-password") }}">
                            <div class="input-group mb15">
                                <span class="input-group-addon">@</span>
                                <input type="text" name="email" class="form-control" placeholder="Enter email address">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-quirk btn-block">Request Access</button>
                            </div>
                            
                            <hr class="invisible">

                            <div class="form-group">
                                <a href="{{ Router.Create("login") }}"
                                   class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign">Already a
                                    member? Sign In Now!
                                </a>
                            </div>


                        </form>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-sm-5 -->
            <div class="col-sm-7">
                <div class="sign-sidebar">
                    <h3 class="signtitle mb20">Welcome to Pierre-Boulez Saal</h3>
                    <p>After your request is approved by our website administrators, you will receive registration link,
                        which you need to follow to complete registration process.
                    </p>

                    <br>

                    <h4 class="reason">Forgot Password?</h4>
                    <p>If you already have an account, and want to retrieve password, go to <a href="{{ Router.Create("reset-password") }}">Reset password form</a>.</p>

                    <br>

                    {% if errors is not empty %}
                        {% for error in errors %}
                            <div class="alert alert-danger">
                                <b>Error!</b>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}


                </div><!-- sign-sidebar -->
            </div>
        </div>
    </div>
{% endblock %}