{% extends "Admin/Master/Login.twig" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

    <div class="sign-overlay"></div>
    <div class="signpanel"></div>

    <div class="signup">
        <div class="row">
            <div class="col-sm-5">
                <div class="panel">
                    <div class="panel-heading">
                        <h1>
                            <img class="img-responsive" src="Theme/Admin/images/boulez_saal_akademie.png" alt="Boulez Saal Akademie"/>
                        </h1>
                        <h4 class="panel-title">Reset Password!</h4>
                    </div>
                    <div class="panel-body">
                        <div class="or">
                            <i class="fa fa-key"></i>
                        </div>
                        <form method="post">
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                <input type="text" name="email" class="form-control" placeholder="Enter email address">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-quirk btn-block">Send Link</button>
                            </div>

                            <hr class="invisible">

                            <div class="form-group">
                                <a href="{{ Router.Create("login") }}"
                                   class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign">
                                    Already a
                                    member? Sign In Now!
                                </a>
                            </div>


                        </form>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-sm-5 -->
            <div class="col-sm-7">
                <div class="sign-sidebar">
                    <h3 class="signtitle mb20">Forgot your password?</h3>
                    <p>No need to worry. Fill in your email address and click
                        <i>Reset Password</i>
                        button and we will send a link to your inbox, which you can follow to finish password resetting.
                    </p>

                    <br>

                    <h4 class="reason">Need an Account?</h4>
                    <p>If you do not already have an account, and want to request one, go to
                        <a href="{{ Router.Create("request-access") }}">Request access form</a>
                        .
                    </p>

                    <br>

                    {% if errors is not empty %}
                        {% for error in errors %}
                            <div class="alert alert-danger">
                                <b>Error!</b>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}


                </div><!-- sign-sidebar -->
            </div>
        </div>
    </div>
{% endblock %}