{% extends "Admin/Master/Login.twig" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

    <div class="sign-overlay"></div>
    <div class="signpanel"></div>

    <div class="signup">
        <div class="row">
            <div class="col-sm-5">
                <div class="panel">
                    <div class="panel-heading">
                        <h1>
                            <img class="img-responsive" src="Theme/Admin/images/boulez_saal_akademie.png" alt="Boulez Saal Akademie"/>
                        </h1>
                        <h4 class="panel-title">Reset Password!</h4>
                    </div>
                    <div class="panel-body">
                        <div class="or">
                            <i class="fa fa-key"></i>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-sm-5 -->
            <div class="col-sm-7">
                <div class="sign-sidebar">
                    <h3 class="signtitle mb20">Link has been sent to your inbox</h3>
                    <p>Please follow the link to set new password.
                    </p>

                    <br>

                    <h4 class="reason">Did not receive email?</h4>
                    <p>Check your spam folder first, and if there is still no email, please
                        <a href="{{ Router.Create("reset-password") }}">request new link</a>.
                    </p>
                </div><!-- sign-sidebar -->
            </div>
        </div>
    </div>
{% endblock %}