{# @var model \ViewModel\Install\DatabaseViewModel #}

{% if model.Success %}
    <p>Database is successfully created.</p>
{% else %}
    <p>There was a problem with database installation.</p>
{% endif %}