<h5>Accordion Items</h5>

<div id="items-list-holder">

    {% for item in widget.Options.items %}
        <div class="container-fluid widget-sortable-unit">
            <div class="row">
                <div class="col-xs-8">
                    <input type="text" placeholder="Title (red)" name="items[{{ loop.index0 }}][title]"
                           class="form-control" value="{{ item.title }}"/>
                </div>
                <div class="col-xs-4 text-right">
                    <a class="btn btn-danger widget-items-delete">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <input type="text" placeholder="Secondary title (black)"
                           name="items[{{ loop.index0 }}][subtitle]"
                           class="form-control" value="{{ item.subtitle }}"/>
                </div>
                <div class="col-xs-4">
                    <select name="items[{{ loop.index0 }}][state]" class="form-control">
                        <option value="collapsed"
                                {% if item.state == "collapsed" or not item.state %}selected{% endif %}>Collapsed
                        </option>
                        <option value="open"
                                {% if item.state == "open" %}selected{% endif %}>Open
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <textarea class="summernote"
                              name="items[{{ loop.index0 }}][text]">{{ item.text }}</textarea>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<hr>

<a class="add-item-widget-button btn btn-block btn-success">Add Item</a>

<script type="text/javascript">
    function itemsWidgetReorganizeIndexes() {
        // arrange all indexes
        var itemElements = $("#items-list-holder > .container-fluid");
        var i = 0;
        itemElements.each(function () {
            var inputs = $(this).find("input, textarea, select");
            $(inputs[0]).attr("name", "items[" + i + "][title]");
            $(inputs[1]).attr("name", "items[" + i + "][subtitle]");
            $(inputs[2]).attr("name", "items[" + i + "][state]");
            $(inputs[3]).attr("name", "items[" + i + "][text]");
            i++;
        });

        return i;
    }

    $(".add-item-widget-button").on("click", function () {

        var i = itemsWidgetReorganizeIndexes();

        var newEl = $("<div>").addClass("container-fluid widget-sortable-unit");
        newEl
                .append(
                        $("<div>").addClass("row")
                                .append($("<div>").addClass("col-xs-8").append($("<input>").attr("type", "text").attr("name", "items[" + i + "][title]").attr("placeholder", "Title (red)").addClass("form-control")))
                                .append($("<div>").addClass("col-xs-4 text-right").append($("<a>").addClass("btn btn-danger widget-items-delete").append($("<i>").addClass("fa fa-times"))))
                )
                .append(
                        $("<div>").addClass("row")
                                .append($("<div>").addClass("col-xs-8").append($("<input>").attr("type", "text").attr("name", "items[" + i + "][subtitle]").attr("placeholder", "Secondary title (black)").addClass("form-control")))
                                .append($("<div>").addClass("col-xs-4").append($("<select>").attr("name", "items[" + i + "][status]").addClass("form-control")
                                                .append(($("<option>").attr("value", "collapsed").attr("selected", true).text("Collapsed")))
                                                .append(($("<option>").attr("value", "open").text("Open")))
                                        )
                                )
                )
                .append(
                        $("<div>").addClass("row")
                                .append($("<div>").addClass("col-xs-12").append($("<textarea>").attr("name", "items[" + i + "][text]").attr("placeholder", "Text").addClass("summernote")))
                );

        $("#items-list-holder").append(newEl);
        initializeSummernote();
    });

    $("#items-list-holder").on("click", ".widget-items-delete", function () {
        $(this).closest(".container-fluid").remove();
        itemsWidgetReorganizeIndexes();
    });

    $("#items-list-holder").sortable({
        cancel: "input, .note-editor, select",
        update: function () {
            itemsWidgetReorganizeIndexes();
        },
        tableClassName: 'table table-accordion '
    });

    initializeSummernote();

</script>