<div class="form-group">
    <label>Youtube Url</label>
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="url" class="widget-url form-control"
                   value="{{ widget.Options.url }}" placeholder="Youtube Url"/>
        </div>
    </div>
</div>