<div class="button-widget-form">
    <div class="form-group">
        <label>Button Text</label>
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="content" class="widget-title form-control"
                       value="{{ widget.Options.content }}" placeholder="Caption"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Button Url</label>
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="url" class="widget-url form-control"
                       value="{{ widget.Options.url }}" placeholder="Url"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Open link in</label>
        {{ HtmlHelper.SearchableSelect({_self: "Same tab", _blank: "New tab"}, "target", widget.Options.target)|raw }}
    </div>
    <div class="form-group">
        <label>Size</label>
        {{ HtmlHelper.SearchableSelect({default: "Default", mini: "Mini", small: "Small", large: "Large", xlarge: "Extra Large"}, "size", widget.Options.size)|raw }}
    </div>
    <div class="form-group">
        <label>Color</label>
        {{ HtmlHelper.SearchableSelect({
            red: "Red",
            teal: "Teal",
            yellow: "Yellow",
            green: "Green",
            brown: "Brown",
            aqua: "Aqua",
            purple: "Purple",
            leaf: "Leaf",
            pink: "Pink",
            blue: "Blue",
            dirtygreen: "Dirty Green",
            amber: "Amber",
            black: "Black",
            white: "White",
        }, "color", widget.Options.color)|raw }}
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="ckbox">
                    <input type="checkbox" name="d"
                           {% if widget.Options.d == "on" %}checked="checked"{% endif %}>
                    <span>3D</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="ckbox">
                    <input type="checkbox" name="rounded"
                           {% if widget.Options.rounded == "on" %}checked="checked"{% endif %}>
                    <span>Rounded</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="ckbox">
                    <input type="checkbox" name="reveal"
                           {% if widget.Options.reveal == "on" %}checked="checked"{% endif %}>
                    <span>Reveal</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Icon Type</label>
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="icon" class="widget-title form-control"
                       value="{{ widget.Options.icon }}" placeholder="icon"/>
            </div>
        </div>
    </div>
</div>