<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title" class="form-control"
           value="{{ widget.Options.title }}"/>
</div>
<a target="_blank" href="{{ Router.Create("coaches-list") }}" class="btn btn-primary">List of Coaches</a>