<div class="form-group">
    <label>Box Icon</label>
    {{ HtmlHelper.SearchableSelect({
        calendar: "Calendar",
        phone: "Mobile",
        phone2: "Mobile II",
        phone3: "Telephone",
        thumbsUp: "Like us",
        facebook: "Facebook",
        paypal: "Paypal",
        googlePlus: "Google Plus",
        wikipedia: "Wikipedia",
        spotify: "Spotify",
        reddit: "Reddit",
        linkedIn: "Linked In",
        skype: "Skype",
        twitter: "Twitter",
        youtube: "Youtube",
        vimeo: "Vimeo",
        yahoo: "Yahoo",
        dropbox: "Dropbox",
        ebay: "Ebay",
        trumblr: "Trumblr",
        wordpress: "Wordpress",
        yelp: "Yelp",
        acrobat: "Acrobat",
        amazon: "Amazon",
        appstore: "Appstore",
        pinterst: "Pinterst",
    }, "boxIcon", widget.Options.boxIcon)|raw }}
</div>
<div class="form-group">
    <label>Icon Url</label>
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="url" class="widget-url form-control"
                   value="{{ widget.Options.url }}" placeholder="Url"/>
        </div>
    </div>
</div>
<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title" class="form-control"
           value="{{ widget.Options.title }}"/>
</div>

<div class="form-group">
    <label>Subtitle</label>
    <input type="text" placeholder="Subtitle" name="subtitle" class="form-control"
           value="{{ widget.Options.subtitle }}"/>
</div>
