<h5>Divider</h5>

<div class="form-group">
    <label>Positon</label>
    {{ HtmlHelper.SearchableSelect({left: "Left", center: "Center", right: "Right"}, "dividerPosition", widget.Options.dividerPosition)|raw }}
</div>

<div class="form-group">
    <label>Style</label>
    {{ HtmlHelper.SearchableSelect({default: "Default", short: "Short"}, "style", widget.Options.style)|raw }}
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label class="ckbox">
                <input type="checkbox" name="border"
                       {% if widget.Options.border == "on" %}checked="checked"{% endif %}>
                <span>Border</span>
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <label>Icon Type</label>
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="icon" class="widget-title form-control"
                   value="{{ widget.Options.icon }}" placeholder="icon"/>
        </div>
    </div>
</div>
