<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label>Title</label>
            <input type="text" placeholder="Title" name="title" class="form-control"
                   value="{{ widget.Options.title }}"/>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label>Document</label>
            {{ HtmlHelper.SearchableSelect(SelectableHelper.Documents(true), "document", widget.Options.document)|raw }}
        </div>
    </div>
</div>