<h5>Empty Space</h5>

<div class="form-group">
    <label>Height (px)</label>
    <input type="number" placeholder="Height" name="height" min="0" step="1" class="form-control"
           value="{{ widget.Options.height }}"/>
</div>