<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Columns</label>
            {{ HtmlHelper.SearchableSelect({
                2: "2",
                3: "3",
                4: "4",
                5: "5",
                6: "6",
            }, "numColumns", widget.Options.numColumns)|raw }}
        </div>
    </div>
</div>

<h5>Media</h5>

<div id="media-list-holder" style="height: 250px; overflow: auto;">
    {% for media in widget.Options.media %}
        <div class="container-fluid widget-sortable-unit">
            <div class="hidden">
                <input type="text" value="{{ media.mediaId }}"
                       name="media[{{ loop.index0 }}][mediaId]">
                <input type="text" value="{{ media.pictureUrl }}"
                       name="media[{{ loop.index0 }}][pictureUrl]">
                <input type="text" value="{{ media.title }}"
                       name="media[{{ loop.index0 }}][title]">
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <img class="img-responsive" src="{{ media.pictureUrl }}" alt="">
                </div>
                <div class="col-xs-8">
                    {{ media.title }}
                </div>
                <div class="col-xs-2 text-right">
                    <a class="btn btn-danger widget-media-delete">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<hr>

<a class="add-media-widget-button btn btn-block btn-success" href="{{ Router.Create("media-gallery-widget-browse") }}"
   data-toggle="modal" data-target="#galleryWidgetModal">
    Add Media
</a>


<div class="modal bounceIn animated" id="galleryWidgetModal" tabindex="-1" role="dialog"
     aria-labelledby="galleryWidgetModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Media</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="add-media-to-widget-button" class="btn btn-primary">Add Media</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<script type="text/javascript">
    function mediaWidgetReorganizeIndexes() {
        // arrange all indexes
        var elements = $("#media-list-holder > .container-fluid");
        var i = 0;
        elements.each(function () {
            var inputs = $(this).find("input");
            $(inputs[0]).attr("name", "media[" + i + "][mediaId]");
            $(inputs[1]).attr("name", "media[" + i + "][pictureUrl]");
            $(inputs[2]).attr("name", "media[" + i + "][title]");
            i++;
        });

        return i;
    }

    $("#media-list-holder").on("click", ".widget-media-delete", function () {
        $(this).closest(".container-fluid").remove();
        mediaWidgetReorganizeIndexes();
    });

    $("#media-list-holder").sortable({
        update: function () {
            mediaWidgetReorganizeIndexes();
        }
    });

</script>