<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title" class="form-control"
           value="{{ widget.Options.title }}"/>
</div>

<div class="form-group">
    <label>Description</label>
    <input type="text" placeholder="Description" name="description" class="form-control"
           value="{{ widget.Options.description }}"/>
</div>

<div class="form-group">
    <label>Icon</label>
    <input type="text" placeholder="Icon" name="icon" class="form-control"
           value="{{ widget.Options.icon }}"/>
</div>