<div class="form-group">
	<label>Title</label>
	<input type="text" placeholder="Title" name="title" class="form-control"
		   value="{{ widget.Options.title }}"/>
</div>

<div class="form-group">
	<label>Subtitle</label>
	<input type="text" placeholder="Subtitle" name="subtitle" class="form-control"
		   value="{{ widget.Options.subtitle }}"/>
</div>

<div class="form-group">
	<label>Number of Items <em>(enter 0 for all posts)</em></label>
	<input type="number" step="1" min="0" placeholder="Number" name="number" class="form-control"
		   value="{{ widget.Options.number }}"/>
</div>