{% set uid = random() %}

<h5>Coordinates</h5>

<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>Latitude</label>
            <input type="text" placeholder="Latitude" name="latitude" class="form-control"
                   value="{{ widget.Options.latitude }}"/>
        </div>
        <div class="col-md-6">
            <label>Longitude</label>
            <input type="text" placeholder="Longitude" name="longitude" class="form-control"
                   value="{{ widget.Options.longitude }}"/>
        </div>
    </div>
</div>

<h5>Location Marker</h5>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label>Line 1 (name)</label>
            <input type="text" placeholder="Line 1" name="line1" class="form-control"
                   value="{{ widget.Options.line1 }}"/>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label>Line 2 (address)</label>
            <input type="text" placeholder="Line 2" name="line2" class="form-control"
                   value="{{ widget.Options.line2 }}"/>
        </div>
    </div>
</div>
