{% set uid = random() %}

<h5>New Member</h5>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label>Picture</label>
        </div>
    </div>
    <a data-toggle="modal" data-background href="{{ Router.Create("media-people-widget-browse") }}"
       data-target="#peopleGalleryWidgetModal-{{ uid }}"
       class="widget-people-picture-holder">
        <input type="hidden" id="picture-{{ uid }}" name="picture" value="{{ widget.Options.picture }}" class="hidden">
    </a>
</div>

<div class="form-group">
    <label>Name</label>
    <input type="text" placeholder="Name" name="name" class="form-control"
           value="{{ widget.Options.name }}"/>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>Desccription</label>
        <textarea name="description" class="form-control">{{ widget.Options.description }}</textarea>
    </div>
</div>

{# Social Icons#}

<h5>Social Icon</h5>


<div class="button-widget-form">
    <div class="form-group">
        <label>Icon</label>
        {{ HtmlHelper.SearchableSelect({
            facebook: "Facebook",
            paypal: "Paypal",
            googlePlus: "Google Plus",
            wikipedia: "Wikipedia",
            spotify: "Spotify",
            reddit: "Reddit",
            linkedIn: "Linked In",
            skype: "Skype",
            twitter: "Twitter",
            youtube: "Youtube",
            vimeo: "Vimeo",
            yahoo: "Yahoo",
            dropbox: "Dropbox",
            ebay: "Ebay",
            trumblr: "Trumblr",
            wordpress: "Wordpress",
            yelp: "Yelp",
            acrobat: "Acrobat",
            amazon: "Amazon",
            appstore: "Appstore",
            pinterst: "Pinterst",
        }, "socialIcon", widget.Options.socialIcon)|raw }}
    </div>
    <div class="form-group">
        <label>Icon Url</label>
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="url" class="widget-url form-control"
                       value="{{ widget.Options.url }}" placeholder="Url"/>
            </div>
        </div>
    </div>
</div>

{# Progress Bar #}

<h5>Progress Bar</h5>


<label>Skill I</label>

<div class="form-group">
    <div class="row">
        <div class="col-md-8">
            <input type="text" placeholder="Title" name="titleI" class="form-control"
                   value="{{ widget.Options.titleI }}"/>
        </div>
        <div class="col-md-4">
            <input type="text" placeholder="Progress" name="progressI" class="form-control"
                   value="{{ widget.Options.progressI }}"/>
        </div>
    </div>
</div>

<label>Skill II</label>

<div class="form-group">
    <div class="row">
        <div class="col-md-8">
            <input type="text" placeholder="Title" name="titleII" class="form-control"
                   value="{{ widget.Options.titleII }}"/>
        </div>
        <div class="col-md-4">
            <input type="text" placeholder="Progress" name="progressII" class="form-control"
                   value="{{ widget.Options.progressII }}"/>
        </div>
    </div>
</div>

<label>Skill III</label>

<div class="form-group">
    <div class="row">
        <div class="col-md-8">
            <input type="text" placeholder="Title" name="titleIII" class="form-control"
                   value="{{ widget.Options.titleIII }}"/>
        </div>
        <div class="col-md-4">
            <input type="text" placeholder="Progress" name="progressIII" class="form-control"
                   value="{{ widget.Options.progressIII }}"/>
        </div>
    </div>
</div>

<label>Skill IV</label>

<div class="form-group">
    <div class="row">
        <div class="col-md-8">
            <input type="text" placeholder="Title" name="titleIV" class="form-control"
                   value="{{ widget.Options.titleIV }}"/>
        </div>
        <div class="col-md-4">
            <input type="text" placeholder="Progress" name="progressIV" class="form-control"
                   value="{{ widget.Options.progressIV }}"/>
        </div>
    </div>
</div>

<label>Skill V</label>

<div class="form-group">
    <div class="row">
        <div class="col-md-8">
            <input type="text" placeholder="Title" name="titleV" class="form-control"
                   value="{{ widget.Options.titleV }}"/>
        </div>
        <div class="col-md-4">
            <input type="text" placeholder="Progress" name="progressV" class="form-control"
                   value="{{ widget.Options.progressV }}"/>
        </div>
    </div>
</div>

<div class="modal bounceIn animated" id="peopleGalleryWidgetModal-{{ uid }}" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Media</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="add-media-to-widget-button" class="btn btn-primary">Add Media</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<script type="text/javascript">
    $(document).ready(function () {
        $(".widget-people-picture-holder").on("click", function () {
            $("#peopleGalleryWidgetModal-{{ uid }}").data("targetInput", $(this).find("input"));
        });
    });
</script>