<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title" class="form-control"
           value="{{ widget.Options.title }}"/>
</div>

<div class="form-group">
    <label>Mode</label>
	{{ HtmlHelper.SearchableSelect({grid: "Grid", slider: "Slider"}, "mode", widget.Options.mode)|raw }}
</div>

<h5>Offers</h5>

<div id="blog-pages-list-holder">
	{% for offer in widget.Options.offers %}
        <div class="container-fluid widget-sortable-unit">
            <div class="row">
                <div class="col-xs-10">
					{{ HtmlHelper.SearchableSelect(SelectableHelper.Offers(), "offers[" ~ loop.index0 ~ "]", offer)|raw }}
                </div>
                <div class="col-xs-2 text-right">
                    <a class="btn btn-danger widget-offer-delete">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
	{% endfor %}
</div>

<hr>

<a class="add-blog-page-widget-button btn btn-block btn-success">Add Offer</a>

<div class="hidden">
    <div id="pages-select">
		{{ HtmlHelper.SearchableSelect(SelectableHelper.Offers(), "")|raw }}
    </div>
</div>

<script type="text/javascript">
	function offersWidgetReorganizeIndexes() {
		// arrange all indexes
		var artistElements = $("#blog-pages-list-holder > .container-fluid");
		var i = 0;
		artistElements.each(function () {
			var inputs = $(this).find("select");
			$(inputs[0]).attr("name", "offers[" + i + "]");
			i++;
		});

		return i;
	}

	$(".add-blog-page-widget-button").on("click", function () {
		var i = offersWidgetReorganizeIndexes();

		var newEl = $("<div>").addClass("container-fluid widget-sortable-unit");
		var select = $("#pages-select").find("select").clone();
		newEl.append(
			$("<div>").addClass("row")
				.append($("<div>").addClass("col-xs-10").append(select.attr("name", "offers[" + i + "]")))
				.append($("<div>").addClass("col-xs-2 text-right").append($("<a>").addClass("btn btn-danger widget-offer-delete").append($("<i>").addClass("fa fa-times"))))
		);

		$("#blog-pages-list-holder").append(newEl);
	});

	$("#blog-pages-list-holder").on("click", ".widget-offer-delete", function () {
		$(this).closest(".container-fluid").remove();
		offersWidgetReorganizeIndexes()
	});

	$("#blog-pages-list-holder").sortable({
		update: function () {
			offersWidgetReorganizeIndexes();
		}
	});

</script>