<div class="form-group">
    <label>Number of items in row</label>
    {{ HtmlHelper.Select({4:4, 5:5, 6:6}, 'items', widget.Options.items, "Items in row")|raw }}
</div>

<h5>Pages</h5>

<div id="blog-pages-list-holder">
    {% for page in widget.Options.pages %}
        <div class="container-fluid widget-sortable-unit">
            <div class="row">
                <div class="col-xs-10">
                    {{ HtmlHelper.SearchableSelect(SelectableHelper.Pages(), "pages[" ~ loop.index0 ~ "]", page)|raw }}
                </div>
                <div class="col-xs-2 text-right">
                    <a class="btn btn-danger widget-blog-page-delete">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<hr>

<a class="add-blog-page-widget-button btn btn-block btn-success">Add Page</a>

<div class="hidden">
    <div id="pages-select">
        {{ HtmlHelper.SearchableSelect(SelectableHelper.Pages(), "")|raw }}
    </div>
</div>

<script type="text/javascript">
    function blogPageWidgetReorganizeIndexes() {
        // arrange all indexes
        var artistElements = $("#blog-pages-list-holder > .container-fluid");
        var i = 0;
        artistElements.each(function () {
            var inputs = $(this).find("select");
            $(inputs[0]).attr("name", "pages[" + i + "]");
            i++;
        });

        return i;
    }


    $(".add-blog-page-widget-button").on("click", function () {
        var i = blogPageWidgetReorganizeIndexes();

        var newEl = $("<div>").addClass("container-fluid widget-sortable-unit");
        var select = $("#pages-select").find("select").clone();
        newEl.append(
                $("<div>").addClass("row")
                        .append($("<div>").addClass("col-xs-10").append(select.attr("name", "pages[" + i + "]")))
                        .append($("<div>").addClass("col-xs-2 text-right").append($("<a>").addClass("btn btn-danger widget-artists-delete").append($("<i>").addClass("fa fa-times"))))
        );

        $("#blog-pages-list-holder").append(newEl);
    });

    $("#blog-pages-list-holder").on("click", ".widget-blog-page-delete", function () {
        $(this).closest(".container-fluid").remove();
        blogPageWidgetReorganizeIndexes()
    });

    $("#blog-pages-list-holder").sortable({
        update: function () {
            blogPageWidgetReorganizeIndexes();
        }
    });

</script>