{% set uid = random() %}

<h5>Player Box</h5>

<div class="form-group">
    <label>Position</label>
    {{ HtmlHelper.SearchableSelect({c: "Centar", pf: "Power Forward", sf: "Small Forward", sg: "Small Guard", pg: "Point Guard"}, "Position", widget.Options.position)|raw }}
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label class="ckbox">
                <input type="checkbox" name="captain"
                       {% if widget.Options.captain == "on" %}checked="checked"{% endif %}>
                <span>Captain</span>
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label>Number</label>
    <input type="text" placeholder="Number" name="number" class="form-control"
           value="{{ widget.Options.number }}"/>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label>Picture</label>
        </div>
    </div>
    <a data-toggle="modal" data-background href="{{ Router.Create("media-people-widget-browse") }}"
       data-target="#peopleGalleryWidgetModal-{{ uid }}"
       class="widget-people-picture-holder">
        <input type="hidden" id="picture-{{ uid }}" name="picture" value="{{ widget.Options.picture }}" class="hidden">
    </a>
</div>

<div class="form-group">
    <label>Name</label>
    <input type="text" placeholder="Name" name="name" class="form-control"
           value="{{ widget.Options.name }}"/>
</div>


<div class="modal bounceIn animated" id="peopleGalleryWidgetModal-{{ uid }}" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Media</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="add-media-to-widget-button" class="btn btn-primary">Add Media</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<script type="text/javascript">
    $(document).ready(function () {
        $(".widget-people-picture-holder").on("click", function () {
            $("#peopleGalleryWidgetModal-{{ uid }}").data("targetInput", $(this).find("input"));
        });
    });
</script>