<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title" class="form-control"
           value="{{ widget.Options.title }}"/>
</div>

<div class="form-group">
    <label>State</label>
    <select name="state" class="form-control">
        <option value="collapsed"
                {% if item.state == "collapsed" or not item.state %}selected{% endif %}>Collapsed
        </option>
        <option value="open"
                {% if item.state == "open" %}selected{% endif %}>Open
        </option>
    </select>
</div>

<h5>Items</h5>

<div id="blog-items-list-holder">
    {% for item in widget.Options.items %}
        <div class="container-fluid widget-sortable-unit">
            <div class="row">
                <div class="col-xs-10">
                    {{ HtmlHelper.SearchableSelect(SelectableHelper.PressKits(), "items[" ~ loop.index0 ~ "]", item)|raw }}
                </div>
                <div class="col-xs-2 text-right">
                    <a class="btn btn-danger widget-blog-item-delete">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<hr>

<a class="add-blog-item-widget-button btn btn-block btn-success">Add Item</a>

<div class="hidden">
    <div id="items-select">
        {{ HtmlHelper.SearchableSelect(SelectableHelper.PressKits())|raw }}
    </div>
</div>

<script type="text/javascript">
    function blogItemWidgetReorganizeIndexes() {
        // arrange all indexes
        var artistElements = $("#blog-items-list-holder > .container-fluid");
        var i = 0;
        artistElements.each(function () {
            var inputs = $(this).find("select");
            $(inputs[0]).attr("name", "items[" + i + "]");
            i++;
        });

        return i;
    }


    $(".add-blog-item-widget-button").on("click", function () {
        var i = blogItemWidgetReorganizeIndexes();

        var newEl = $("<div>").addClass("container-fluid widget-sortable-unit");
        var select = $("#items-select").find("select").clone();
        newEl.append(
                $("<div>").addClass("row")
                        .append($("<div>").addClass("col-xs-10").append(select.attr("name", "items[" + i + "]")))
                        .append($("<div>").addClass("col-xs-2 text-right").append($("<a>").addClass("btn btn-danger widget-artists-delete").append($("<i>").addClass("fa fa-times"))))
        );

        $("#blog-items-list-holder").append(newEl);
    });

    $("#blog-items-list-holder").on("click", ".widget-blog-item-delete", function () {
        $(this).closest(".container-fluid").remove();
        blogItemWidgetReorganizeIndexes()
    });

    $("#blog-items-list-holder").sortable({
        update: function () {
            blogItemWidgetReorganizeIndexes();
        }
    });

</script>