<h5>Promo Box</h5>

<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title" class="form-control"
           value="{{ widget.Options.title }}"/>
</div>

<div class="form-group">
    <label>Subtitle</label>
    <input type="text" placeholder="Subtitle" name="subtitle" class="form-control"
           value="{{ widget.Options.subtitle }}"/>
</div>

<div class="form-group">
    <label>Button text</label>
    <input type="text" placeholder="Button text" name="buttonText" class="form-control"
           value="{{ widget.Options.buttonText }}"/>
</div>

<div class="form-group">
    <label>Button url</label>
    <input type="text" placeholder="Button url" name="buttonUrl" class="form-control"
           value="{{ widget.Options.buttonUrl }}"/>
</div>

<div class="form-group">
    <label>Button Positon</label>
    {{ HtmlHelper.SearchableSelect({left: "Left", center: "Center", right: "Right"}, "buttonPosition", widget.Options.buttonPosition)|raw }}
</div>

<div class="form-group">
    <label>Style</label>
    {{ HtmlHelper.SearchableSelect({white: "White", light: "Light", dark: "Dark", flat: "Flat"}, "style", widget.Options.style)|raw }}
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label class="ckbox">
                <input type="checkbox" name="border"
                       {% if widget.Options.border == "on" %}checked="checked"{% endif %}>
                <span>Border</span>
            </label>
        </div>
    </div>
</div>
