{% set uid = random() %}

<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title" class="form-control"
           value="{{ widget.Options.title }}"/>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label>Picture</label>
        </div>
    </div>
    <a data-toggle="modal" data-background href="{{ Router.Create("media-people-widget-browse") }}"
       data-target="#peopleGalleryWidgetModal-{{ uid }}"
       class="widget-people-picture-holder">
        <input type="hidden" id="picture-{{ uid }}" name="picture" value="{{ widget.Options.picture }}" class="hidden">
    </a>
</div>

<div class="form-group">
    <label>Subtitle</label>
    <input type="text" placeholder="Subtitle" name="subtitle" class="form-control"
           value="{{ widget.Options.subtitle }}"/>
</div>

<div class="form-group">
    <label>Author</label>
    <input type="text" placeholder="Author" name="author" class="form-control"
           value="{{ widget.Options.author }}"/>
</div>

<div class="modal bounceIn animated" id="peopleGalleryWidgetModal-{{ uid }}" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Media</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="add-media-to-widget-button" class="btn btn-primary">Add Media</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<script type="text/javascript">
    $(document).ready(function () {
        $(".widget-people-picture-holder").on("click", function () {
            $("#peopleGalleryWidgetModal-{{ uid }}").data("targetInput", $(this).find("input"));
        });
    });
</script>