<div class="form-group">
    <label>Visibility</label>
    <select name="visibility" class="form-control">
        <option value="">Always Visible</option>
        <option {% if widget.Options.visibility == "mobile" %}selected="selected"{% endif %}  value="mobile">Mobile Only</option>
        <option {% if widget.Options.visibility == "desktop" %}selected="selected"{% endif %} value="desktop">Desktop Only</option>
    </select>
</div>