<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title" class="form-control"
           value="{{ widget.Options.title }}"/>
</div>
<div class="form-group">
    <label>Skill</label>
    <input type="text" placeholder="Skill" name="skill" class="form-control"
           value="{{ widget.Options.skill }}"/>
</div>
<div class="form-group">
    <label>Icon Type</label>
    <input type="text" name="icon" class="widget-title form-control"
           value="{{ widget.Options.icon }}" placeholder="icon"/>
</div>
