<div class="button-widget-form">
    <div class="form-group">
        <label>Icon</label>
        {{ HtmlHelper.SearchableSelect({
            facebook: "Facebook",
            paypal: "Paypal",
            googlePlus: "Google Plus",
            wikipedia: "Wikipedia",
            spotify: "Spotify",
            reddit: "Reddit",
            linkedIn: "Linked In",
            skype: "Skype",
            twitter: "Twitter",
            youtube: "Youtube",
            vimeo: "Vimeo",
            yahoo: "Yahoo",
            dropbox: "Dropbox",
            ebay: "Ebay",
            trumblr: "Trumblr",
            wordpress: "Wordpress",
            yelp: "Yelp",
            acrobat: "Acrobat",
            amazon: "Amazon",
            appstore: "Appstore",
            pinterst: "Pinterst",
        }, "socialIcon", widget.Options.socialIcon)|raw }}
    </div>
    <div class="form-group">
        <label>Icon Url</label>
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="url" class="widget-url form-control"
                       value="{{ widget.Options.url }}" placeholder="Url"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Open link in</label>
        {{ HtmlHelper.SearchableSelect({_self: "Same tab", _blank: "New tab"}, "target", widget.Options.target)|raw }}
    </div>
    <div class="form-group">
        <label>Size</label>
        {{ HtmlHelper.SearchableSelect({default: "Default", small: "Small", large: "Large"}, "size", widget.Options.size)|raw }}
    </div>
    <div class="form-group">
        <label>Style</label>
        {{ HtmlHelper.SearchableSelect({default: "Default", light: "Light", dark: "Dark", textColor: "Text-color", colored: "Colored"}, "style", widget.Options.style)|raw }}
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="ckbox">
                    <input type="checkbox" name="border"
                           {% if widget.Options.border == "on" %}checked="checked"{% endif %}>
                    <span>Border</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="ckbox">
                    <input type="checkbox" name="rounded"
                           {% if widget.Options.rounded == "on" %}checked="checked"{% endif %}>
                    <span>Rounded</span>
                </label>
            </div>
        </div>
    </div>
</div>