{% set uid = random() %}

<div class="form-group">
    <label>Sponsor Group</label>
    {{ HtmlHelper.SearchableSelect(SelectableHelper.SponsorGroups(), "sponsorGroup", widget.Options.sponsorGroup)|raw }}
</div>