<h5>First tab</h5>
<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title" class="form-control"
           value="{{ widget.Options.title }}"/>
</div>

<div class="form-group">
    <label>Title icon</label>
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="icon" class="widget-title form-control"
                   value="{{ widget.Options.icon }}" placeholder="icon"/>
        </div>
    </div>
</div>

<div class="form-group">
    <label>Tab text</label>
    <input type="text" placeholder="Tab text" name="tabText" class="form-control"
           value="{{ widget.Options.tabText }}"/>
</div>

{# Second tab #}
<h5>Second tab</h5>
<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title2" class="form-control"
           value="{{ widget.Options.title2 }}"/>
</div>

<div class="form-group">
    <label>Tab text</label>
    <input type="text" placeholder="Tab text" name="tabText2" class="form-control"
           value="{{ widget.Options.tabText2 }}"/>
</div>

{# Third tab #}
<h5>Third tab</h5>
<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title3" class="form-control"
           value="{{ widget.Options.title3 }}"/>
</div>

<div class="form-group">
    <label>Tab text</label>
    <input type="text" placeholder="Tab text" name="tabText3" class="form-control"
           value="{{ widget.Options.tabText3 }}"/>
</div>

{# Forth tab #}
<h5>Forth tab</h5>
<div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="Title" name="title4" class="form-control"
           value="{{ widget.Options.title4 }}"/>
</div>

<div class="form-group">
    <label>Tab text</label>
    <input type="text" placeholder="Tab text" name="tabText4" class="form-control"
           value="{{ widget.Options.tabText4 }}"/>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label class="ckbox">
                <input type="checkbox" name="sideTabs"
                       {% if widget.Options.sideTabs == "on" %}checked="checked"{% endif %}>
                <span>Side tabs</span>
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label class="ckbox">
                <input type="checkbox" name="border"
                       {% if widget.Options.border == "on" %}checked="checked"{% endif %}>
                <span>Tabs-border</span>
            </label>
        </div>
    </div>
</div>
