<h5>Title</h5>

<div class="form-group">
    <label>Black</label>
    <input type="text" placeholder="Black" name="black" class="form-control"
           value="{{ widget.Options.black }}"/>
</div>
<div class="form-group">
    <label>Colored</label>
    <input type="text" placeholder="Colored" name="colored" class="form-control"
           value="{{ widget.Options.colored }}"/>
</div>

