<div class="form-group">
    <label>Embed Url ( Manual: Click share, then embed, show more, check options bellow the video that you want, then copy part of the link above the video starting from https:// to closing tag )</label>
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="url" class="widget-url form-control"
                   value="{{ widget.Options.url }}" placeholder="Embed Url"/>
        </div>
    </div>
</div>